# MongoDB

<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Warmup" data-toc-modified-id="Warmup-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Warmup</a></span></li><li><span><a href="#Connection" data-toc-modified-id="Connection-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Connection</a></span></li><li><span><a href="#Database-management-operations" data-toc-modified-id="Database-management-operations-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Database management operations</a></span></li><li><span><a href="#Querying-documents" data-toc-modified-id="Querying-documents-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Querying documents</a></span><ul class="toc-item"><li><span><a href="#find_one-method" data-toc-modified-id="find_one-method-4.1"><span class="toc-item-num">4.1&nbsp;&nbsp;</span><code>find_one</code> method</a></span></li><li><span><a href="#find-method" data-toc-modified-id="find-method-4.2"><span class="toc-item-num">4.2&nbsp;&nbsp;</span><code>find</code> method</a></span></li></ul></li><li><span><a href="#Projecting" data-toc-modified-id="Projecting-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>Projecting</a></span></li><li><span><a href="#Other-methods" data-toc-modified-id="Other-methods-6"><span class="toc-item-num">6&nbsp;&nbsp;</span>Other methods</a></span><ul class="toc-item"><li><span><a href="#distinct" data-toc-modified-id="distinct-6.1"><span class="toc-item-num">6.1&nbsp;&nbsp;</span><code>distinct</code></a></span></li><li><span><a href="#count" data-toc-modified-id="count-6.2"><span class="toc-item-num">6.2&nbsp;&nbsp;</span><code>count</code></a></span></li><li><span><a href="#sort" data-toc-modified-id="sort-6.3"><span class="toc-item-num">6.3&nbsp;&nbsp;</span><code>sort</code></a></span></li><li><span><a href="#limit" data-toc-modified-id="limit-6.4"><span class="toc-item-num">6.4&nbsp;&nbsp;</span><code>limit</code></a></span></li><li><span><a href="#skip" data-toc-modified-id="skip-6.5"><span class="toc-item-num">6.5&nbsp;&nbsp;</span><code>skip</code></a></span></li></ul></li><li><span><a href="#Typical-query-operators" data-toc-modified-id="Typical-query-operators-7"><span class="toc-item-num">7&nbsp;&nbsp;</span>Typical query operators</a></span><ul class="toc-item"><li><span><a href="#greater-than-/-less-than" data-toc-modified-id="greater-than-/-less-than-7.1"><span class="toc-item-num">7.1&nbsp;&nbsp;</span>greater than / less than</a></span></li><li><span><a href="#exists" data-toc-modified-id="exists-7.2"><span class="toc-item-num">7.2&nbsp;&nbsp;</span><code>exists</code></a></span></li><li><span><a href="#regex" data-toc-modified-id="regex-7.3"><span class="toc-item-num">7.3&nbsp;&nbsp;</span><code>regex</code></a></span></li><li><span><a href="#and" data-toc-modified-id="and-7.4"><span class="toc-item-num">7.4&nbsp;&nbsp;</span><code>and</code></a></span></li><li><span><a href="#or" data-toc-modified-id="or-7.5"><span class="toc-item-num">7.5&nbsp;&nbsp;</span><code>or</code></a></span></li><li><span><a href="#ne" data-toc-modified-id="ne-7.6"><span class="toc-item-num">7.6&nbsp;&nbsp;</span><code>ne</code></a></span></li><li><span><a href="#in" data-toc-modified-id="in-7.7"><span class="toc-item-num">7.7&nbsp;&nbsp;</span><code>in</code></a></span></li><li><span><a href="#nin" data-toc-modified-id="nin-7.8"><span class="toc-item-num">7.8&nbsp;&nbsp;</span><code>nin</code></a></span></li></ul></li><li><span><a href="#Update" data-toc-modified-id="Update-8"><span class="toc-item-num">8&nbsp;&nbsp;</span>Update</a></span></li><li><span><a href="#Delete" data-toc-modified-id="Delete-9"><span class="toc-item-num">9&nbsp;&nbsp;</span>Delete</a></span></li><li><span><a href="#Geoqueries" data-toc-modified-id="Geoqueries-10"><span class="toc-item-num">10&nbsp;&nbsp;</span>Geoqueries</a></span><ul class="toc-item"><li><span><a href="#Import-collections" data-toc-modified-id="Import-collections-10.1"><span class="toc-item-num">10.1&nbsp;&nbsp;</span>Import collections</a></span></li><li><span><a href="#Create-geo-indexes" data-toc-modified-id="Create-geo-indexes-10.2"><span class="toc-item-num">10.2&nbsp;&nbsp;</span>Create geo indexes</a></span></li><li><span><a href="#Geometries" data-toc-modified-id="Geometries-10.3"><span class="toc-item-num">10.3&nbsp;&nbsp;</span>Geometries</a></span></li><li><span><a href="#Run-geoqueries" data-toc-modified-id="Run-geoqueries-10.4"><span class="toc-item-num">10.4&nbsp;&nbsp;</span>Run geoqueries</a></span><ul class="toc-item"><li><span><a href="#geoIntersects" data-toc-modified-id="geoIntersects-10.4.1"><span class="toc-item-num">10.4.1&nbsp;&nbsp;</span><code>geoIntersects</code></a></span></li><li><span><a href="#geoWithin" data-toc-modified-id="geoWithin-10.4.2"><span class="toc-item-num">10.4.2&nbsp;&nbsp;</span><code>geoWithin</code></a></span></li><li><span><a href="#nearSphere" data-toc-modified-id="nearSphere-10.4.3"><span class="toc-item-num">10.4.3&nbsp;&nbsp;</span><code>nearSphere</code></a></span></li></ul></li></ul></li><li><span><a href="#Summary" data-toc-modified-id="Summary-11"><span class="toc-item-num">11&nbsp;&nbsp;</span>Summary</a></span></li><li><span><a href="#Further-materials" data-toc-modified-id="Further-materials-12"><span class="toc-item-num">12&nbsp;&nbsp;</span>Further materials</a></span></li></ul></div>

## Warmup

[Mongo is not a SQL database](https://www.youtube.com/watch?v=DM4gD6Z5zFU&ab_channel=BitechStudio)

## Connection

First, make sure there is a mongo process running...

In [1]:
!pip install pymongo

Requirement already satisfied: pymongo in /home/sheriff/miniconda3/envs/ironhack/lib/python3.8/site-packages (3.11.0)

In [1]:
from pymongo import MongoClient

In [2]:
conn = MongoClient("localhost:27017")

## Database management operations

In [3]:
# show existing database names
conn.list_database_names()

['admin', 'config', 'ironhack', 'local']

In [4]:
# choose database to work with
db = conn.get_database("ironhack")

In [5]:
db

Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'ironhack')

In [6]:
# show collections inside database
db.list_collection_names()

['restaurants',
 'books',
 'companies',
 'countries_small',
 'neighborhoods',
 'restaurants2']

In [7]:
# create collection 
db.create_collection("test_collection")

Collection(Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'ironhack'), 'test_collection')

In [8]:
# show collections inside database
db.list_collection_names()

['restaurants',
 'books',
 'companies',
 'countries_small',
 'neighborhoods',
 'test_collection',
 'restaurants2']

In [9]:
# drop collection 
db.drop_collection("test_collection")

{'nIndexesWas': 1, 'ns': 'ironhack.test_collection', 'ok': 1.0}

In [10]:
# show collections inside database
db.list_collection_names()

['restaurants',
 'books',
 'companies',
 'countries_small',
 'neighborhoods',
 'restaurants2']

In [5]:
# choose collection to work with
collection = db.get_collection("restaurants")

## Querying documents

### `find_one` method

`collection.find_one(filter)`

In [18]:
# no filter
collection.find_one()

{'_id': ObjectId('55f14312c7447c3da7051b26'),
 'URL': 'http://www.just-eat.co.uk/restaurants-cn-chinese-cardiff/menu',
 'address': '228 City Road',
 'address line 2': 'Cardiff',
 'name': '.CN Chinese',
 'outcode': 'CF24',
 'postcode': '3JH',
 'rating': 5,
 'type_of_food': 'Chinese'}

In [19]:
collection.find_one().keys()

dict_keys(['_id', 'URL', 'address', 'address line 2', 'name', 'outcode', 'postcode', 'rating', 'type_of_food'])

Careful! Not all documents need to have same keys!

In [20]:
collection.find_one({"rating": 4})

{'_id': ObjectId('55f14312c7447c3da7051b3a'),
 'URL': 'http://www.just-eat.co.uk/restaurants-1pizza1com-ls26/menu',
 'address': '160 Leeds Road',
 'address line 2': 'Leeds',
 'name': '1pizza1',
 'outcode': 'LS26',
 'postcode': '0JH',
 'rating': 4,
 'type_of_food': 'Pizza'}

### `find` method

`collection.find(filter)`

Lets find all documents in the collection, with no filter

In [21]:
documents = collection.find()

In [22]:
documents

In [23]:
type(documents)

pymongo.cursor.Cursor

In [25]:
len(documents)

TypeError: object of type 'Cursor' has no len()

`pymongo` collection method `find` returns a Cursor:
 * a Cursor is an iterator
 * a Cursor therefore has the method `__next__` (function `next` returns next element in stream)
 * `pymongo` does not bring information to memory until needed
 * a Cursor does not have `len`

In [29]:
next(documents)

{'_id': ObjectId('55f14312c7447c3da7051b2e'),
 'URL': 'http://www.just-eat.co.uk/restaurants-042-restaurant-e11/menu',
 'address': '885 High Road Leytonstone',
 'address line 2': 'London',
 'name': '042 Restaurant & Bar',
 'outcode': 'E11',
 'postcode': '1HR',
 'rating': 3,
 'type_of_food': 'African'}

In [30]:
documents2 = collection.find({"rating": 6})

In [31]:
documents2

In [32]:
top_rated = list(documents2)

In [34]:
top_rated

[{'_id': ObjectId('55f14312c7447c3da7051b2a'),
  'URL': 'http://www.just-eat.co.uk/restaurants-indiancom-ch4/menu',
  'address': '9 Broughton Hall Road',
  'address line 2': 'Broughton',
  'name': '@Indian.com',
  'outcode': 'CH4',
  'postcode': '0QR',
  'rating': 6,
  'type_of_food': 'Curry'},
 {'_id': ObjectId('55f14312c7447c3da7051b2b'),
  'URL': 'http://www.just-eat.co.uk/restaurants-007takeaway-s65/menu',
  'address': '6 Drummond Street',
  'address line 2': 'Rotherham',
  'name': '007 Takeaway',
  'outcode': 'S65',
  'postcode': '1HY',
  'rating': 6,
  'type_of_food': 'Pizza'},
 {'_id': ObjectId('55f14312c7447c3da7051bbc'),
  'URL': 'http://www.just-eat.co.uk/restaurants-aarthi-sw19/menu',
  'address': '5 Kingston Road',
  'address line 2': 'London',
  'name': 'Aarthi',
  'outcode': 'SW19',
  'postcode': '1JX',
  'rating': 6,
  'type_of_food': 'Curry'},
 {'_id': ObjectId('55f14312c7447c3da7051bfb'),
  'URL': 'http://www.just-eat.co.uk/restaurants-absharindian-ig6/menu',
  'address': '43 High Street',
  'address line 2': 'Ilford',
  'name': 'Abshar Indian Cuisine',
  'outcode': 'IG6',
  'postcode': '2AD',
  'rating': 6,
  'type_of_food': 'Punjabi'},
 {'_id': ObjectId('55f14312c7447c3da7051c82'),
  'URL': 'http://www.just-eat.co.uk/restaurants-agra-warminster/menu',
  'address': '32 East Street',
  'address line 2': 'Wiltshire',
  'name': 'Agra',
  'outcode': 'BA12',
  'postcode': '9BN',
  'rating': 6,
  'type_of_food': 'Curry'},
 {'_id': ObjectId('55f14312c7447c3da7051ca4'),
  'URL': 'http://www.just-eat.co.uk/restaurants-aji-tn23/menu',
  'address': '23 New Rents',
  'address line 2': 'Ashford',
  'name': 'Aji - Collection Only',
  'outcode': 'TN23',
  'postcode': '2JJ',
  'rating': 6,
  'type_of_food': 'Japanese'},
 {'_id': ObjectId('55f14312c7447c3da7051cbd'),
  'URL': 'http://www.just-eat.co.uk/restaurants-akash-accrington-accrington/menu',
  'address': '87 Whalley Road',
  'address line 2': 'Accrington',
  'name': 'Akash Accrington',
  'outcode': 'BB5',
  'postcode': '1AS',
  'rating': 6,
  'type_of_food': 'Curry'},
 {'_id': ObjectId('55f14312c7447c3da7051cf0'),
  'URL': 'http://www.just-eat.co.uk/restaurants-alfrangos-lu1/menu',
  'address': '14 Wellington Street',
  'address line 2': 'Luton',
  'name': 'Al Frango',
  'outcode': 'LU1',
  'postcode': '2HQ',
  'rating': 6,
  'type_of_food': 'Mediterranean'},
 {'_id': ObjectId('55f14312c7447c3da7051d00'),
  'URL': 'http://www.just-eat.co.uk/restaurants-almedinadelights-b11/menu',
  'address': '2 Walford Road',
  'address line 2': 'Sparkhill',
  'name': 'Al Medina Delights - Collection Only',
  'outcode': 'B11',
  'postcode': '1NR',
  'rating': 6,
  'type_of_food': 'Pasta'},
 {'_id': ObjectId('55f14312c7447c3da7051d4c'),
  'URL': 'http://www.just-eat.co.uk/restaurants-alcatraz-caffe-bournemouth-bournemouth/menu',
  'address': '127 Christchurch Road',
  'address line 2': 'Bournemouth',
  'name': 'Alcatraz Caffe Bournemouth',
  'outcode': 'BH1',
  'postcode': '1EP',
  'rating': 6,
  'type_of_food': 'Pizza'},
 {'_id': ObjectId('55f14312c7447c3da7051d5b'),
  'URL': 'http://www.just-eat.co.uk/restaurants-alexplaice-nw6/menu',
  'address': '314 Kilburn High Road',
  'address line 2': 'London',
  'name': 'Alex Plaice',
  'outcode': 'NW6',
  'postcode': '2DG',
  'rating': 6,
  'type_of_food': 'Fish & Chips'},
 {'_id': ObjectId('55f14312c7447c3da7051d5c'),
  'URL': 'http://www.just-eat.co.uk/restaurants-alexplaice-nw6/menu',
  'address': '314 Kilburn High Road',
  'address line 2': 'London',
  'name': 'Alex Plaice',
  'outcode': 'NW6',
  'postcode': '2DG',
  'rating': 6,
  'type_of_food': 'Fish & Chips'},
 {'_id': ObjectId('55f14312c7447c3da7051dd1'),
  'URL': 'http://www.just-eat.co.uk/restaurants-allsiam-s11/menu',
  'address': '639 Ecclesall Road',
  'address line 2': 'Sheffield',
  'name': 'All Siam Thai Restaurant - Collection Only',
  'outcode': 'S11',
  'postcode': '8PT',
  'rating': 6,
  'type_of_food': 'Thai'},
 {'_id': ObjectId('55f14312c7447c3da7051e94'),
  'URL': 'http://www.just-eat.co.uk/restaurants-amina-streetly/menu',
  'address': '5 Sutton Oak Corner',
  'address line 2': 'Birmingham',
  'name': 'Amina',
  'outcode': 'B74',
  'postcode': '2DH',
  'rating': 6,
  'type_of_food': 'Curry'},
 {'_id': ObjectId('55f14312c7447c3da7051ea5'),
  'URL': 'http://www.just-eat.co.uk/restaurants-ammanford-fish-bar-ammanford/menu',
  'address': '18 College Street',
  'address line 2': 'Dyfed',
  'name': 'Ammanford Fish Bar',
  'outcode': 'SA18',
  'postcode': '3AF',
  'rating': 6,
  'type_of_food': 'Fish & Chips'},
 {'_id': ObjectId('55f14312c7447c3da7051ed2'),
  'URL': 'http://www.just-eat.co.uk/restaurants-blueginger-rg28/menu',
  'address': '1 Atholl Court',
  'address line 2': 'Andover',
  'name': 'Andover Tandoori - Collection Only',
  'outcode': 'SP10',
  'postcode': '4BB',
  'rating': 6,
  'type_of_food': 'Curry'},
 {'_id': ObjectId('55f14312c7447c3da7051ed3'),
  'URL': 'http://www.just-eat.co.uk/restaurants-blueginger-rg28/menu',
  'address': '1 Atholl Court',
  'address line 2': 'Andover',
  'name': 'Andover Tandoori - Collection Only',
  'outcode': 'SP10',
  'postcode': '4BB',
  'rating': 6,
  'type_of_food': 'Curry'},
 {'_id': ObjectId('55f14312c7447c3da7051edb'),
  'URL': 'http://www.just-eat.co.uk/restaurants-angeethi-indian-express-wrekenton/menu',
  'address': '168 Kells Lane',
  'address line 2': 'Tyne & Wear',
  'name': 'Angeethi Indian Express',
  'outcode': 'NE9',
  'postcode': '5HY',
  'rating': 6,
  'type_of_food': 'Curry'},
 {'_id': ObjectId('55f14312c7447c3da7051f14'),
  'URL': 'http://www.just-eat.co.uk/restaurants-aniss---the-taste-of-perfection-french-walls/menu',
  'address': '32 Waterloo Road',
  'address line 2': 'Smethwick',
  'name': "Anis's - The Taste of Perfection",
  'outcode': 'B66',
  'postcode': '4JW',
  'rating': 6,
  'type_of_food': 'Curry'},
 {'_id': ObjectId('55f14312c7447c3da7051f2c'),
  'URL': 'http://www.just-eat.co.uk/restaurants-annsthai-thebullshead/menu',
  'address': '27 Bilston Street',
  'address line 2': 'Dudley',
  'name': "Ann's Thai@ The Bulls Head",
  'outcode': 'DY3',
  'postcode': '1JA',
  'rating': 6,
  'type_of_food': 'Thai'},
 {'_id': ObjectId('55f14312c7447c3da7051f5e'),
  'URL': 'http://www.just-eat.co.uk/restaurants-arabesque-hampstead/menu',
  'address': '23 Winchester Road',
  'address line 2': 'London',
  'name': 'Arabesque',
  'outcode': 'NW3',
  'postcode': '3NR',
  'rating': 6,
  'type_of_food': 'Mediterranean'},
 {'_id': ObjectId('55f14312c7447c3da7051f8b'),
  'URL': 'http://www.just-eat.co.uk/restaurants-ark-burger-and-salad-bar-bishops-stortford/menu',
  'address': '3 Church Street',
  'address line 2': 'Hertfordshire County',
  'name': 'Ark Burger & Salad Bar',
  'outcode': 'CM23',
  'postcode': '2LY',
  'rating': 6,
  'type_of_food': 'American'},
 {'_id': ObjectId('55f14312c7447c3da7051fa0'),
  'URL': 'http://www.just-eat.co.uk/restaurants-aroma-dl6/menu',
  'address': '1 Zetland Street',
  'address line 2': 'Northallerton',
  'name': 'Aroma Bar Restaurant Takeaway - Collection Only',
  'outcode': 'DL6',
  'postcode': '1NB',
  'rating': 6,
  'type_of_food': 'Curry'},
 {'_id': ObjectId('55f14312c7447c3da7051fa1'),
  'URL': 'http://www.just-eat.co.uk/restaurants-aroma-dl6/menu',
  'address': '1 Zetland Street',
  'address line 2': 'Northallerton',
  'name': 'Aroma Bar Restaurant Takeaway - Collection Only',
  'outcode': 'DL6',
  'postcode': '1NB',
  'rating': 6,
  'type_of_food': 'Curry'},
 {'_id': ObjectId('55f14312c7447c3da7052023'),
  'URL': 'http://www.just-eat.co.uk/restaurants-aslizaiqa-le5/menu',
  'address': '52 Uppingham Road',
  'address line 2': 'Leicestershire',
  'name': 'Asli Zaiqa',
  'outcode': 'LE5',
  'postcode': '0QD',
  'rating': 6,
  'type_of_food': 'Curry'},
 {'_id': ObjectId('55f14312c7447c3da7052029'),
  'URL': 'http://www.just-eat.co.uk/restaurants-aspendos-tn29/menu',
  'address': '67 High Street',
  'address line 2': 'Dymchurch',
  'name': 'Aspendos',
  'outcode': 'TN29',
  'postcode': '0NH',
  'rating': 6,
  'type_of_food': 'Pizza'},
 {'_id': ObjectId('55f14312c7447c3da7052039'),
  'URL': 'http://www.just-eat.co.uk/restaurants-atashpersian-tw8/menu',
  'address': '55 High Street',
  'address line 2': 'Brentford',
  'name': 'Atash Persian Restaurant - Collection Only',
  'outcode': 'TW8',
  'postcode': '0AH',
  'rating': 6,
  'type_of_food': 'Persian'},
 {'_id': ObjectId('55f14312c7447c3da705203a'),
  'URL': 'http://www.just-eat.co.uk/restaurants-atashpersian-tw8/menu',
  'address': '55 High Street',
  'address line 2': 'Brentford',
  'name': 'Atash Persian Restaurant - Collection Only',
  'outcode': 'TW8',
  'postcode': '0AH',
  'rating': 6,
  'type_of_food': 'Persian'},
 {'_id': ObjectId('55f14312c7447c3da705203e'),
  'URL': 'http://www.just-eat.co.uk/restaurants-athenabfishbar-bn41/menu',
  'address': '27 Station Road',
  'address line 2': 'East Sussex',
  'name': 'Athena B Fish Bar - Collection Only',
  'outcode': 'BN41',
  'postcode': '1GB',
  'rating': 6,
  'type_of_food': 'Fish & Chips'},
 {'_id': ObjectId('55f14312c7447c3da705203d'),
  'URL': 'http://www.just-eat.co.uk/restaurants-athenabfishbar-bn41/menu',
  'address': '27 Station Road',
  'address line 2': 'East Sussex',
  'name': 'Athena B Fish Bar - Collection Only',
  'outcode': 'BN41',
  'postcode': '1GB',
  'rating': 6,
  'type_of_food': 'Fish & Chips'},
 {'_id': ObjectId('55f14312c7447c3da7052054'),
  'URL': 'http://www.just-eat.co.uk/restaurants-atlanticgourmet-bt13/menu',
  'address': 'Twin Spires Centre',
  'address line 2': 'County Antrim',
  'name': 'Atlantic Gourmet',
  'outcode': 'BT13',
  'postcode': '2JF',
  'rating': 6,
  'type_of_food': 'Fish & Chips'},
 {'_id': ObjectId('55f14313c7447c3da705208b'),
  'URL': 'http://www.just-eat.co.uk/restaurants-ayubowan-glossop/menu',
  'address': '46-50 High Street West',
  'address line 2': 'Derbyshire',
  'name': 'Ayubowan',
  'outcode': 'SK13',
  'postcode': '8BH',
  'rating': 6,
  'type_of_food': 'Sri-lankan'},
 {'_id': ObjectId('55f14313c7447c3da7052149'),
  'URL': 'http://www.just-eat.co.uk/restaurants-baltihut-ts5/menu',
  'address': '12 Pilkington Buildings',
  'address line 2': 'Middlesborough',
  'name': 'Balti Hut',
  'outcode': 'TS5',
  'postcode': '6DY',
  'rating': 6,
  'type_of_food': 'Curry'},
 {'_id': ObjectId('55f14313c7447c3da70521f3'),
  'URL': 'http://www.just-eat.co.uk/restaurants-barista-n3/menu',
  'address': '24 Ballards Lane',
  'address line 2': 'London',
  'name': 'Barista House Restaurant & Cafe - Collection Only',
  'outcode': 'N3',
  'postcode': '2BJ',
  'rating': 6,
  'type_of_food': 'Pizza'},
 {'_id': ObjectId('55f14313c7447c3da70521f9'),
  'URL': 'http://www.just-eat.co.uk/restaurants-barnaclebills-pr4/menu',
  'address': '8 Kirkham Road',
  'address line 2': 'Freckleton',
  'name': 'Barnacle Bills',
  'outcode': 'PR4',
  'postcode': '1HT',
  'rating': 6,
  'type_of_food': 'Fish & Chips'},
 {'_id': ObjectId('55f14313c7447c3da705222d'),
  'URL': 'http://www.just-eat.co.uk/restaurants-bathsushi-ba2/menu',
  'address': '3 Victoria Buildings',
  'address line 2': 'Somerset',
  'name': 'Bath Sushi',
  'outcode': 'BA2',
  'postcode': '3EH',
  'rating': 6,
  'type_of_food': 'Sushi'},
 {'_id': ObjectId('55f14313c7447c3da7052293'),
  'URL': 'http://www.just-eat.co.uk/restaurants-beastgourmetburgers-tq1/menu',
  'address': '64 Torwood Street',
  'address line 2': 'Torquay',
  'name': 'Beast Gourmet Burgers',
  'outcode': 'TQ1',
  'postcode': '1DT',
  'rating': 6,
  'type_of_food': 'Burgers'},
 {'_id': ObjectId('55f14313c7447c3da7052292'),
  'URL': 'http://www.just-eat.co.uk/restaurants-Bearsteadfishbar/menu',
  'address': '29 Egremont Road',
  'address line 2': 'Kent',
  'name': 'Bearstead Fish Bar - Collection Only',
  'outcode': 'ME15',
  'postcode': '8LH',
  'rating': 6,
  'type_of_food': 'Fish & Chips'},
 {'_id': ObjectId('55f14313c7447c3da705230a'),
  'URL': 'http://www.just-eat.co.uk/restaurants-bellapanini-g77/menu',
  'address': '196 Harvie Avenue',
  'address line 2': 'Glasgow',
  'name': 'Bella Panini',
  'outcode': 'G77',
  'postcode': '6UT',
  'rating': 6,
  'type_of_food': 'Pizza'},
 {'_id': ObjectId('55f14313c7447c3da70523a4'),
  'URL': 'http://www.just-eat.co.uk/restaurants-bennys-sw4/menu',
  'address': '30 North Street',
  'address line 2': 'London',
  'name': "Benny's - Collection Only",
  'outcode': 'SW4',
  'postcode': '0HD',
  'rating': 6,
  'type_of_food': 'Fish & Chips'},
 {'_id': ObjectId('55f14313c7447c3da70523a9'),
  'URL': 'http://www.just-eat.co.uk/restaurants-bennys-grill-house-colne/menu',
  'address': '2 West Street',
  'address line 2': 'Colne',
  'name': "Benny's Grill House",
  'outcode': 'BB8',
  'postcode': '0HP',
  'rating': 6,
  'type_of_food': 'Kebab'},
 {'_id': ObjectId('55f14313c7447c3da70523cf'),
  'URL': 'http://www.just-eat.co.uk/restaurants-best-fish-and-chips-broadstairs/menu',
  'address': '4 High Street',
  'address line 2': 'Broadstairs',
  'name': 'Best Fish & Chips',
  'outcode': 'CT10',
  'postcode': '1LH',
  'rating': 6,
  'type_of_food': 'Fish & Chips'},
 {'_id': ObjectId('55f14313c7447c3da705241b'),
  'URL': 'http://www.just-eat.co.uk/restaurants-bestpizza-rm13/menu',
  'address': '113 Mungo Park Road',
  'address line 2': 'Rainham',
  'name': 'Best Pizza',
  'outcode': 'RM13',
  'postcode': '7PP',
  'rating': 6,
  'type_of_food': 'Pizza'},
 {'_id': ObjectId('55f14313c7447c3da705241c'),
  'URL': 'http://www.just-eat.co.uk/restaurants-best-pizza-littleover/menu',
  'address': '4 Macklin Street',
  'address line 2': 'Derby',
  'name': 'Best Pizza & Kebab',
  'outcode': 'DE1',
  'postcode': '1LE',
  'rating': 6,
  'type_of_food': 'Pizza'},
 {'_id': ObjectId('55f14313c7447c3da705241d'),
  'URL': 'http://www.just-eat.co.uk/restaurants-best-pizza-littleover/menu',
  'address': '4 Macklin Street',
  'address line 2': 'Derby',
  'name': 'Best Pizza & Kebab',
  'outcode': 'DE1',
  'postcode': '1LE',
  'rating': 6,
  'type_of_food': 'Pizza'},
 {'_id': ObjectId('55f14313c7447c3da705247c'),
  'URL': 'http://www.just-eat.co.uk/restaurants-bigfish-tn37/menu',
  'address': '387 London Road',
  'address line 2': 'Hastings',
  'name': 'Big Fish - Collection Only',
  'outcode': 'TN37',
  'postcode': '6PA',
  'rating': 6,
  'type_of_food': 'Fish & Chips'},
 {'_id': ObjectId('55f14313c7447c3da705249e'),
  'URL': 'http://www.just-eat.co.uk/restaurants-bigsaj-b12/menu',
  'address': '231 Edward Road',
  'address line 2': 'Birmingham',
  'name': 'Big Saj',
  'outcode': 'B12',
  'postcode': '9LH',
  'rating': 6,
  'type_of_food': 'Kebab'},
 {'_id': ObjectId('55f14313c7447c3da705249d'),
  'URL': 'http://www.just-eat.co.uk/restaurants-bigsaj-b12/menu',
  'address': '231 Edward Road',
  'address line 2': 'Birmingham',
  'name': 'Big Saj',
  'outcode': 'B12',
  'postcode': '9LH',
  'rating': 6,
  'type_of_food': 'Kebab'},
 {'_id': ObjectId('55f14313c7447c3da70524a6'),
  'URL': 'http://www.just-eat.co.uk/restaurants-biggapotcaribbean-b20/menu',
  'address': '15 College Road',
  'address line 2': 'Birmingham',
  'name': 'Biggapot Caribbean - Collection Only',
  'outcode': 'B20',
  'postcode': '2HY',
  'rating': 6,
  'type_of_food': 'Caribbean'}]

In [35]:
len(top_rated)

49

In [36]:
import pandas as pd

In [37]:
pd.DataFrame(documents2)

Empty DataFrame
Columns: []
Index: []

This happened because the Cursor was already consumed by `list`. If we want to reuse it, we have to run the query again...

In [38]:
documents2 = collection.find({"rating": 6})

In [39]:
df = pd.DataFrame(documents2)
df

,_id,URL,address,address line 2,name,outcode,postcode,rating,type_of_food
0,55f14312c7447c3da7051b2a,http://www.just-eat.co.uk/restaurants-indianco...,9 Broughton Hall Road,Broughton,@Indian.com,CH4,0QR,6,Curry
1,55f14312c7447c3da7051b2b,http://www.just-eat.co.uk/restaurants-007takea...,6 Drummond Street,Rotherham,007 Takeaway,S65,1HY,6,Pizza
2,55f14312c7447c3da7051bbc,http://www.just-eat.co.uk/restaurants-aarthi-s...,5 Kingston Road,London,Aarthi,SW19,1JX,6,Curry
3,55f14312c7447c3da7051bfb,http://www.just-eat.co.uk/restaurants-absharin...,43 High Street,Ilford,Abshar Indian Cuisine,IG6,2AD,6,Punjabi
4,55f14312c7447c3da7051c82,http://www.just-eat.co.uk/restaurants-agra-war...,32 East Street,Wiltshire,Agra,BA12,9BN,6,Curry
5,55f14312c7447c3da7051ca4,http://www.just-eat.co.uk/restaurants-aji-tn23...,23 New Rents,Ashford,Aji - Collection Only,TN23,2JJ,6,Japanese
6,55f14312c7447c3da7051cbd,http://www.just-eat.co.uk/restaurants-akash-ac...,87 Whalley Road,Accrington,Akash Accrington,BB5,1AS,6,Curry
7,55f14312c7447c3da7051cf0,http://www.just-eat.co.uk/restaurants-alfrango...,14 Wellington Street,Luton,Al Frango,LU1,2HQ,6,Mediterranean
8,55f14312c7447c3da7051d00,http://www.just-eat.co.uk/restaurants-almedina...,2 Walford Road,Sparkhill,Al Medina Delights - Collection Only,B11,1NR,6,Pasta
9,55f14312c7447c3da7051d4c,http://www.just-eat.co.uk/restaurants-alcatraz...,127 Christchurch Road,Bournemouth,Alcatraz Caffe Bournemouth,BH1,1EP,6,Pizza
10,55f14312c7447c3da7051d5b,http://www.just-eat.co.uk/restaurants-alexplai...,314 Kilburn High Road,London,Alex Plaice,NW6,2DG,6,Fish & Chips
11,55f14312c7447c3da7051d5c,http://www.just-eat.co.uk/restaurants-alexplai...,314 Kilburn High Road,London,Alex Plaice,NW6,2DG,6,Fish & Chips
12,55f14312c7447c3da7051dd1,http://www.just-eat.co.uk/restaurants-allsiam-...,639 Ecclesall Road,Sheffield,All Siam Thai Restaurant - Collection Only,S11,8PT,6,Thai
13,55f14312c7447c3da7051e94,http://www.just-eat.co.uk/restaurants-amina-st...,5 Sutton Oak Corner,Birmingham,Amina,B74,2DH,6,Curry
14,55f14312c7447c3da7051ea5,http://www.just-eat.co.uk/restaurants-ammanfor...,18 College Street,Dyfed,Ammanford Fish Bar,SA18,3AF,6,Fish & Chips
15,55f14312c7447c3da7051ed2,http://www.just-eat.co.uk/restaurants-blueging...,1 Atholl Court,Andover,Andover Tandoori - Collection Only,SP10,4BB,6,Curry
16,55f14312c7447c3da7051ed3,http://www.just-eat.co.uk/restaurants-blueging...,1 Atholl Court,Andover,Andover Tandoori - Collection Only,SP10,4BB,6,Curry
17,55f14312c7447c3da7051edb,http://www.just-eat.co.uk/restaurants-angeethi...,168 Kells Lane,Tyne & Wear,Angeethi Indian Express,NE9,5HY,6,Curry
18,55f14312c7447c3da7051f14,http://www.just-eat.co.uk/restaurants-aniss---...,32 Waterloo Road,Smethwick,Anis's - The Taste of Perfection,B66,4JW,6,Curry
19,55f14312c7447c3da7051f2c,http://www.just-eat.co.uk/restaurants-annsthai...,27 Bilston Street,Dudley,Ann's Thai@ The Bulls Head,DY3,1JA,6,Thai
20,55f14312c7447c3da7051f5e,http://www.just-eat.co.uk/restaurants-arabesqu...,23 Winchester Road,London,Arabesque,NW3,3NR,6,Mediterranean
21,55f14312c7447c3da7051f8b,http://www.just-eat.co.uk/restaurants-ark-burg...,3 Church Street,Hertfordshire County,Ark Burger & Salad Bar,CM23,2LY,6,American
22,55f14312c7447c3da7051fa0,http://www.just-eat.co.uk/restaurants-aroma-dl...,1 Zetland Street,Northallerton,Aroma Bar Restaurant Takeaway - Collection Only,DL6,1NB,6,Curry
23,55f14312c7447c3da7051fa1,http://www.just-eat.co.uk/restaurants-aroma-dl...,1 Zetland Street,Northallerton,Aroma Bar Restaurant Takeaway - Collection Only,DL6,1NB,6,Curry
24,55f14312c7447c3da7052023,http://www.just-eat.co.uk/restaurants-aslizaiq...,52 Uppingham Road,Leicestershire,Asli Zaiqa,LE5,0QD,6,Curry
25,55f14312c7447c3da7052029,http://www.just-eat.co.uk/restaurants-aspendos...,67 High Street,Dymchurch,Aspendos,TN29,0NH,6,Pizza
26,55f14312c7447c3da7052039,http://www.just-eat.co.uk/restaurants-atashper...,55 High Street,Brentford,Atash Persian Restaurant - Collection Only,TW8,0AH,6,Persian
27,55f14312c7447c3da705203a,http://www.just-eat.co.uk/restaurants-atashper...,55 High Street,Brentford,Atash Persian Restaurant - Collection Only,TW8,0AH,6,Persian
28,55f14312c7447c3da705203e,http://www.just-eat.co.uk/restaurants-athenabf...,27 Station Road,East Sussex,Athena B Fish Bar - Collection Only,BN41,1GB,6,Fish & Chips
29,55f14312c7447c3da705203d,http://www.just-eat.co.uk/restaurants-athenabf...,27 Station Road,East Sussex,Athena B Fish Bar - Collection Only,BN41,1GB,6,Fish & Chips
30,55f14312c7447c3da7052054,http://www.just-eat.co.uk/restaurants-atlantic...,Twin Spires Centre,County Antrim,Atlantic Gourmet,BT13,2JF,6,Fish & Chips
31,55f14313c7447c3da705208b,http://www.just-eat.co.uk/restaurants-ayubowan...,46-50 High Street West,Derbyshire,Ayubowan,SK13,8BH,6,Sri-lankan
32,55f14313c7447c3da7052149,http://www.just-eat.co.uk/restaurants-baltihut...,12 Pilkington Buildings,Middlesborough,Balti Hut,TS5,6DY,6,Curry
33,55f14313c7447c3da70521f3,http://www.just-eat.co.uk/restaurants-barista-...,24 Ballards Lane,London,Barista House Restaurant & Cafe - Collection Only,N3,2BJ,6,Pizza
34,55f14313c7447c3da70521f9,http://www.just-eat.co.uk/restaurants-barnacle...,8 Kirkham Road,Freckleton,Barnacle Bills,PR4,1HT,6,Fish & Chips
35,55f14313c7447c3da705222d,http://www.just-eat.co.uk/restaurants-bathsush...,3 Victoria Buildings,Somerset,Bath Sushi,BA2,3EH,6,Sushi
36,55f14313c7447c3da7052293,http://www.just-eat.co.uk/restaurants-beastgou...,64 Torwood Street,Torquay,Beast Gourmet Burgers,TQ1,1DT,6,Burgers
37,55f14313c7447c3da7052292,http://www.just-eat.co.uk/restaurants-Bearstea...,29 Egremont Road,Kent,Bearstead Fish Bar - Collection Only,ME15,8LH,6,Fish & Chips
38,55f14313c7447c3da705230a,http://www.just-eat.co.uk/restaurants-bellapan...,196 Harvie Avenue,Glasgow,Bella Panini,G77,6UT,6,Pizza
39,55f14313c7447c3da70523a4,http://www.just-eat.co.uk/restaurants-bennys-s...,30 North Street,London,Benny's - Collection Only,SW4,0HD,6,Fish & Chips
40,55f14313c7447c3da70523a9,http://www.just-eat.co.uk/restaurants-bennys-g...,2 West Street,Colne,Benny's Grill House,BB8,0HP,6,Kebab
41,55f14313c7447c3da70523cf,http://www.just-eat.co.uk/restaurants-best-fis...,4 High Street,Broadstairs,Best Fish & Chips,CT10,1LH,6,Fish & Chips
42,55f14313c7447c3da705241b,http://www.just-eat.co.uk/restaurants-bestpizz...,113 Mungo Park Road,Rainham,Best Pizza,RM13,7PP,6,Pizza
43,55f14313c7447c3da705241c,http://www.just-eat.co.uk/restaurants-best-piz...,4 Macklin Street,Derby,Best Pizza & Kebab,DE1,1LE,6,Pizza
44,55f14313c7447c3da705241d,http://www.just-eat.co.uk/restaurants-best-piz...,4 Macklin Street,Derby,Best Pizza & Kebab,DE1,1LE,6,Pizza
45,55f14313c7447c3da705247c,http://www.just-eat.co.uk/restaurants-bigfish-...,387 London Road,Hastings,Big Fish - Collection Only,TN37,6PA,6,Fish & Chips
46,55f14313c7447c3da705249e,http://www.just-eat.co.uk/restaurants-bigsaj-b...,231 Edward Road,Birmingham,Big Saj,B12,9LH,6,Kebab
47,55f14313c7447c3da705249d,http://www.just-eat.co.uk/restaurants-bigsaj-b...,231 Edward Road,Birmingham,Big Saj,B12,9LH,6,Kebab
48,55f14313c7447c3da70524a6,http://www.just-eat.co.uk/restaurants-biggapot...,15 College Road,Birmingham,Biggapot Caribbean - Collection Only,B20,2HY,6,Caribbean

## Projecting

We may only want some fields in the mongo response:

`_id` field is returned by default

`collection.find(filter, project)`

In [45]:
list(collection.find({"rating": 6}, {"rating": 1, "name": 1}))

[{'_id': ObjectId('55f14312c7447c3da7051b2a'),
  'name': '@Indian.com',
  'rating': 6},
 {'_id': ObjectId('55f14312c7447c3da7051b2b'),
  'name': '007 Takeaway',
  'rating': 6},
 {'_id': ObjectId('55f14312c7447c3da7051bbc'), 'name': 'Aarthi', 'rating': 6},
 {'_id': ObjectId('55f14312c7447c3da7051bfb'),
  'name': 'Abshar Indian Cuisine',
  'rating': 6},
 {'_id': ObjectId('55f14312c7447c3da7051c82'), 'name': 'Agra', 'rating': 6},
 {'_id': ObjectId('55f14312c7447c3da7051ca4'),
  'name': 'Aji - Collection Only',
  'rating': 6},
 {'_id': ObjectId('55f14312c7447c3da7051cbd'),
  'name': 'Akash Accrington',
  'rating': 6},
 {'_id': ObjectId('55f14312c7447c3da7051cf0'),
  'name': 'Al Frango',
  'rating': 6},
 {'_id': ObjectId('55f14312c7447c3da7051d00'),
  'name': 'Al Medina Delights - Collection Only',
  'rating': 6},
 {'_id': ObjectId('55f14312c7447c3da7051d4c'),
  'name': 'Alcatraz Caffe Bournemouth',
  'rating': 6},
 {'_id': ObjectId('55f14312c7447c3da7051d5b'),
  'name': 'Alex Plaice',
  'rating': 6},
 {'_id': ObjectId('55f14312c7447c3da7051d5c'),
  'name': 'Alex Plaice',
  'rating': 6},
 {'_id': ObjectId('55f14312c7447c3da7051dd1'),
  'name': 'All Siam Thai Restaurant - Collection Only',
  'rating': 6},
 {'_id': ObjectId('55f14312c7447c3da7051e94'), 'name': 'Amina', 'rating': 6},
 {'_id': ObjectId('55f14312c7447c3da7051ea5'),
  'name': 'Ammanford Fish Bar',
  'rating': 6},
 {'_id': ObjectId('55f14312c7447c3da7051ed2'),
  'name': 'Andover Tandoori - Collection Only',
  'rating': 6},
 {'_id': ObjectId('55f14312c7447c3da7051ed3'),
  'name': 'Andover Tandoori - Collection Only',
  'rating': 6},
 {'_id': ObjectId('55f14312c7447c3da7051edb'),
  'name': 'Angeethi Indian Express',
  'rating': 6},
 {'_id': ObjectId('55f14312c7447c3da7051f14'),
  'name': "Anis's - The Taste of Perfection",
  'rating': 6},
 {'_id': ObjectId('55f14312c7447c3da7051f2c'),
  'name': "Ann's Thai@ The Bulls Head",
  'rating': 6},
 {'_id': ObjectId('55f14312c7447c3da7051f5e'),
  'name': 'Arabesque',
  'rating': 6},
 {'_id': ObjectId('55f14312c7447c3da7051f8b'),
  'name': 'Ark Burger & Salad Bar',
  'rating': 6},
 {'_id': ObjectId('55f14312c7447c3da7051fa0'),
  'name': 'Aroma Bar Restaurant Takeaway - Collection Only',
  'rating': 6},
 {'_id': ObjectId('55f14312c7447c3da7051fa1'),
  'name': 'Aroma Bar Restaurant Takeaway - Collection Only',
  'rating': 6},
 {'_id': ObjectId('55f14312c7447c3da7052023'),
  'name': 'Asli Zaiqa',
  'rating': 6},
 {'_id': ObjectId('55f14312c7447c3da7052029'),
  'name': 'Aspendos',
  'rating': 6},
 {'_id': ObjectId('55f14312c7447c3da7052039'),
  'name': 'Atash Persian Restaurant - Collection Only',
  'rating': 6},
 {'_id': ObjectId('55f14312c7447c3da705203a'),
  'name': 'Atash Persian Restaurant - Collection Only',
  'rating': 6},
 {'_id': ObjectId('55f14312c7447c3da705203e'),
  'name': 'Athena B Fish Bar - Collection Only',
  'rating': 6},
 {'_id': ObjectId('55f14312c7447c3da705203d'),
  'name': 'Athena B Fish Bar - Collection Only',
  'rating': 6},
 {'_id': ObjectId('55f14312c7447c3da7052054'),
  'name': 'Atlantic Gourmet',
  'rating': 6},
 {'_id': ObjectId('55f14313c7447c3da705208b'),
  'name': 'Ayubowan',
  'rating': 6},
 {'_id': ObjectId('55f14313c7447c3da7052149'),
  'name': 'Balti Hut',
  'rating': 6},
 {'_id': ObjectId('55f14313c7447c3da70521f3'),
  'name': 'Barista House Restaurant & Cafe - Collection Only',
  'rating': 6},
 {'_id': ObjectId('55f14313c7447c3da70521f9'),
  'name': 'Barnacle Bills',
  'rating': 6},
 {'_id': ObjectId('55f14313c7447c3da705222d'),
  'name': 'Bath Sushi',
  'rating': 6},
 {'_id': ObjectId('55f14313c7447c3da7052293'),
  'name': 'Beast Gourmet Burgers',
  'rating': 6},
 {'_id': ObjectId('55f14313c7447c3da7052292'),
  'name': 'Bearstead Fish Bar - Collection Only',
  'rating': 6},
 {'_id': ObjectId('55f14313c7447c3da705230a'),
  'name': 'Bella Panini',
  'rating': 6},
 {'_id': ObjectId('55f14313c7447c3da70523a4'),
  'name': "Benny's - Collection Only",
  'rating': 6},
 {'_id': ObjectId('55f14313c7447c3da70523a9'),
  'name': "Benny's Grill House",
  'rating': 6},
 {'_id': ObjectId('55f14313c7447c3da70523cf'),
  'name': 'Best Fish & Chips',
  'rating': 6},
 {'_id': ObjectId('55f14313c7447c3da705241b'),
  'name': 'Best Pizza',
  'rating': 6},
 {'_id': ObjectId('55f14313c7447c3da705241c'),
  'name': 'Best Pizza & Kebab',
  'rating': 6},
 {'_id': ObjectId('55f14313c7447c3da705241d'),
  'name': 'Best Pizza & Kebab',
  'rating': 6},
 {'_id': ObjectId('55f14313c7447c3da705247c'),
  'name': 'Big Fish - Collection Only',
  'rating': 6},
 {'_id': ObjectId('55f14313c7447c3da705249e'), 'name': 'Big Saj', 'rating': 6},
 {'_id': ObjectId('55f14313c7447c3da705249d'), 'name': 'Big Saj', 'rating': 6},
 {'_id': ObjectId('55f14313c7447c3da70524a6'),
  'name': 'Biggapot Caribbean - Collection Only',
  'rating': 6}]

In [50]:
list(collection.find({"rating": 2}, {"rating": 1, "name": 1, "_id": 0}))

[{'name': 'Big Boys Pizza', 'rating': 2},
 {'name': 'Big Boys Pizza', 'rating': 2},
 {'name': 'Big Boys Pizza', 'rating': 2}]

In [49]:
list(collection.find({}, {"name": 1, "_id": 0}))

[{'name': '.CN Chinese'},
 {'name': '@ Thai'},
 {'name': '1 2 3 Chinese'},
 {'name': '042 Restaurant & Bar'},
 {'name': '100 Degrees Chinese Restaurant'},
 {'name': '042 Restaurant & Bar'},
 {'name': '042 Restaurant & Bar'},
 {'name': '100 Menu'},
 {'name': '104 Turkish BBQ'},
 {'name': '133 Takeaway'},
 {'name': '113 Fish Bar'},
 {'name': '1498 The Spice Affair'},
 {'name': '109 Ristorante'},
 {'name': '168 Chinese & Cantonese Takeaway'},
 {'name': '1pizza1'},
 {'name': '1A Wok'},
 {'name': '@Indian.com'},
 {'name': '2 4 1 Pizza'},
 {'name': '2 for 1 Pizza Place'},
 {'name': '1st Class Pizza & Kebab House'},
 {'name': '23rd Street Pizza'},
 {'name': '2 Treat U'},
 {'name': '2 Spice'},
 {'name': '241 Pizza'},
 {'name': '241 Pizza'},
 {'name': '1st Class Pizza'},
 {'name': '23rd Street Pizza'},
 {'name': '2-4-1 Pizza'},
 {'name': '2-4-1 Pizza'},
 {'name': '2-4-1 Pizza'},
 {'name': '@ Thai Restaurant'},
 {'name': '280 Degrees African & Nigerian Restaurant'},
 {'name': '3 Chef Fish Bar'},
 {'name': '1 2 3 Chinese'},
 {'name': '007 Takeaway'},
 {'name': '280 Degrees African & Nigerian Restaurant'},
 {'name': '1st Class Pizza'},
 {'name': '@ Thai Restaurant'},
 {'name': '3 In 1 Dunoon'},
 {'name': '333 Chinese Takeaway'},
 {'name': '1st Choice Pizza'},
 {'name': '350 Wok'},
 {'name': '333 Chinese Takeaway'},
 {'name': '350 Wok'},
 {'name': '328 Chinese Online'},
 {'name': '333 Chinese Takeaway1'},
 {'name': '350 Wok'},
 {'name': '4 in Love'},
 {'name': '4500 Miles From Delhi'},
 {'name': '4 in 1 Express'},
 {'name': '4550 Miles From Delhi - Collection Only'},
 {'name': '5 In 1 Takeaway'},
 {'name': "5 'N' 1"},
 {'name': '4 Seasons Pizza & Grill'},
 {'name': '5 Star Chinese'},
 {'name': '5 Star Falafel @ GH Butchers'},
 {'name': '5 Star Chinese'},
 {'name': '5 Star Falafel @ GH Butchers'},
 {'name': '5 Star Fish Bar'},
 {'name': '3 In 1 Xtra'},
 {'name': '3 In 1 Xtra'},
 {'name': '1st Class Pizza'},
 {'name': '3 in 1 Indian & Chipshop Barrhead'},
 {'name': '321 Pizzas, Kebabs & Burgers'},
 {'name': '5 Star Pizza'},
 {'name': '3 In 1 Xtra'},
 {'name': '5 Star Pizza'},
 {'name': '5 Star Pizza'},
 {'name': '3 Chefs'},
 {'name': '5 Star Pizza'},
 {'name': '5 Star Pizza'},
 {'name': '5 Star Pizza'},
 {'name': '5 Star Pizza'},
 {'name': '555 Hot Curry'},
 {'name': '555 Pizza'},
 {'name': '57 Orient Takeaway'},
 {'name': '64 Pizzeria'},
 {'name': '555 Pizza & Kebab'},
 {'name': '62 Worksop Fish Bar'},
 {'name': '7 & One'},
 {'name': '7 Oaks Grill'},
 {'name': '7 Spices'},
 {'name': '7 Spices'},
 {'name': '7 Spices Takeaway'},
 {'name': '7 STAR Pizza'},
 {'name': '7 STAR Pizza'},
 {'name': '7 Star Spices'},
 {'name': '88 Chinese'},
 {'name': '700 Degrees'},
 {'name': '7 STAR Pizza'},
 {'name': '88 Noodle Bar'},
 {'name': '888 Triple Eight'},
 {'name': '9th Kitchen'},
 {'name': '9th Avenue Pizzeria'},
 {'name': '9 Inch CFC'},
 {'name': 'A & G Kitchen'},
 {'name': 'A & T Mundi House'},
 {'name': 'A Fish Called Rhondda'},
 {'name': '888 Chinese Takeaway'},
 {'name': 'A La Pizza'},
 {'name': 'A Cake A Shake'},
 {'name': 'A Cake A Shake'},
 {'name': 'A Matter Of Taste'},
 {'name': 'A La Turka'},
 {'name': 'A M Mians'},
 {'name': 'A M Mians'},
 {'name': 'A Taste Of Persia - Collection Only'},
 {'name': 'A La Pizza'},
 {'name': 'A Taste Of Persia - Collection Only'},
 {'name': 'A To Buy Fish & Chips'},
 {'name': 'A Touch of Spice'},
 {'name': 'A Passage To India'},
 {'name': 'A Touch of Spice'},
 {'name': 'A World Of Fl@vours'},
 {'name': "A.J's Pizza"},
 {'name': 'A&S Fast Food'},
 {'name': 'A Yummy Pizza'},
 {'name': 'èkó Food Market'},
 {'name': '£1 Fish Shop'},
 {'name': 'A&A Peri Peri'},
 {'name': 'èkó Food Market'},
 {'name': 'A1 Balti House'},
 {'name': 'A1 Balti House'},
 {'name': 'A Taskinha'},
 {'name': 'A Star Chippy'},
 {'name': 'A Passage To India'},
 {'name': 'A1 Pizzas'},
 {'name': 'A Sealand Fish Bar - Collection Only'},
 {'name': "A1 Rice 'N' Spice"},
 {'name': 'A One Tandoori'},
 {'name': 'A12 Spice'},
 {'name': 'A4 Pizza & Kebab'},
 {'name': 'A12 Spice'},
 {'name': 'A12 Spice'},
 {'name': 'A1 Wok'},
 {'name': 'AA Charcoal Grill'},
 {'name': 'AA Charcoal Grill'},
 {'name': 'Aachi Chettinad'},
 {'name': 'Aadams Authentic Grill'},
 {'name': 'Aakash Balti'},
 {'name': 'Aachi Chettinad'},
 {'name': 'Aakash Restaurant'},
 {'name': 'Aakash Restaurant'},
 {'name': 'Aamaya'},
 {'name': 'Aakash Balti'},
 {'name': 'Aakash Balti'},
 {'name': 'Aanias Takeaway'},
 {'name': "Aamino's Pizza"},
 {'name': 'Aaris Indian Restaurant'},
 {'name': 'AAQA Fast Food'},
 {'name': 'Aashiana'},
 {'name': 'A6 Grill'},
 {'name': 'Aarthi'},
 {'name': 'Aashiana'},
 {'name': "Aashir's"},
 {'name': 'AB Pizza and Grill'},
 {'name': 'Ababil'},
 {'name': 'Abbey Spice'},
 {'name': "Aashir's"},
 {'name': "Aayan's"},
 {'name': 'Ababil'},
 {'name': 'Abbey Fish Bar'},
 {'name': "Abbey's Balti Village"},
 {'name': 'Abbeyfry Pizzeria & Kebab House'},
 {'name': "Abbey's Pizza"},
 {'name': 'Abbeys Junction Pizzeria'},
 {'name': 'Abbeywood Tandoori'},
 {'name': "Abbey's Fish & Chips & Pizza Place"},
 {'name': "Abby's Diner"},
 {'name': 'Abdul Hadi'},
 {'name': 'Abdul Hadi'},
 {'name': 'Abduls'},
 {'name': 'Abdul Spice'},
 {'name': "Abdul's"},
 {'name': 'Abduls'},
 {'name': 'Abbies Pizza'},
 {'name': "Abdul's"},
 {'name': "Abdul's Balti House"},
 {'name': 'Abaseen'},
 {'name': "Abdul's Curry House"},
 {'name': 'Abduls Kebab House'},
 {'name': "Abdul's Indian"},
 {'name': 'Abduls Rusholme'},
 {'name': "Abdul's Balti House"},
 {'name': 'Aberbargoed Indian Takeaway'},
 {'name': 'Aberavon Packed Meals'},
 {'name': 'Abbey Fish Bar'},
 {'name': 'Aberdeen Shanghai Takeaway'},
 {'name': 'Aberdare Charcoal Grill'},
 {'name': "Abe's Pizza"},
 {'name': 'Abbey Tandoori'},
 {'name': 'Abidap Connection'},
 {'name': 'Abi Restaurant'},
 {'name': "Abdul's Indian Cuisine"},
 {'name': 'Abidap Connection'},
 {'name': 'Abidap Connection'},
 {'name': 'Abi Ruchi'},
 {'name': "Abid's Tandoori Takeaway"},
 {'name': 'Abington Tandoori'},
 {'name': 'Aberkenfig Kebab & Pizza House'},
 {'name': 'Abo Ali - Lebanese Cuisine'},
 {'name': "Abi's Kebab"},
 {'name': 'Abida'},
 {'name': 'Abbeyfry Fish and Chips'},
 {'name': 'Abs Fried Chicken & Pizza'},
 {'name': 'Abo Ali - Lebanese Cuisine'},
 {'name': 'Abra-Kebab-Ra'},
 {'name': 'Abra Pizzas'},
 {'name': 'ABS Fast Food'},
 {'name': 'Abshar Indian Cuisine'},
 {'name': 'Absolute Caribbean'},
 {'name': 'Abi Ruchi'},
 {'name': 'Abshar Persian Cuisine'},
 {'name': 'Abyssinia Ethiopian Restaurant'},
 {'name': 'Absolute Caribbean'},
 {'name': 'Abbey Fryers Fish Bar & Balti House'},
 {'name': 'Abyssinia Ethiopian Restaurant'},
 {'name': 'Ace Of Spice'},
 {'name': "Aby's Indian Experience"},
 {'name': 'Abz BBQ Kitchen'},
 {'name': 'Abyssinia Ethiopian Restaurant'},
 {'name': 'Ace Plaice Traditional Fish & Chips'},
 {'name': 'Ace Peri Peri'},
 {'name': "Ackie's"},
 {'name': 'Ace Peri Peri'},
 {'name': 'ACE Pizza & Kebab'},
 {'name': 'Ace Pizza'},
 {'name': 'Ace Plaice Traditional Fish & Chips'},
 {'name': 'Acomb Kebab House'},
 {'name': 'Ackee Tree'},
 {'name': 'Abshar Persian Cuisine'},
 {'name': 'Active Cafe Lounge'},
 {'name': 'Acha Halal Chinese Cuisine'},
 {'name': 'Abbey Meads Indian Restaurant & Takeaway'},
 {'name': 'Adaab Balti'},
 {'name': 'Ada Restaurant'},
 {'name': 'Ada Restaurant'},
 {'name': 'Abaseen'},
 {'name': 'Acton Charcoal Grill'},
 {'name': 'Acropolis'},
 {'name': 'Adams'},
 {'name': 'Adams'},
 {'name': 'Adams'},
 {'name': 'Adams Balti'},
 {'name': 'Adams Alsabti Pizzeria & Grill House'},
 {'name': "Adams & Lily's"},
 {'name': 'Adams Balti'},
 {'name': 'Adams Balti'},
 {'name': 'Adams'},
 {'name': "Adam's Cafe - Collection Only"},
 {'name': "Adam's Grill"},
 {'name': 'Adams Diner'},
 {'name': "Adam's Fast Food"},
 {'name': 'Adams Fish N Pizza Bar'},
 {'name': "Adam's Fish & Chips"},
 {'name': "Adam's Hot & Spicy"},
 {'name': 'Adams Chippy & Curry House'},
 {'name': 'Adams Fish & Pizza Bar'},
 {'name': "Adam's Grill"},
 {'name': "Adam's Diner"},
 {'name': "Adam's Balti & Pizza"},
 {'name': 'Adams Ice Cream Parlour'},
 {'name': "Adam's Hot & Spicy"},
 {'name': 'Adams Ice Cream Parlour'},
 {'name': 'Adams Pizza & Kebabs'},
 {'name': "Adam's Pizza & Kebab"},
 {'name': 'Adams Pizza'},
 {'name': 'Adams Pizza Corner'},
 {'name': "Adam's Spice"},
 {'name': 'Adams Place'},
 {'name': "Adam's Pizzeria"},
 {'name': 'Adams Pizza & Kebabs'},
 {'name': 'Adams Pizzeria'},
 {'name': 'Adana Pizza'},
 {'name': 'Adar Restaurant'},
 {'name': 'Adams Steak & Curry House'},
 {'name': 'Adar Restaurant'},
 {'name': 'Addlestone Charcoal Grill'},
 {'name': 'Adeels Fast Food'},
 {'name': 'Adeel Balti & Pizza Bar'},
 {'name': "Adil's Takeaway"},
 {'name': 'Adil Takeaway'},
 {'name': 'Adelaide Fish Bar - Collection Only'},
 {'name': "Adel's Pizza"},
 {'name': 'Adiva'},
 {'name': 'Adiva'},
 {'name': 'Adeels Spice'},
 {'name': 'Adiva'},
 {'name': 'Adlington Mama Mia'},
 {'name': 'Adeel Tandoori'},
 {'name': 'Adlington Spice'},
 {'name': 'Adlington Mama Mia'},
 {'name': 'Add Spice'},
 {'name': 'Adlington Spice'},
 {'name': 'Adlington Spice'},
 {'name': 'Admiral Pizza'},
 {'name': 'Admiral Pizza'},
 {'name': 'Admiral Pizza'},
 {'name': 'Admiral Pizza'},
 {'name': 'Admirals Fish & Chips & Kebabs'},
 {'name': 'Adnan Southern Fried Chicken Shop'},
 {'name': 'Adnans Indian Restaurant & Takeaway'},
 {'name': 'Adonis Pizza & Grill'},
 {'name': "Adolfo's"},
 {'name': 'Adras Restaurant'},
 {'name': 'Adnans Indian Restaurant & Takeaway'},
 {'name': 'Adeel Balti & Pizza Bar'},
 {'name': "Ado's"},
 {'name': 'AF88'},
 {'name': 'Adras Restaurant'},
 {'name': 'Adriatic Italian'},
 {'name': 'Afandina Restaurant'},
 {'name': 'AFC'},
 {'name': 'AFC'},
 {'name': 'AFC'},
 {'name': 'AFC American Fried Chicken'},
 {'name': 'AFC American Fried Chicken'},
 {'name': 'AFC Fried Chicken & Pizza'},
 {'name': 'AFC Fried Chicken & Pizza'},
 {'name': 'AFC-American Fried Chicken'},
 {'name': 'Afendi Club & Restaurant'},
 {'name': 'AFC Pizza'},
 {'name': 'Afendi Club & Restaurant'},
 {'name': 'Afendi Club & Restaurant'},
 {'name': 'Afendi Restaurant & Cafe'},
 {'name': 'Afghan Kebab Takeaway'},
 {'name': 'Afghan Pamir'},
 {'name': 'Afghan Pamir'},
 {'name': 'Afghan Restaurant'},
 {'name': 'Afghan Spice'},
 {'name': 'Afghan Restaurant'},
 {'name': 'Africa 9JA Restaurant'},
 {'name': 'Africa Best Place'},
 {'name': 'African Flavour'},
 {'name': 'Africa 9JA Restaurant'},
 {'name': 'Afritopia - African Restaurant with Style'},
 {'name': 'Afsana'},
 {'name': 'After Taste'},
 {'name': 'Africa Best Place'},
 {'name': 'After Taste'},
 {'name': 'After Taste'},
 {'name': 'Agra'},
 {'name': 'Afters Original'},
 {'name': 'Agoon Pani Restaurant & Takeaway'},
 {'name': 'Agra'},
 {'name': 'Agra'},
 {'name': 'Agra'},
 {'name': 'Agra'},
 {'name': 'Agra'},
 {'name': 'Agra Spice World'},
 {'name': 'Agra Indian Restaurant & Takeaway'},
 {'name': 'Agra Tandoori'},
 {'name': 'Agra Tandoori Express'},
 {'name': 'Agra Tandoori & Balti'},
 {'name': 'Agrabad'},
 {'name': 'Ahads Bengal Balti'},
 {'name': 'Ahjee Bhajee'},
 {'name': 'Ahmed Indian Takeaway'},
 {'name': 'Ahjee Bhajee'},
 {'name': 'Ahmed Tandoori'},
 {'name': 'Ahmed Tandoori'},
 {'name': "Ahmed's"},
 {'name': 'Ahmeds Curry Cafe'},
 {'name': 'Ahmeds Masala Cafe'},
 {'name': "Ahmed's Perfect Fried Chicken"},
 {'name': 'Ahmeds Tandoori'},
 {'name': 'Ai Sushi'},
 {'name': 'Ai Sushi'},
 {'name': 'Ai Sushi'},
 {'name': 'Ai Sushi'},
 {'name': 'Ai Sushi'},
 {'name': 'Aimees'},
 {'name': 'Aimees'},
 {'name': 'Ai Wok'},
 {'name': 'Airlink Restaurant - Collection Only'},
 {'name': 'Aishah Tandoori'},
 {'name': "Aisha's"},
 {'name': 'AJ Pizza Town Limited'},
 {'name': 'AJ Takeaway'},
 {'name': 'Aisuru Sushi'},
 {'name': 'Ajantha Takeaway'},
 {'name': 'Ajanta Indian Cuisine'},
 {'name': 'AJs Multi Cuisine'},
 {'name': 'Aji - Collection Only'},
 {'name': 'Aisuru Sushi'},
 {'name': "AJ's Chicken"},
 {'name': 'Ajuba Indian Cuisine'},
 {'name': "AJ's Pizza"},
 {'name': "AJ's Pizza"},
 {'name': 'Ajwa Restaurant'},
 {'name': 'AK Chicken Food'},
 {'name': 'AK Grill'},
 {'name': 'AK Chicken Food'},
 {'name': 'AK Grill'},
 {'name': 'AK Chicken Food'},
 {'name': "AJ's Pizza"},
 {'name': 'Akash'},
 {'name': "AJ's Traditional Fish & Chips"},
 {'name': 'Akash'},
 {'name': 'Akash'},
 {'name': 'Akar Kebab'},
 {'name': 'Akash'},
 {'name': 'Akash'},
 {'name': 'Akash Balti'},
 {'name': 'Akash'},
 {'name': 'Akash'},
 {'name': 'Akash Accrington'},
 {'name': 'AJs Multi Cuisine'},
 {'name': 'Akash Balti'},
 {'name': 'Akash Balti'},
 {'name': "AJ's Traditional Fish & Chips"},
 {'name': 'Akash Tandoori'},
 {'name': 'Akash Restaurant'},
 {'name': 'Akash Restaurant'},
 {'name': 'Akash Balti Spice'},
 {'name': 'Akash Tandoori'},
 {'name': 'Akash Tandoori'},
 {'name': 'Akash Tandoori'},
 {'name': 'Akash Tandoori Restaurant'},
 {'name': 'Akash Tandoori Restaurant - Collection Only'},
 {'name': 'Akbar Tandoori Restaurant'},
 {'name': 'Akbar Balti'},
 {'name': 'Al Amin'},
 {'name': 'Akbar Balti'},
 {'name': 'Akbar Tandoori Restaurant'},
 {'name': "AK'z Curry House"},
 {'name': 'Akbars'},
 {'name': 'Al Amin'},
 {'name': 'Al Amin'},
 {'name': 'Al Amin'},
 {'name': 'Al Amin'},
 {'name': 'Akbars Lounge'},
 {'name': "Aki's"},
 {'name': 'Al Amin'},
 {'name': 'Al Amir'},
 {'name': 'Al Baraka'},
 {'name': 'Al Arez Express 1'},
 {'name': 'Al Bader Lebanese Restaurant'},
 {'name': 'Akbars Lounge'},
 {'name': 'Al Barakah'},
 {'name': 'Akwaahs Kitchen'},
 {'name': 'Al Burrito'},
 {'name': 'Al Capone'},
 {'name': 'Al Capone'},
 {'name': 'Al Capone'},
 {'name': 'Al Basha'},
 {'name': 'Al Capone Pizza'},
 {'name': 'Al Faisals Kebab House'},
 {'name': "Al Capone's Pizza"},
 {'name': 'Al Dixi Fried Chicken & Grill House'},
 {'name': 'Al Dixi Fried Chicken & Grill House'},
 {'name': 'Al Arez 2'},
 {'name': "AK's Triple Diner"},
 {'name': 'Al Frango'},
 {'name': 'Akwaahs Kitchen'},
 {'name': 'Akmol Tandoori'},
 {'name': 'Al Fresco Grill'},
 {'name': 'Al Hajees Desi Khana'},
 {'name': 'Al Imans Tandoori & Grill Indian'},
 {'name': 'Al Faisals Kebab House'},
 {'name': 'Al Hussain Grill & Chill'},
 {'name': 'Al Imans Tandoori & Grill Indian'},
 {'name': 'Al Fresco'},
 {'name': 'Al- Jumeirah'},
 {'name': 'Al Hussain Grill & Chill'},
 {'name': 'Al Jaber'},
 {'name': 'Al Mustafa BBQ'},
 {'name': 'Al- Jumeirah'},
 {'name': 'Al Kebab Hut'},
 {'name': 'Al- Jumeirah'},
 {'name': 'Al Karim'},
 {'name': 'Al Medina Delights - Collection Only'},
 {'name': 'Al Mustafa BBQ'},
 {'name': 'Al Fresco'},
 {'name': 'Al Kebab Hut'},
 {'name': 'Al Naseeb'},
 {'name': 'Al Naseeb'},
 {'name': "AK's Triple Diner"},
 {'name': 'Al Naseeb'},
 {'name': 'Al Pacino Pizza'},
 {'name': "Al Pachino's Pizzeria"},
 {'name': 'Al Forno'},
 {'name': 'Al Pacino'},
 {'name': 'Al Omara'},
 {'name': "Al Pacino's"},
 {'name': 'Al Patto Della Pizza'},
 {'name': 'Al Pizza'},
 {'name': 'AL QALAA'},
 {'name': 'AL QALAA'},
 {'name': 'Al Salam'},
 {'name': 'AL QALAA'},
 {'name': 'Al Souk Fine Lebanese Dining'},
 {'name': 'Al Sultan'},
 {'name': 'Al Souk Fine Lebanese Dining'},
 {'name': 'Al Taj'},
 {'name': 'Al Souk Fine Lebanese Dining'},
 {'name': 'Al Talia & Bombay Tandoori'},
 {'name': 'Al´s Fried Chicken'},
 {'name': 'Alachi'},
 {'name': 'Aladdin'},
 {'name': 'Aladdin'},
 {'name': 'Aladdin Hot 4 You'},
 {'name': 'Aladdin Pizza'},
 {'name': 'Aladdin Indian'},
 {'name': 'Aladdin Hot For You'},
 {'name': 'Aladdin Pizza'},
 {'name': 'Aladdin Pizza'},
 {'name': 'Aladdin Pizza'},
 {'name': 'Aladdin Pizza'},
 {'name': 'Aladdin Square Pan Pizza'},
 {'name': 'Aladdin Restaurant & Shisha Lounge'},
 {'name': 'Aladdin Tandoori'},
 {'name': 'Aladdins'},
 {'name': 'Alam Balti Takeaway'},
 {'name': 'Aladdins'},
 {'name': 'Alam Balti'},
 {'name': 'Al-Amin'},
 {'name': 'Aladdins Balti'},
 {'name': 'Aladdins'},
 {'name': 'Al-Amin'},
 {'name': 'Alamin Tandoori'},
 {'name': 'Alamin Tandoori'},
 {'name': 'Al-Amin'},
 {'name': 'Alams Lounge'},
 {'name': 'Alanya Steak & Kebab House'},
 {'name': 'Alamut'},
 {'name': 'Alaowerri Restaurant'},
 {'name': 'Alasia'},
 {'name': 'Alamut'},
 {'name': 'Alasia'},
 {'name': 'Alaska Fried Chicken'},
 {'name': 'Alaska Fried Chicken'},
 {'name': 'Alawia'},
 {'name': 'Alawia'},
 {'name': 'Al-Ayaan'},
 {'name': 'Alba Pizza'},
 {'name': 'Albaik'},
 {'name': 'Alasya Turkish Restaurant'},
 {'name': 'Albaba Restaurant'},
 {'name': 'Albany Spice'},
 {'name': 'Albany Gardens, Fish & Chips & Kebabs'},
 {'name': 'Albarakah'},
 {'name': 'Albatta'},
 {'name': 'Alborz'},
 {'name': "Alberto's Pizza & Kebab House"},
 {'name': "Albert's Fish & Chips"},
 {'name': 'Albions'},
 {'name': 'Albrighton Balti'},
 {'name': 'Albions'},
 {'name': 'Alcatraz Caffe Bournemouth'},
 {'name': 'Alchinos'},
 {'name': 'Alcatraz Caffe Poole'},
 {'name': 'Alcapone Pizza Shop'},
 {'name': 'Al-Dar'},
 {'name': 'Al-Dar'},
 {'name': 'Aldos Takeaway'},
 {'name': 'Al-Dar Lebanese Restaurant'},
 {'name': 'Al-Dar Lebanese Restaurant'},
 {'name': 'Aldeli'},
 {'name': 'Al-Des Kebab'},
 {'name': 'Ale & Spice'},
 {'name': 'Aldwych'},
 {'name': 'Alesias Pizzeria'},
 {'name': 'Alex Pizza'},
 {'name': 'Alexander Express'},
 {'name': 'Alex Plaice'},
 {'name': 'Alexander Express'},
 {'name': "Alex's Kebab House"},
 {'name': 'Alex Plaice'},
 {'name': 'Alfa Pizza & Chicken'},
 {'name': 'Al-Faisal'},
 {'name': 'Al-Faisal'},
 {'name': 'Al-Faisal Takeaway'},
 {'name': "Alfeeno's"},
 {'name': "Alfie's Fast Food & Shakes"},
 {'name': 'Alfies Cafe - Collection Only'},
 {'name': 'Al-Forno'},
 {'name': "Alfie's Fast Food & Shakes"},
 {'name': 'Alfresco'},
 {'name': 'Alfresco'},
 {'name': 'Ali Baba'},
 {'name': 'Al-Habib'},
 {'name': 'Alfresco'},
 {'name': 'Ali Baba'},
 {'name': 'Ali Baba'},
 {'name': 'Ali Baba'},
 {'name': 'Ali Baba'},
 {'name': 'Ali Baba'},
 {'name': 'Ali Baba'},
 {'name': 'Ali Baba Kebab House'},
 {'name': 'Ali Baba'},
 {'name': 'Ali Baba Kebab House'},
 {'name': 'Ali Baba, Pizza & Kebab House'},
 {'name': 'Ali Babas'},
 {'name': 'Ali Babas'},
 {'name': "Ali Baba's"},
 {'name': "Ali Baba's"},
 {'name': "Ali Baba's"},
 {'name': "Ali Baba's"},
 {'name': "Ali Baba's"},
 {'name': "Ali Baba's"},
 {'name': 'Ali Babas Balti'},
 {'name': "Ali Baba's Kebab & Pizza"},
 {'name': 'Ali Babas Pizza, Kebab & Curries'},
 {'name': 'Ali Geez'},
 {'name': 'Ali Geez Pizza & Kebab'},
 {'name': 'Ali Geez Pizza & Kebab'},
 {'name': 'Ali Shaan'},
 {'name': 'Ali Murad'},
 {'name': 'Alia Takeaway'},
 {'name': 'Ali Shan Tandoori'},
 {'name': 'Alibaba Charcoal Grill'},
 {'name': 'Ali´s Pizza Bar'},
 {'name': 'Alifs'},
 {'name': 'Alif Grill'},
 {'name': 'Alif Express'},
 {'name': 'Alifs'},
 {'name': "Ali's"},
 {'name': 'Alifs'},
 {'name': 'Alima Pizza Delight'},
 {'name': 'AL-IKHWAN PFC Grill & Restaurant'},
 {'name': 'Aligarh Indian Restaurant'},
 {'name': "Ali's Alcove"},
 {'name': "Ali's & De-Niros"},
 {'name': "Ali's Balti House"},
 {'name': 'Ali Mahal'},
 {'name': "Ali's BBQ Hut"},
 {'name': "Ali's Charcoal Grill"},
 {'name': 'Alis Fast Food'},
 {'name': "Ali's Indian Cuisine"},
 {'name': "Ali's Fast Food"},
 {'name': 'Alis Cuisine'},
 {'name': 'Alis Fish Bar'},
 {'name': "Ali's Hole In the Wall"},
 {'name': 'Alis Indian Takeaway'},
 {'name': "Ali's Indian Restaurant and Takeaway"},
 {'name': "Ali's Indian Grill"},
 {'name': 'Alis Kebab House'},
 {'name': 'Alis Kebab House'},
 {'name': "Ali's Kebab House"},
 {'name': "Aldo's"},
 {'name': "Ali's Kebab House"},
 {'name': "Ali's Kebab & Pizza"},
 {'name': 'Alis Kebab Shop'},
 {'name': 'Alis Kebab Shop'},
 {'name': 'Alfa Pizza & Chicken'},
 {'name': "Ali's Kitchen"},
 {'name': 'Ali G´s'},
 {'name': 'Alfresco'},
 {'name': "Ali's BBQ Hut"},
 {'name': "Ali's Kitchen"},
 {'name': "Ali's Takeaway"},
 {'name': "Ali's Meze Bar Charcoal Grill"},
 {'name': "Ali's Takeaway"},
 {'name': 'Alisha'},
 {'name': 'Alis Pizza & Kebab House'},
 {'name': "Ali's Takeaway"},
 {'name': 'Alishaan'},
 {'name': "Ali's Turkish Kebab & Pizza"},
 {'name': 'Alishaan'},
 {'name': 'Alisha'},
 {'name': "Ali's Take-Away"},
 {'name': 'Alisha Tandoori Restaurant & Takeaway'},
 {'name': 'Aliz Takeaway'},

In [51]:
collection.find_one()

{'_id': ObjectId('55f14312c7447c3da7051b26'),
 'URL': 'http://www.just-eat.co.uk/restaurants-cn-chinese-cardiff/menu',
 'address': '228 City Road',
 'address line 2': 'Cardiff',
 'name': '.CN Chinese',
 'outcode': 'CF24',
 'postcode': '3JH',
 'rating': 5,
 'type_of_food': 'Chinese'}

## Other methods

### `distinct`

How many distinct values does a field have in the whole collection?

In [63]:
collection.distinct("rating")

[1, 1.5, 2, 2.5, 3, 3.5, 4, 4.5, 5, 5.5, 6, 'Not yet rated']

In [64]:
collection.distinct("type_of_food")

['*NEW*',
 'Afghan',
 'African',
 'American',
 'Arabic',
 'Azerbaijan',
 'Bagels',
 'Bangladeshi',
 'Breakfast',
 'Burgers',
 'Cakes',
 'Caribbean',
 'Chicken',
 'Chinese',
 'Curry',
 'Desserts',
 'English',
 'Ethiopian',
 'Fish & Chips',
 'Greek',
 'Grill',
 'Healthy',
 'Ice Cream',
 'Japanese',
 'Kebab',
 'Korean',
 'Lebanese',
 'Mediterranean',
 'Mexican',
 'Middle Eastern',
 'Milkshakes',
 'Moroccan',
 'Nigerian',
 'Pakistani',
 'Pasta',
 'Peri Peri',
 'Persian',
 'Pick n Mix',
 'Pizza',
 'Polish',
 'Portuguese',
 'Punjabi',
 'Russian',
 'Sandwiches',
 'South Curry',
 'Spanish',
 'Sri-lankan',
 'Sushi',
 'Thai',
 'Turkish',
 'Vegetarian',
 'Vietnamese']

### `count`

`collection.count_documents(filter)`

In [68]:
collection.count_documents({})

2548

In [69]:
collection.count_documents({"rating": 5})

1107

In [70]:
collection.count_documents({"rating": 3})

16

### `sort`

We can `sort` the result of a `find`

`1` means ascending

`-1` means desscending

In [72]:
collection.find({"type_of_food": "Chinese"}, {"name": 1, "rating": 1}).sort("rating", 1)

In [73]:
list(_)

[{'_id': ObjectId('55f14312c7447c3da7051fff'),
  'name': 'Asia Asia',
  'rating': 3.5},
 {'_id': ObjectId('55f14313c7447c3da705219a'),
  'name': 'Bamboo Garden Chinese Takeaway',
  'rating': 3.5},
 {'_id': ObjectId('55f14312c7447c3da7051b80'),
  'name': '88 Noodle Bar',
  'rating': 4},
 {'_id': ObjectId('55f14312c7447c3da7051e33'), 'name': 'Amazing', 'rating': 4},
 {'_id': ObjectId('55f14312c7447c3da7051f80'), 'name': 'Arirang', 'rating': 4},
 {'_id': ObjectId('55f14312c7447c3da7051f81'), 'name': 'Arirang', 'rating': 4},
 {'_id': ObjectId('55f14312c7447c3da7051f82'), 'name': 'Arirang', 'rating': 4},
 {'_id': ObjectId('55f14312c7447c3da7051f85'), 'name': 'Arirang', 'rating': 4},
 {'_id': ObjectId('55f14312c7447c3da7051f83'), 'name': 'Arirang', 'rating': 4},
 {'_id': ObjectId('55f14312c7447c3da7051f84'), 'name': 'Arirang', 'rating': 4},
 {'_id': ObjectId('55f14313c7447c3da70522ba'),
  'name': 'Beijing Chinese',
  'rating': 4},
 {'_id': ObjectId('55f14313c7447c3da70522bb'),
  'name': 'Beijing Chinese Restaurant',
  'rating': 4},
 {'_id': ObjectId('55f14312c7447c3da7051b2f'),
  'name': '1 2 3 Chinese',
  'rating': 4.5},
 {'_id': ObjectId('55f14312c7447c3da7051b30'),
  'name': '1 2 3 Chinese',
  'rating': 4.5},
 {'_id': ObjectId('55f14312c7447c3da7051b58'),
  'name': '333 Chinese Takeaway1',
  'rating': 4.5},
 {'_id': ObjectId('55f14312c7447c3da7051b72'),
  'name': '57 Orient Takeaway',
  'rating': 4.5},
 {'_id': ObjectId('55f14312c7447c3da7051ba8'),
  'name': 'A1 Wok',
  'rating': 4.5},
 {'_id': ObjectId('55f14312c7447c3da7051c5c'), 'name': 'AF88', 'rating': 4.5},
 {'_id': ObjectId('55f14312c7447c3da7051dd3'),
  'name': 'All Welcome',
  'rating': 4.5},
 {'_id': ObjectId('55f14312c7447c3da7051e39'), 'name': 'Amber', 'rating': 4.5},
 {'_id': ObjectId('55f14312c7447c3da7051fc0'),
  'name': 'Arsenal Chinese Food & Fish Bar',
  'rating': 4.5},
 {'_id': ObjectId('55f14312c7447c3da7051fc1'),
  'name': 'Arsenal Chinese Food & Fish Bar',
  'rating': 4.5},
 {'_id': ObjectId('55f14312c7447c3da7051fca'),
  'name': "Arthur's China City",
  'rating': 4.5},
 {'_id': ObjectId('55f14312c7447c3da7052002'),
  'name': 'Asia Chinese',
  'rating': 4.5},
 {'_id': ObjectId('55f14312c7447c3da705200b'),
  'name': 'Asia Wok',
  'rating': 4.5},
 {'_id': ObjectId('55f14312c7447c3da7052037'),
  'name': 'At Wan Da',
  'rating': 4.5},
 {'_id': ObjectId('55f14312c7447c3da7052036'),
  'name': 'At Wan Da',
  'rating': 4.5},
 {'_id': ObjectId('55f14312c7447c3da7052060'),
  'name': 'August Moon',
  'rating': 4.5},
 {'_id': ObjectId('55f14313c7447c3da70520b9'),
  'name': 'Ba Fu Chinese',
  'rating': 4.5},
 {'_id': ObjectId('55f14313c7447c3da7052192'),
  'name': 'Bamboo Garden',
  'rating': 4.5},
 {'_id': ObjectId('55f14313c7447c3da705219d'),
  'name': 'Bamboo House',
  'rating': 4.5},
 {'_id': ObjectId('55f14313c7447c3da705219b'),
  'name': 'Bamboo House',
  'rating': 4.5},
 {'_id': ObjectId('55f14313c7447c3da705219c'),
  'name': 'Bamboo House',
  'rating': 4.5},
 {'_id': ObjectId('55f14313c7447c3da70521fc'),
  'name': 'Barnsley House',
  'rating': 4.5},
 {'_id': ObjectId('55f14313c7447c3da70522b7'),
  'name': 'Beijing',
  'rating': 4.5},
 {'_id': ObjectId('55f14313c7447c3da70522bf'),
  'name': 'Beijing Dragon',
  'rating': 4.5},
 {'_id': ObjectId('55f14313c7447c3da70522bc'),
  'name': 'Beijing City',
  'rating': 4.5},
 {'_id': ObjectId('55f14313c7447c3da70522c7'),
  'name': 'Beijing House',
  'rating': 4.5},
 {'_id': ObjectId('55f14313c7447c3da70522c8'),
  'name': 'Beijing House',
  'rating': 4.5},
 {'_id': ObjectId('55f14313c7447c3da70522c9'),
  'name': 'Beijing House',
  'rating': 4.5},
 {'_id': ObjectId('55f14313c7447c3da70522ca'),
  'name': 'Beijing House',
  'rating': 4.5},
 {'_id': ObjectId('55f14313c7447c3da70522cc'),
  'name': 'Beijing Inn',
  'rating': 4.5},
 {'_id': ObjectId('55f14313c7447c3da70522cd'),
  'name': 'Beijing Inn',
  'rating': 4.5},
 {'_id': ObjectId('55f14313c7447c3da70522ce'),
  'name': 'Beijing Inn',
  'rating': 4.5},
 {'_id': ObjectId('55f14313c7447c3da70522da'),
  'name': 'Beijing Oriental Express',
  'rating': 4.5},
 {'_id': ObjectId('55f14313c7447c3da70522db'),
  'name': 'Beijing Palace Restaurant',
  'rating': 4.5},
 {'_id': ObjectId('55f14313c7447c3da70522dc'),
  'name': 'Beijing Restaurant',
  'rating': 4.5},
 {'_id': ObjectId('55f14313c7447c3da70522fe'),
  'name': 'Bella Chinese',
  'rating': 4.5},
 {'_id': ObjectId('55f14313c7447c3da7052336'),
  'name': 'Belmont Welcome Chinese',
  'rating': 4.5},
 {'_id': ObjectId('55f14313c7447c3da70524a2'),
  'name': 'Big Wok',
  'rating': 4.5},
 {'_id': ObjectId('55f14313c7447c3da70524cf'),
  'name': 'Bing Chinese Takeaway',
  'rating': 4.5},
 {'_id': ObjectId('55f14313c7447c3da70524ce'),
  'name': 'Bing Chinese Takeaway',
  'rating': 4.5},
 {'_id': ObjectId('55f14313c7447c3da70524f3'),
  'name': 'Black Bull',
  'rating': 4.5},
 {'_id': ObjectId('55f14312c7447c3da7051b26'),
  'name': '.CN Chinese',
  'rating': 5},
 {'_id': ObjectId('55f14312c7447c3da7051b31'),
  'name': '100 Degrees Chinese Restaurant',
  'rating': 5},
 {'_id': ObjectId('55f14312c7447c3da7051b32'),
  'name': '100 Menu',
  'rating': 5},
 {'_id': ObjectId('55f14312c7447c3da7051b39'), 'name': '1A Wok', 'rating': 5},
 {'_id': ObjectId('55f14312c7447c3da7051b56'),
  'name': '333 Chinese Takeaway',
  'rating': 5},
 {'_id': ObjectId('55f14312c7447c3da7051b57'),
  'name': '333 Chinese Takeaway',
  'rating': 5},
 {'_id': ObjectId('55f14312c7447c3da7051b55'),
  'name': '328 Chinese Online',
  'rating': 5},
 {'_id': ObjectId('55f14312c7447c3da7051b64'),
  'name': '5 Star Chinese',
  'rating': 5},
 {'_id': ObjectId('55f14312c7447c3da7051b63'),
  'name': '5 Star Chinese',
  'rating': 5},
 {'_id': ObjectId('55f14312c7447c3da7051b7f'),
  'name': '88 Chinese',
  'rating': 5},
 {'_id': ObjectId('55f14312c7447c3da7051b82'),
  'name': '888 Triple Eight',
  'rating': 5},
 {'_id': ObjectId('55f14312c7447c3da7051b85'),
  'name': '9th Kitchen',
  'rating': 5},
 {'_id': ObjectId('55f14312c7447c3da7051b86'),
  'name': 'A & G Kitchen',
  'rating': 5},
 {'_id': ObjectId('55f14312c7447c3da7051b81'),
  'name': '888 Chinese Takeaway',
  'rating': 5},
 {'_id': ObjectId('55f14312c7447c3da7051be5'),
  'name': 'Aberavon Packed Meals',
  'rating': 5},
 {'_id': ObjectId('55f14312c7447c3da7051be8'),
  'name': 'Aberdeen Shanghai Takeaway',
  'rating': 5},
 {'_id': ObjectId('55f14312c7447c3da7051c0e'), 'name': "Ackie's", 'rating': 5},
 {'_id': ObjectId('55f14312c7447c3da7051c0c'),
  'name': 'Acha Halal Chinese Cuisine',
  'rating': 5},
 {'_id': ObjectId('55f14312c7447c3da7051c78'),
  'name': 'After Taste',
  'rating': 5},
 {'_id': ObjectId('55f14312c7447c3da7051c79'),
  'name': 'After Taste',
  'rating': 5},
 {'_id': ObjectId('55f14312c7447c3da7051c7a'),
  'name': 'After Taste',
  'rating': 5},
 {'_id': ObjectId('55f14312c7447c3da7051c99'), 'name': 'Ai Wok', 'rating': 5},
 {'_id': ObjectId('55f14312c7447c3da7051e3a'),
  'name': 'Amber Cuisine',
  'rating': 5},
 {'_id': ObjectId('55f14312c7447c3da7051eb9'),
  'name': "Amy's Fish & Chips & Chinese Takeaway",
  'rating': 5},
 {'_id': ObjectId('55f14312c7447c3da7051ee1'),
  'name': 'Angel Express',
  'rating': 5},
 {'_id': ObjectId('55f14312c7447c3da7051ee0'),
  'name': 'Angel Express',
  'rating': 5},
 {'_id': ObjectId('55f14312c7447c3da7051ee5'),
  'name': 'Angel Garden Chinese',
  'rating': 5},
 {'_id': ObjectId('55f14312c7447c3da7051ee4'),
  'name': 'Angel Garden Chinese',
  'rating': 5},
 {'_id': ObjectId('55f14312c7447c3da7051f23'),
  'name': "Anna's Chinese Takeaway",
  'rating': 5},
 {'_id': ObjectId('55f14312c7447c3da7051f68'),
  'name': 'Arch Chinese',
  'rating': 5},
 {'_id': ObjectId('55f14312c7447c3da7051f67'),
  'name': 'Arch Chinese',
  'rating': 5},
 {'_id': ObjectId('55f14312c7447c3da7051f7d'),
  'name': 'Ariel Open Kitchen',
  'rating': 5},
 {'_id': ObjectId('55f14312c7447c3da7051fa2'),
  'name': 'Aroma Chinese',
  'rating': 5},
 {'_id': ObjectId('55f14312c7447c3da7051fb7'), 'name': 'Aromas', 'rating': 5},
 {'_id': ObjectId('55f14312c7447c3da7052004'),
  'name': 'Asia Garden',
  'rating': 5},
 {'_id': ObjectId('55f14312c7447c3da7052001'),
  'name': 'Asia Channel',
  'rating': 5},
 {'_id': ObjectId('55f14312c7447c3da7052003'),
  'name': 'Asia Delight',
  'rating': 5},
 {'_id': ObjectId('55f14312c7447c3da7052038'), 'name': 'At28', 'rating': 5},
 {'_id': ObjectId('55f14313c7447c3da7052066'),
  'name': "Auntie May's Chinese Takeaway",
  'rating': 5},
 {'_id': ObjectId('55f14313c7447c3da7052065'),
  'name': "Auntie May's Chinese Takeaway",
  'rating': 5},
 {'_id': ObjectId('55f14313c7447c3da7052191'),
  'name': 'Bamboo Express',
  'rating': 5},
 {'_id': ObjectId('55f14313c7447c3da7052190'),
  'name': 'Bamboo Chinese Takeaway',
  'rating': 5},
 {'_id': ObjectId('55f14313c7447c3da7052194'),
  'name': 'Bamboo Garden',
  'rating': 5},
 {'_id': ObjectId('55f14313c7447c3da7052193'),
  'name': 'Bamboo Garden',
  'rating': 5},
 {'_id': ObjectId('55f14313c7447c3da7052196'),
  'name': 'Bamboo Garden',
  'rating': 5},
 {'_id': ObjectId('55f14313c7447c3da7052195'),
  'name': 'Bamboo Garden',
  'rating': 5},
 {'_id': ObjectId('55f14313c7447c3da7052197'),
  'name': 'Bamboo Garden',
  'rating': 5},
 {'_id': ObjectId('55f14313c7447c3da7052198'),
  'name': 'Bamboo Garden',
  'rating': 5},
 {'_id': ObjectId('55f14313c7447c3da70521a4'),
  'name': 'Banana Leaf',
  'rating': 5},
 {'_id': ObjectId('55f14313c7447c3da70521cf'),
  'name': 'Bao Bao Chinese Takeaway',
  'rating': 5},
 {'_id': ObjectId('55f14313c7447c3da7052201'),
  'name': 'Barrow Takeaway',
  'rating': 5},
 {'_id': ObjectId('55f14313c7447c3da7052209'),
  'name': 'Barton Oriental- Eccles',
  'rating': 5},
 {'_id': ObjectId('55f14313c7447c3da70522a6'),
  'name': 'Bedford Chinese Kitchen',
  'rating': 5},
 {'_id': ObjectId('55f14313c7447c3da70522b6'),
  'name': 'Beijing Chef',
  'rating': 5},
 {'_id': ObjectId('55f14313c7447c3da70522b5'),
  'name': 'Bei Jing',
  'rating': 5},
 {'_id': ObjectId('55f14313c7447c3da70522b8'),
  'name': 'Beijing Chef',
  'rating': 5},
 {'_id': ObjectId('55f14313c7447c3da70522b9'),
  'name': 'Beijing Chef Chinese Takeaway',
  'rating': 5},
 {'_id': ObjectId('55f14313c7447c3da70522bd'),
  'name': 'Beijing City',
  'rating': 5},
 {'_id': ObjectId('55f14313c7447c3da70522c0'),
  'name': 'Beijing Express',
  'rating': 5},
 {'_id': ObjectId('55f14313c7447c3da70522c3'),
  'name': 'Beijing Express',
  'rating': 5},
 {'_id': ObjectId('55f14313c7447c3da70522c6'),
  'name': 'Beijing Garden',
  'rating': 5},
 {'_id': ObjectId('55f14313c7447c3da70522c1'),
  'name': 'Beijing Express',
  'rating': 5},
 {'_id': ObjectId('55f14313c7447c3da70522c2'),
  'name': 'Beijing Express',
  'rating': 5},
 {'_id': ObjectId('55f14313c7447c3da70522c4'),
  'name': 'Beijing Express',
  'rating': 5},
 {'_id': ObjectId('55f14313c7447c3da70522c5'),
  'name': 'Beijing Garden',
  'rating': 5},
 {'_id': ObjectId('55f14313c7447c3da70522cb'),
  'name': 'Beijing House',
  'rating': 5},
 {'_id': ObjectId('55f14313c7447c3da70522d1'),
  'name': 'Beijing Meng Zan',
  'rating': 5},
 {'_id': ObjectId('55f14313c7447c3da70522cf'),
  'name': 'Beijing Kirkstall',
  'rating': 5},
 {'_id': ObjectId('55f14313c7447c3da70522d0'),
  'name': 'Beijing Meng Zan',
  'rating': 5},
 {'_id': ObjectId('55f14313c7447c3da70522d2'),
  'name': 'Beijing Noodles',
  'rating': 5},
 {'_id': ObjectId('55f14313c7447c3da70522d9'),
  'name': 'Beijing Noodles',
  'rating': 5},
 {'_id': ObjectId('55f14313c7447c3da70522d3'),
  'name': 'Beijing Noodles',
  'rating': 5},
 {'_id': ObjectId('55f14313c7447c3da70522d5'),
  'name': 'Beijing Noodles',
  'rating': 5},
 {'_id': ObjectId('55f14313c7447c3da70522d8'),
  'name': 'Beijing Noodles',
  'rating': 5},
 {'_id': ObjectId('55f14313c7447c3da70522d4'),
  'name': 'Beijing Noodles',
  'rating': 5},
 {'_id': ObjectId('55f14313c7447c3da70522d7'),
  'name': 'Beijing Noodles',
  'rating': 5},
 {'_id': ObjectId('55f14313c7447c3da70522d6'),
  'name': 'Beijing Noodles',
  'rating': 5},
 {'_id': ObjectId('55f14313c7447c3da70522dd'),
  'name': 'Beijing Takeaway',
  'rating': 5},
 {'_id': ObjectId('55f14313c7447c3da705239f'), 'name': 'Bennys', 'rating': 5},
 {'_id': ObjectId('55f14313c7447c3da70523a0'), 'name': 'Bennys', 'rating': 5},
 {'_id': ObjectId('55f14313c7447c3da70523a3'), 'name': "Benny's", 'rating': 5},
 {'_id': ObjectId('55f14313c7447c3da70523ad'), 'name': 'Bento', 'rating': 5},
 {'_id': ObjectId('55f14313c7447c3da70523b2'),
  'name': 'Bento King (Hulme)',
  'rating': 5},
 {'_id': ObjectId('55f14313c7447c3da70523ca'),
  'name': 'Best Choices Chinese Takeaway',
  'rating': 5},
 {'_id': ObjectId('55f14313c7447c3da70523cb'),
  'name': 'Best Choices Chinese Takeaway',
  'rating': 5},
 {'_id': ObjectId('55f14313c7447c3da70523cc'),
  'name': 'Best Choices Chinese Takeaway',
  'rating': 5},
 {'_id': ObjectId('55f14313c7447c3da70523cd'),
  'name': 'Best Chopsticks',
  'rating': 5},
 {'_id': ObjectId('55f14313c7447c3da70523d1'),
  'name': 'Best Food',
  'rating': 5},
 {'_id': ObjectId('55f14313c7447c3da70524be'),
  'name': "Bill's Wok Inn",
  'rating': 5},
 {'_id': ObjectId('55f14313c7447c3da70524fa'),
  'name': 'Black Pandas',
  'rating': 5},
 {'_id': ObjectId('55f14313c7447c3da7052514'),
  'name': 'Blue Bell',
  'rating': 5},
 {'_id': ObjectId('55f14312c7447c3da7051b35'),
  'name': '113 Fish Bar',
  'rating': 5.5},
 {'_id': ObjectId('55f14312c7447c3da7051b38'),
  'name': '168 Chinese & Cantonese Takeaway',
  'rating': 5.5},
 {'_id': ObjectId('55f14312c7447c3da7051b59'),
  'name': '350 Wok',
  'rating': 5.5},
 {'_id': ObjectId('55f14312c7447c3da7051b5a'),
  'name': '350 Wok',
  'rating': 5.5},
 {'_id': ObjectId('55f14312c7447c3da7051b5b'),
  'name': '350 Wok',
  'rating': 5.5},
 {'_id': ObjectId('55f14312c7447c3da7051b5d'),
  'name': '4 in Love',
  'rating': 5.5},
 {'_id': ObjectId('55f14312c7447c3da7051b75'),
  'name': '7 & One',
  'rating': 5.5},
 {'_id': ObjectId('55f14312c7447c3da7051eda'),
  'name': "Andy's Takeaway",
  'rating': 5.5},
 {'_id': ObjectId('55f14312c7447c3da7051f12'), 'name': 'Anise', 'rating': 5.5},
 {'_id': ObjectId('55f14312c7447c3da7051f6d'),
  'name': 'Arden Oak',
  'rating': 5.5},
 {'_id': ObjectId('55f14312c7447c3da7051fa5'),
  'name': 'Aroma House',
  'rating': 5.5},
 {'_id': ObjectId('55f14312c7447c3da7052000'),
  'name': 'Asia Bagus',
  'rating': 5.5},
 {'_id': ObjectId('55f14312c7447c3da705200f'),
  'name': 'Asian Fusion',
  'rating': 5.5},
 {'_id': ObjectId('55f14312c7447c3da7052017'),
  'name': 'Asian Station',
  'rating': 5.5},
 {'_id': ObjectId('55f14312c7447c3da7052012'),
  'name': 'Asian Kitchen',
  'rating': 5.5},
 {'_id': ObjectId('55f14313c7447c3da7052199'),
  'name': 'Bamboo Garden',
  'rating': 5.5},
 {'_id': ObjectId('55f14313c7447c3da70521a0'), 'name': 'Bambu', 'rating': 5.5},
 {'_id': ObjectId('55f14313c7447c3da70521a1'), 'name': 'Bambu', 'rating': 5.5},
 {'_id': ObjectId('55f14313c7447c3da70522be'),
  'name': 'Beijing Cuisine',
  'rating': 5.5},
 {'_id': ObjectId('55f14313c7447c3da7052301'),
  'name': 'Bella House',
  'rating': 5.5},
 {'_id': ObjectId('55f14313c7447c3da70523b3'),
  'name': 'Bento King (Leeds)',
  'rating': 5.5},
 {'_id': ObjectId('55f14313c7447c3da70523b4'),
  'name': 'Bento King (Withington)',
  'rating': 5.5},
 {'_id': ObjectId('55f14313c7447c3da70523b5'),
  'name': 'Bento King (Withington)',
  'rating': 5.5},
 {'_id': ObjectId('55f14313c7447c3da7052474'),
  'name': 'Big China',
  'rating': 5.5},
 {'_id': ObjectId('55f14313c7447c3da70524f7'),
  'name': 'Black Elephant',
  'rating': 5.5},
 {'_id': ObjectId('55f14313c7447c3da70524f6'),
  'name': 'Black Elephant',
  'rating': 5.5},
 {'_id': ObjectId('55f14313c7447c3da705250b'),
  'name': 'Blessing',
  'rating': 5.5},
 {'_id': ObjectId('55f14313c7447c3da705250a'),
  'name': 'Blessing',
  'rating': 5.5},
 {'_id': ObjectId('55f14313c7447c3da705250c'),
  'name': 'Blessing',
  'rating': 5.5},
 {'_id': ObjectId('55f14313c7447c3da7052510'),
  'name': 'Blossom House',
  'rating': 5.5}]

In [76]:
collection.find({"type_of_food": "Chinese"}, {"type_of_food": 1, "name": 1, "rating": 1}).sort("rating", -1)

In [77]:
list(_)

[{'_id': ObjectId('55f14312c7447c3da7051b35'),
  'name': '113 Fish Bar',
  'rating': 5.5,
  'type_of_food': 'Chinese'},
 {'_id': ObjectId('55f14312c7447c3da7051b38'),
  'name': '168 Chinese & Cantonese Takeaway',
  'rating': 5.5,
  'type_of_food': 'Chinese'},
 {'_id': ObjectId('55f14312c7447c3da7051b59'),
  'name': '350 Wok',
  'rating': 5.5,
  'type_of_food': 'Chinese'},
 {'_id': ObjectId('55f14312c7447c3da7051b5a'),
  'name': '350 Wok',
  'rating': 5.5,
  'type_of_food': 'Chinese'},
 {'_id': ObjectId('55f14312c7447c3da7051b5b'),
  'name': '350 Wok',
  'rating': 5.5,
  'type_of_food': 'Chinese'},
 {'_id': ObjectId('55f14312c7447c3da7051b5d'),
  'name': '4 in Love',
  'rating': 5.5,
  'type_of_food': 'Chinese'},
 {'_id': ObjectId('55f14312c7447c3da7051b75'),
  'name': '7 & One',
  'rating': 5.5,
  'type_of_food': 'Chinese'},
 {'_id': ObjectId('55f14312c7447c3da7051eda'),
  'name': "Andy's Takeaway",
  'rating': 5.5,
  'type_of_food': 'Chinese'},
 {'_id': ObjectId('55f14312c7447c3da7051f12'),
  'name': 'Anise',
  'rating': 5.5,
  'type_of_food': 'Chinese'},
 {'_id': ObjectId('55f14312c7447c3da7051f6d'),
  'name': 'Arden Oak',
  'rating': 5.5,
  'type_of_food': 'Chinese'},
 {'_id': ObjectId('55f14312c7447c3da7051fa5'),
  'name': 'Aroma House',
  'rating': 5.5,
  'type_of_food': 'Chinese'},
 {'_id': ObjectId('55f14312c7447c3da7052000'),
  'name': 'Asia Bagus',
  'rating': 5.5,
  'type_of_food': 'Chinese'},
 {'_id': ObjectId('55f14312c7447c3da705200f'),
  'name': 'Asian Fusion',
  'rating': 5.5,
  'type_of_food': 'Chinese'},
 {'_id': ObjectId('55f14312c7447c3da7052017'),
  'name': 'Asian Station',
  'rating': 5.5,
  'type_of_food': 'Chinese'},
 {'_id': ObjectId('55f14312c7447c3da7052012'),
  'name': 'Asian Kitchen',
  'rating': 5.5,
  'type_of_food': 'Chinese'},
 {'_id': ObjectId('55f14313c7447c3da7052199'),
  'name': 'Bamboo Garden',
  'rating': 5.5,
  'type_of_food': 'Chinese'},
 {'_id': ObjectId('55f14313c7447c3da70521a0'),
  'name': 'Bambu',
  'rating': 5.5,
  'type_of_food': 'Chinese'},
 {'_id': ObjectId('55f14313c7447c3da70521a1'),
  'name': 'Bambu',
  'rating': 5.5,
  'type_of_food': 'Chinese'},
 {'_id': ObjectId('55f14313c7447c3da70522be'),
  'name': 'Beijing Cuisine',
  'rating': 5.5,
  'type_of_food': 'Chinese'},
 {'_id': ObjectId('55f14313c7447c3da7052301'),
  'name': 'Bella House',
  'rating': 5.5,
  'type_of_food': 'Chinese'},
 {'_id': ObjectId('55f14313c7447c3da70523b3'),
  'name': 'Bento King (Leeds)',
  'rating': 5.5,
  'type_of_food': 'Chinese'},
 {'_id': ObjectId('55f14313c7447c3da70523b4'),
  'name': 'Bento King (Withington)',
  'rating': 5.5,
  'type_of_food': 'Chinese'},
 {'_id': ObjectId('55f14313c7447c3da70523b5'),
  'name': 'Bento King (Withington)',
  'rating': 5.5,
  'type_of_food': 'Chinese'},
 {'_id': ObjectId('55f14313c7447c3da7052474'),
  'name': 'Big China',
  'rating': 5.5,
  'type_of_food': 'Chinese'},
 {'_id': ObjectId('55f14313c7447c3da70524f7'),
  'name': 'Black Elephant',
  'rating': 5.5,
  'type_of_food': 'Chinese'},
 {'_id': ObjectId('55f14313c7447c3da70524f6'),
  'name': 'Black Elephant',
  'rating': 5.5,
  'type_of_food': 'Chinese'},
 {'_id': ObjectId('55f14313c7447c3da705250b'),
  'name': 'Blessing',
  'rating': 5.5,
  'type_of_food': 'Chinese'},
 {'_id': ObjectId('55f14313c7447c3da705250a'),
  'name': 'Blessing',
  'rating': 5.5,
  'type_of_food': 'Chinese'},
 {'_id': ObjectId('55f14313c7447c3da705250c'),
  'name': 'Blessing',
  'rating': 5.5,
  'type_of_food': 'Chinese'},
 {'_id': ObjectId('55f14313c7447c3da7052510'),
  'name': 'Blossom House',
  'rating': 5.5,
  'type_of_food': 'Chinese'},
 {'_id': ObjectId('55f14312c7447c3da7051b26'),
  'name': '.CN Chinese',
  'rating': 5,
  'type_of_food': 'Chinese'},
 {'_id': ObjectId('55f14312c7447c3da7051b31'),
  'name': '100 Degrees Chinese Restaurant',
  'rating': 5,
  'type_of_food': 'Chinese'},
 {'_id': ObjectId('55f14312c7447c3da7051b32'),
  'name': '100 Menu',
  'rating': 5,
  'type_of_food': 'Chinese'},
 {'_id': ObjectId('55f14312c7447c3da7051b39'),
  'name': '1A Wok',
  'rating': 5,
  'type_of_food': 'Chinese'},
 {'_id': ObjectId('55f14312c7447c3da7051b56'),
  'name': '333 Chinese Takeaway',
  'rating': 5,
  'type_of_food': 'Chinese'},
 {'_id': ObjectId('55f14312c7447c3da7051b57'),
  'name': '333 Chinese Takeaway',
  'rating': 5,
  'type_of_food': 'Chinese'},
 {'_id': ObjectId('55f14312c7447c3da7051b55'),
  'name': '328 Chinese Online',
  'rating': 5,
  'type_of_food': 'Chinese'},
 {'_id': ObjectId('55f14312c7447c3da7051b64'),
  'name': '5 Star Chinese',
  'rating': 5,
  'type_of_food': 'Chinese'},
 {'_id': ObjectId('55f14312c7447c3da7051b63'),
  'name': '5 Star Chinese',
  'rating': 5,
  'type_of_food': 'Chinese'},
 {'_id': ObjectId('55f14312c7447c3da7051b7f'),
  'name': '88 Chinese',
  'rating': 5,
  'type_of_food': 'Chinese'},
 {'_id': ObjectId('55f14312c7447c3da7051b82'),
  'name': '888 Triple Eight',
  'rating': 5,
  'type_of_food': 'Chinese'},
 {'_id': ObjectId('55f14312c7447c3da7051b85'),
  'name': '9th Kitchen',
  'rating': 5,
  'type_of_food': 'Chinese'},
 {'_id': ObjectId('55f14312c7447c3da7051b86'),
  'name': 'A & G Kitchen',
  'rating': 5,
  'type_of_food': 'Chinese'},
 {'_id': ObjectId('55f14312c7447c3da7051b81'),
  'name': '888 Chinese Takeaway',
  'rating': 5,
  'type_of_food': 'Chinese'},
 {'_id': ObjectId('55f14312c7447c3da7051be5'),
  'name': 'Aberavon Packed Meals',
  'rating': 5,
  'type_of_food': 'Chinese'},
 {'_id': ObjectId('55f14312c7447c3da7051be8'),
  'name': 'Aberdeen Shanghai Takeaway',
  'rating': 5,
  'type_of_food': 'Chinese'},
 {'_id': ObjectId('55f14312c7447c3da7051c0e'),
  'name': "Ackie's",
  'rating': 5,
  'type_of_food': 'Chinese'},
 {'_id': ObjectId('55f14312c7447c3da7051c0c'),
  'name': 'Acha Halal Chinese Cuisine',
  'rating': 5,
  'type_of_food': 'Chinese'},
 {'_id': ObjectId('55f14312c7447c3da7051c78'),
  'name': 'After Taste',
  'rating': 5,
  'type_of_food': 'Chinese'},
 {'_id': ObjectId('55f14312c7447c3da7051c79'),
  'name': 'After Taste',
  'rating': 5,
  'type_of_food': 'Chinese'},
 {'_id': ObjectId('55f14312c7447c3da7051c7a'),
  'name': 'After Taste',
  'rating': 5,
  'type_of_food': 'Chinese'},
 {'_id': ObjectId('55f14312c7447c3da7051c99'),
  'name': 'Ai Wok',
  'rating': 5,
  'type_of_food': 'Chinese'},
 {'_id': ObjectId('55f14312c7447c3da7051e3a'),
  'name': 'Amber Cuisine',
  'rating': 5,
  'type_of_food': 'Chinese'},
 {'_id': ObjectId('55f14312c7447c3da7051eb9'),
  'name': "Amy's Fish & Chips & Chinese Takeaway",
  'rating': 5,
  'type_of_food': 'Chinese'},
 {'_id': ObjectId('55f14312c7447c3da7051ee1'),
  'name': 'Angel Express',
  'rating': 5,
  'type_of_food': 'Chinese'},
 {'_id': ObjectId('55f14312c7447c3da7051ee0'),
  'name': 'Angel Express',
  'rating': 5,
  'type_of_food': 'Chinese'},
 {'_id': ObjectId('55f14312c7447c3da7051ee5'),
  'name': 'Angel Garden Chinese',
  'rating': 5,
  'type_of_food': 'Chinese'},
 {'_id': ObjectId('55f14312c7447c3da7051ee4'),
  'name': 'Angel Garden Chinese',
  'rating': 5,
  'type_of_food': 'Chinese'},
 {'_id': ObjectId('55f14312c7447c3da7051f23'),
  'name': "Anna's Chinese Takeaway",
  'rating': 5,
  'type_of_food': 'Chinese'},
 {'_id': ObjectId('55f14312c7447c3da7051f68'),
  'name': 'Arch Chinese',
  'rating': 5,
  'type_of_food': 'Chinese'},
 {'_id': ObjectId('55f14312c7447c3da7051f67'),
  'name': 'Arch Chinese',
  'rating': 5,
  'type_of_food': 'Chinese'},
 {'_id': ObjectId('55f14312c7447c3da7051f7d'),
  'name': 'Ariel Open Kitchen',
  'rating': 5,
  'type_of_food': 'Chinese'},
 {'_id': ObjectId('55f14312c7447c3da7051fa2'),
  'name': 'Aroma Chinese',
  'rating': 5,
  'type_of_food': 'Chinese'},
 {'_id': ObjectId('55f14312c7447c3da7051fb7'),
  'name': 'Aromas',
  'rating': 5,
  'type_of_food': 'Chinese'},
 {'_id': ObjectId('55f14312c7447c3da7052004'),
  'name': 'Asia Garden',
  'rating': 5,
  'type_of_food': 'Chinese'},
 {'_id': ObjectId('55f14312c7447c3da7052001'),
  'name': 'Asia Channel',
  'rating': 5,
  'type_of_food': 'Chinese'},
 {'_id': ObjectId('55f14312c7447c3da7052003'),
  'name': 'Asia Delight',
  'rating': 5,
  'type_of_food': 'Chinese'},
 {'_id': ObjectId('55f14312c7447c3da7052038'),
  'name': 'At28',
  'rating': 5,
  'type_of_food': 'Chinese'},
 {'_id': ObjectId('55f14313c7447c3da7052066'),
  'name': "Auntie May's Chinese Takeaway",
  'rating': 5,
  'type_of_food': 'Chinese'},
 {'_id': ObjectId('55f14313c7447c3da7052065'),
  'name': "Auntie May's Chinese Takeaway",
  'rating': 5,
  'type_of_food': 'Chinese'},
 {'_id': ObjectId('55f14313c7447c3da7052191'),
  'name': 'Bamboo Express',
  'rating': 5,
  'type_of_food': 'Chinese'},
 {'_id': ObjectId('55f14313c7447c3da7052190'),
  'name': 'Bamboo Chinese Takeaway',
  'rating': 5,
  'type_of_food': 'Chinese'},
 {'_id': ObjectId('55f14313c7447c3da7052194'),
  'name': 'Bamboo Garden',
  'rating': 5,
  'type_of_food': 'Chinese'},
 {'_id': ObjectId('55f14313c7447c3da7052193'),
  'name': 'Bamboo Garden',
  'rating': 5,
  'type_of_food': 'Chinese'},
 {'_id': ObjectId('55f14313c7447c3da7052196'),
  'name': 'Bamboo Garden',
  'rating': 5,
  'type_of_food': 'Chinese'},
 {'_id': ObjectId('55f14313c7447c3da7052195'),
  'name': 'Bamboo Garden',
  'rating': 5,
  'type_of_food': 'Chinese'},
 {'_id': ObjectId('55f14313c7447c3da7052197'),
  'name': 'Bamboo Garden',
  'rating': 5,
  'type_of_food': 'Chinese'},
 {'_id': ObjectId('55f14313c7447c3da7052198'),
  'name': 'Bamboo Garden',
  'rating': 5,
  'type_of_food': 'Chinese'},
 {'_id': ObjectId('55f14313c7447c3da70521a4'),
  'name': 'Banana Leaf',
  'rating': 5,
  'type_of_food': 'Chinese'},
 {'_id': ObjectId('55f14313c7447c3da70521cf'),
  'name': 'Bao Bao Chinese Takeaway',
  'rating': 5,
  'type_of_food': 'Chinese'},
 {'_id': ObjectId('55f14313c7447c3da7052201'),
  'name': 'Barrow Takeaway',
  'rating': 5,
  'type_of_food': 'Chinese'},
 {'_id': ObjectId('55f14313c7447c3da7052209'),
  'name': 'Barton Oriental- Eccles',
  'rating': 5,
  'type_of_food': 'Chinese'},
 {'_id': ObjectId('55f14313c7447c3da70522a6'),
  'name': 'Bedford Chinese Kitchen',
  'rating': 5,
  'type_of_food': 'Chinese'},
 {'_id': ObjectId('55f14313c7447c3da70522b6'),
  'name': 'Beijing Chef',
  'rating': 5,
  'type_of_food': 'Chinese'},
 {'_id': ObjectId('55f14313c7447c3da70522b5'),
  'name': 'Bei Jing',
  'rating': 5,
  'type_of_food': 'Chinese'},
 {'_id': ObjectId('55f14313c7447c3da70522b8'),
  'name': 'Beijing Chef',
  'rating': 5,
  'type_of_food': 'Chinese'},
 {'_id': ObjectId('55f14313c7447c3da70522b9'),
  'name': 'Beijing Chef Chinese Takeaway',
  'rating': 5,
  'type_of_food': 'Chinese'},
 {'_id': ObjectId('55f14313c7447c3da70522bd'),
  'name': 'Beijing City',
  'rating': 5,
  'type_of_food': 'Chinese'},
 {'_id': ObjectId('55f14313c7447c3da70522c0'),
  'name': 'Beijing Express',
  'rating': 5,
  'type_of_food': 'Chinese'},
 {'_id': ObjectId('55f14313c7447c3da70522c3'),
  'name': 'Beijing Express',
  'rating': 5,
  'type_of_food': 'Chinese'},
 {'_id': ObjectId('55f14313c7447c3da70522c6'),
  'name': 'Beijing Garden',
  'rating': 5,
  'type_of_food': 'Chinese'},
 {'_id': ObjectId('55f14313c7447c3da70522c1'),
  'name': 'Beijing Express',
  'rating': 5,
  'type_of_food': 'Chinese'},
 {'_id': ObjectId('55f14313c7447c3da70522c2'),
  'name': 'Beijing Express',
  'rating': 5,
  'type_of_food': 'Chinese'},
 {'_id': ObjectId('55f14313c7447c3da70522c4'),
  'name': 'Beijing Express',
  'rating': 5,
  'type_of_food': 'Chinese'},
 {'_id': ObjectId('55f14313c7447c3da70522c5'),
  'name': 'Beijing Garden',
  'rating': 5,
  'type_of_food': 'Chinese'},
 {'_id': ObjectId('55f14313c7447c3da70522cb'),
  'name': 'Beijing House',
  'rating': 5,
  'type_of_food': 'Chinese'},
 {'_id': ObjectId('55f14313c7447c3da70522d1'),
  'name': 'Beijing Meng Zan',
  'rating': 5,
  'type_of_food': 'Chinese'},
 {'_id': ObjectId('55f14313c7447c3da70522cf'),
  'name': 'Beijing Kirkstall',
  'rating': 5,
  'type_of_food': 'Chinese'},
 {'_id': ObjectId('55f14313c7447c3da70522d0'),
  'name': 'Beijing Meng Zan',
  'rating': 5,
  'type_of_food': 'Chinese'},
 {'_id': ObjectId('55f14313c7447c3da70522d2'),
  'name': 'Beijing Noodles',
  'rating': 5,
  'type_of_food': 'Chinese'},
 {'_id': ObjectId('55f14313c7447c3da70522d9'),
  'name': 'Beijing Noodles',
  'rating': 5,
  'type_of_food': 'Chinese'},
 {'_id': ObjectId('55f14313c7447c3da70522d3'),
  'name': 'Beijing Noodles',
  'rating': 5,
  'type_of_food': 'Chinese'},
 {'_id': ObjectId('55f14313c7447c3da70522d5'),
  'name': 'Beijing Noodles',
  'rating': 5,
  'type_of_food': 'Chinese'},
 {'_id': ObjectId('55f14313c7447c3da70522d8'),
  'name': 'Beijing Noodles',
  'rating': 5,
  'type_of_food': 'Chinese'},
 {'_id': ObjectId('55f14313c7447c3da70522d4'),
  'name': 'Beijing Noodles',
  'rating': 5,
  'type_of_food': 'Chinese'},
 {'_id': ObjectId('55f14313c7447c3da70522d7'),
  'name': 'Beijing Noodles',
  'rating': 5,
  'type_of_food': 'Chinese'},
 {'_id': ObjectId('55f14313c7447c3da70522d6'),
  'name': 'Beijing Noodles',
  'rating': 5,
  'type_of_food': 'Chinese'},
 {'_id': ObjectId('55f14313c7447c3da70522dd'),
  'name': 'Beijing Takeaway',
  'rating': 5,
  'type_of_food': 'Chinese'},
 {'_id': ObjectId('55f14313c7447c3da705239f'),
  'name': 'Bennys',
  'rating': 5,
  'type_of_food': 'Chinese'},
 {'_id': ObjectId('55f14313c7447c3da70523a0'),
  'name': 'Bennys',
  'rating': 5,
  'type_of_food': 'Chinese'},
 {'_id': ObjectId('55f14313c7447c3da70523a3'),
  'name': "Benny's",
  'rating': 5,
  'type_of_food': 'Chinese'},
 {'_id': ObjectId('55f14313c7447c3da70523ad'),
  'name': 'Bento',
  'rating': 5,
  'type_of_food': 'Chinese'},
 {'_id': ObjectId('55f14313c7447c3da70523b2'),
  'name': 'Bento King (Hulme)',
  'rating': 5,
  'type_of_food': 'Chinese'},
 {'_id': ObjectId('55f14313c7447c3da70523ca'),
  'name': 'Best Choices Chinese Takeaway',
  'rating': 5,
  'type_of_food': 'Chinese'},
 {'_id': ObjectId('55f14313c7447c3da70523cb'),
  'name': 'Best Choices Chinese Takeaway',
  'rating': 5,
  'type_of_food': 'Chinese'},
 {'_id': ObjectId('55f14313c7447c3da70523cc'),
  'name': 'Best Choices Chinese Takeaway',
  'rating': 5,
  'type_of_food': 'Chinese'},
 {'_id': ObjectId('55f14313c7447c3da70523cd'),
  'name': 'Best Chopsticks',
  'rating': 5,
  'type_of_food': 'Chinese'},
 {'_id': ObjectId('55f14313c7447c3da70523d1'),
  'name': 'Best Food',
  'rating': 5,
  'type_of_food': 'Chinese'},
 {'_id': ObjectId('55f14313c7447c3da70524be'),
  'name': "Bill's Wok Inn",
  'rating': 5,
  'type_of_food': 'Chinese'},
 {'_id': ObjectId('55f14313c7447c3da70524fa'),
  'name': 'Black Pandas',
  'rating': 5,
  'type_of_food': 'Chinese'},
 {'_id': ObjectId('55f14313c7447c3da7052514'),
  'name': 'Blue Bell',
  'rating': 5,
  'type_of_food': 'Chinese'},
 {'_id': ObjectId('55f14312c7447c3da7051b2f'),
  'name': '1 2 3 Chinese',
  'rating': 4.5,
  'type_of_food': 'Chinese'},
 {'_id': ObjectId('55f14312c7447c3da7051b30'),
  'name': '1 2 3 Chinese',
  'rating': 4.5,
  'type_of_food': 'Chinese'},
 {'_id': ObjectId('55f14312c7447c3da7051b58'),
  'name': '333 Chinese Takeaway1',
  'rating': 4.5,
  'type_of_food': 'Chinese'},
 {'_id': ObjectId('55f14312c7447c3da7051b72'),
  'name': '57 Orient Takeaway',
  'rating': 4.5,
  'type_of_food': 'Chinese'},
 {'_id': ObjectId('55f14312c7447c3da7051ba8'),
  'name': 'A1 Wok',
  'rating': 4.5,
  'type_of_food': 'Chinese'},
 {'_id': ObjectId('55f14312c7447c3da7051c5c'),
  'name': 'AF88',
  'rating': 4.5,
  'type_of_food': 'Chinese'},
 {'_id': ObjectId('55f14312c7447c3da7051dd3'),
  'name': 'All Welcome',
  'rating': 4.5,
  'type_of_food': 'Chinese'},
 {'_id': ObjectId('55f14312c7447c3da7051e39'),
  'name': 'Amber',
  'rating': 4.5,
  'type_of_food': 'Chinese'},
 {'_id': ObjectId('55f14312c7447c3da7051fc0'),
  'name': 'Arsenal Chinese Food & Fish Bar',
  'rating': 4.5,
  'type_of_food': 'Chinese'},
 {'_id': ObjectId('55f14312c7447c3da7051fc1'),
  'name': 'Arsenal Chinese Food & Fish Bar',
  'rating': 4.5,
  'type_of_food': 'Chinese'},
 {'_id': ObjectId('55f14312c7447c3da7051fca'),
  'name': "Arthur's China City",
  'rating': 4.5,
  'type_of_food': 'Chinese'},
 {'_id': ObjectId('55f14312c7447c3da7052002'),
  'name': 'Asia Chinese',
  'rating': 4.5,
  'type_of_food': 'Chinese'},
 {'_id': ObjectId('55f14312c7447c3da705200b'),
  'name': 'Asia Wok',
  'rating': 4.5,
  'type_of_food': 'Chinese'},
 {'_id': ObjectId('55f14312c7447c3da7052037'),
  'name': 'At Wan Da',
  'rating': 4.5,
  'type_of_food': 'Chinese'},
 {'_id': ObjectId('55f14312c7447c3da7052036'),
  'name': 'At Wan Da',
  'rating': 4.5,
  'type_of_food': 'Chinese'},
 {'_id': ObjectId('55f14312c7447c3da7052060'),
  'name': 'August Moon',
  'rating': 4.5,
  'type_of_food': 'Chinese'},
 {'_id': ObjectId('55f14313c7447c3da70520b9'),
  'name': 'Ba Fu Chinese',
  'rating': 4.5,
  'type_of_food': 'Chinese'},
 {'_id': ObjectId('55f14313c7447c3da7052192'),
  'name': 'Bamboo Garden',
  'rating': 4.5,
  'type_of_food': 'Chinese'},
 {'_id': ObjectId('55f14313c7447c3da705219d'),
  'name': 'Bamboo House',
  'rating': 4.5,
  'type_of_food': 'Chinese'},
 {'_id': ObjectId('55f14313c7447c3da705219b'),
  'name': 'Bamboo House',
  'rating': 4.5,
  'type_of_food': 'Chinese'},
 {'_id': ObjectId('55f14313c7447c3da705219c'),
  'name': 'Bamboo House',
  'rating': 4.5,
  'type_of_food': 'Chinese'},
 {'_id': ObjectId('55f14313c7447c3da70521fc'),
  'name': 'Barnsley House',
  'rating': 4.5,
  'type_of_food': 'Chinese'},
 {'_id': ObjectId('55f14313c7447c3da70522b7'),
  'name': 'Beijing',
  'rating': 4.5,
  'type_of_food': 'Chinese'},
 {'_id': ObjectId('55f14313c7447c3da70522bf'),
  'name': 'Beijing Dragon',
  'rating': 4.5,
  'type_of_food': 'Chinese'},
 {'_id': ObjectId('55f14313c7447c3da70522bc'),
  'name': 'Beijing City',
  'rating': 4.5,
  'type_of_food': 'Chinese'},
 {'_id': ObjectId('55f14313c7447c3da70522c7'),
  'name': 'Beijing House',
  'rating': 4.5,
  'type_of_food': 'Chinese'},
 {'_id': ObjectId('55f14313c7447c3da70522c8'),
  'name': 'Beijing House',
  'rating': 4.5,
  'type_of_food': 'Chinese'},
 {'_id': ObjectId('55f14313c7447c3da70522c9'),
  'name': 'Beijing House',
  'rating': 4.5,
  'type_of_food': 'Chinese'},
 {'_id': ObjectId('55f14313c7447c3da70522ca'),
  'name': 'Beijing House',
  'rating': 4.5,
  'type_of_food': 'Chinese'},
 {'_id': ObjectId('55f14313c7447c3da70522cc'),
  'name': 'Beijing Inn',
  'rating': 4.5,
  'type_of_food': 'Chinese'},
 {'_id': ObjectId('55f14313c7447c3da70522cd'),
  'name': 'Beijing Inn',
  'rating': 4.5,
  'type_of_food': 'Chinese'},
 {'_id': ObjectId('55f14313c7447c3da70522ce'),
  'name': 'Beijing Inn',
  'rating': 4.5,
  'type_of_food': 'Chinese'},
 {'_id': ObjectId('55f14313c7447c3da70522da'),
  'name': 'Beijing Oriental Express',
  'rating': 4.5,
  'type_of_food': 'Chinese'},
 {'_id': ObjectId('55f14313c7447c3da70522db'),
  'name': 'Beijing Palace Restaurant',
  'rating': 4.5,
  'type_of_food': 'Chinese'},
 {'_id': ObjectId('55f14313c7447c3da70522dc'),
  'name': 'Beijing Restaurant',
  'rating': 4.5,
  'type_of_food': 'Chinese'},
 {'_id': ObjectId('55f14313c7447c3da70522fe'),
  'name': 'Bella Chinese',
  'rating': 4.5,
  'type_of_food': 'Chinese'},
 {'_id': ObjectId('55f14313c7447c3da7052336'),
  'name': 'Belmont Welcome Chinese',
  'rating': 4.5,
  'type_of_food': 'Chinese'},
 {'_id': ObjectId('55f14313c7447c3da70524a2'),
  'name': 'Big Wok',
  'rating': 4.5,
  'type_of_food': 'Chinese'},
 {'_id': ObjectId('55f14313c7447c3da70524cf'),
  'name': 'Bing Chinese Takeaway',
  'rating': 4.5,
  'type_of_food': 'Chinese'},
 {'_id': ObjectId('55f14313c7447c3da70524ce'),
  'name': 'Bing Chinese Takeaway',
  'rating': 4.5,
  'type_of_food': 'Chinese'},
 {'_id': ObjectId('55f14313c7447c3da70524f3'),
  'name': 'Black Bull',
  'rating': 4.5,
  'type_of_food': 'Chinese'},
 {'_id': ObjectId('55f14312c7447c3da7051b80'),
  'name': '88 Noodle Bar',
  'rating': 4,
  'type_of_food': 'Chinese'},
 {'_id': ObjectId('55f14312c7447c3da7051e33'),
  'name': 'Amazing',
  'rating': 4,
  'type_of_food': 'Chinese'},
 {'_id': ObjectId('55f14312c7447c3da7051f80'),
  'name': 'Arirang',
  'rating': 4,
  'type_of_food': 'Chinese'},

### `limit`

We can `limit` the result of a `find`

In [78]:
collection.find({"type_of_food": "Chinese"}, {"name": 1, "rating": 1, "_id": 0}).limit(3)

In [79]:
list(_)

[{'name': '.CN Chinese', 'rating': 5},
 {'name': '1 2 3 Chinese', 'rating': 4.5},
 {'name': '100 Degrees Chinese Restaurant', 'rating': 5}]

In [94]:
collection.find({"type_of_food": "Chinese"}, {"name": 1, "rating": 1, "_id": 0}).sort("rating", -1).limit(6)

In [95]:
list(_)

[{'name': '350 Wok', 'rating': 5.5},
 {'name': '113 Fish Bar', 'rating': 5.5},
 {'name': '350 Wok', 'rating': 5.5},
 {'name': '4 in Love', 'rating': 5.5},
 {'name': '350 Wok', 'rating': 5.5},
 {'name': '168 Chinese & Cantonese Takeaway', 'rating': 5.5}]

### `skip`

We can `skip` some results of a `find`

In [96]:
collection.find({"type_of_food": "Chinese"}, {"name": 1, "rating": 1, "_id": 0}).sort("rating", -1).skip(3).limit(3)

In [97]:
list(_)

[{'name': '4 in Love', 'rating': 5.5},
 {'name': '350 Wok', 'rating': 5.5},
 {'name': '168 Chinese & Cantonese Takeaway', 'rating': 5.5}]

## Typical query operators

Query operators are preceded by a dollar sign `$`

Lets create variable `c` for writing less code

In [98]:
c = collection

In [99]:
c.count_documents({})

2548

In [100]:
c.find_one()

{'_id': ObjectId('55f14312c7447c3da7051b26'),
 'URL': 'http://www.just-eat.co.uk/restaurants-cn-chinese-cardiff/menu',
 'address': '228 City Road',
 'address line 2': 'Cardiff',
 'name': '.CN Chinese',
 'outcode': 'CF24',
 'postcode': '3JH',
 'rating': 5,
 'type_of_food': 'Chinese'}

### greater than / less than

Is a numerical field greater or less than a given value?

In [101]:
c.find_one({"rating": {"$lt": 2}})

{'_id': ObjectId('55f14312c7447c3da7051cec'),
 'URL': 'http://www.just-eat.co.uk/restaurants-aldixifriedchicken-b21/menu',
 'address': '343 Soho Road',
 'name': 'Al Dixi Fried Chicken & Grill House',
 'outcode': 'B21',
 'postcode': '9SE',
 'rating': 1,
 'type_of_food': 'Chicken'}

In [102]:
c.find_one({"rating": {"$gt": 2}})

{'_id': ObjectId('55f14312c7447c3da7051b26'),
 'URL': 'http://www.just-eat.co.uk/restaurants-cn-chinese-cardiff/menu',
 'address': '228 City Road',
 'address line 2': 'Cardiff',
 'name': '.CN Chinese',
 'outcode': 'CF24',
 'postcode': '3JH',
 'rating': 5,
 'type_of_food': 'Chinese'}

In [106]:
list(c.find({"rating": {"$lte": 2}}, {"name": 1, "rating": 1, "_id": 0}))

[{'name': 'Al Dixi Fried Chicken & Grill House', 'rating': 1},
 {'name': 'Al Dixi Fried Chicken & Grill House', 'rating': 1},
 {'name': 'Alaowerri Restaurant', 'rating': 1},
 {'name': 'Beiteddine', 'rating': 1.5},
 {'name': 'Beiteddine', 'rating': 1.5},
 {'name': "Benny's", 'rating': 1},
 {'name': "Benny's", 'rating': 1},
 {'name': 'Big Boys Pizza', 'rating': 2},
 {'name': 'Big Boys Pizza', 'rating': 2},
 {'name': 'Big Boys Pizza', 'rating': 2}]

### `exists`

In [107]:
c.find_one({"address line 2": {"$exists": True}})

{'_id': ObjectId('55f14312c7447c3da7051b26'),
 'URL': 'http://www.just-eat.co.uk/restaurants-cn-chinese-cardiff/menu',
 'address': '228 City Road',
 'address line 2': 'Cardiff',
 'name': '.CN Chinese',
 'outcode': 'CF24',
 'postcode': '3JH',
 'rating': 5,
 'type_of_food': 'Chinese'}

In [108]:
c.find_one({"address line 2": {"$exists": False}})

{'_id': ObjectId('55f14312c7447c3da7051cec'),
 'URL': 'http://www.just-eat.co.uk/restaurants-aldixifriedchicken-b21/menu',
 'address': '343 Soho Road',
 'name': 'Al Dixi Fried Chicken & Grill House',
 'outcode': 'B21',
 'postcode': '9SE',
 'rating': 1,
 'type_of_food': 'Chicken'}

### `regex`

In [109]:
list(c.find({"name": {"$regex": ".*Halal.*"}}, {"name": 1, "_id": 0}))

[{'name': 'Acha Halal Chinese Cuisine'},
 {'name': 'Beirut Lebanese Halal Restaurant'},
 {'name': 'Beirut Lebanese Halal Restaurant'}]

In [110]:
list(c.find({"rating": 5, "name": {"$regex": ".*\d.*"}}, {"name": 1, "_id": 0}))

[{'name': '100 Degrees Chinese Restaurant'},
 {'name': '100 Menu'},
 {'name': '104 Turkish BBQ'},
 {'name': '109 Ristorante'},
 {'name': '1A Wok'},
 {'name': '23rd Street Pizza'},
 {'name': '241 Pizza'},
 {'name': '23rd Street Pizza'},
 {'name': '2-4-1 Pizza'},
 {'name': '2-4-1 Pizza'},
 {'name': '3 In 1 Dunoon'},
 {'name': '333 Chinese Takeaway'},
 {'name': '333 Chinese Takeaway'},
 {'name': '328 Chinese Online'},
 {'name': '4 in 1 Express'},
 {'name': '5 In 1 Takeaway'},
 {'name': '4 Seasons Pizza & Grill'},
 {'name': '5 Star Chinese'},
 {'name': '5 Star Chinese'},
 {'name': '5 Star Fish Bar'},
 {'name': '5 Star Pizza'},
 {'name': '5 Star Pizza'},
 {'name': '5 Star Pizza'},
 {'name': '62 Worksop Fish Bar'},
 {'name': '7 Spices'},
 {'name': '7 Spices'},
 {'name': '88 Chinese'},
 {'name': '888 Triple Eight'},
 {'name': '9th Kitchen'},
 {'name': '9 Inch CFC'},
 {'name': '888 Chinese Takeaway'},
 {'name': 'A1 Pizzas'},
 {'name': "A1 Rice 'N' Spice"},
 {'name': 'Aladdin Hot 4 You'},
 {'name': 'Allens Fried Chicken M8'},
 {'name': 'Alternative Takeaway 2'},
 {'name': 'Amici Miei2go.'},
 {'name': 'Amici Miei2go.'},
 {'name': 'At28'},
 {'name': 'Balti 2000'},
 {'name': 'Best Kebab 1'},
 {'name': 'Bilston No1'},
 {'name': 'Bilston No1'},
 {'name': 'Birashwamys Est 1970'}]

In [111]:
list(c.find({"rating": 5, "name": {"$regex": ".*\d$"}}, {"name": 1, "_id": 0}))

[{'name': 'Allens Fried Chicken M8'},
 {'name': 'Alternative Takeaway 2'},
 {'name': 'At28'},
 {'name': 'Balti 2000'},
 {'name': 'Best Kebab 1'},
 {'name': 'Bilston No1'},
 {'name': 'Bilston No1'},
 {'name': 'Birashwamys Est 1970'}]

### `and`

`find` dictionary with several keys is already performing an `$and` operation

In [114]:
list(c.find({"rating": 4, "type_of_food": "Chinese"}, {"type_of_food": 1, "name": 1, "rating": 1, "_id": 0}))

[{'name': '88 Noodle Bar', 'rating': 4, 'type_of_food': 'Chinese'},
 {'name': 'Amazing', 'rating': 4, 'type_of_food': 'Chinese'},
 {'name': 'Arirang', 'rating': 4, 'type_of_food': 'Chinese'},
 {'name': 'Arirang', 'rating': 4, 'type_of_food': 'Chinese'},
 {'name': 'Arirang', 'rating': 4, 'type_of_food': 'Chinese'},
 {'name': 'Arirang', 'rating': 4, 'type_of_food': 'Chinese'},
 {'name': 'Arirang', 'rating': 4, 'type_of_food': 'Chinese'},
 {'name': 'Arirang', 'rating': 4, 'type_of_food': 'Chinese'},
 {'name': 'Beijing Chinese', 'rating': 4, 'type_of_food': 'Chinese'},
 {'name': 'Beijing Chinese Restaurant',
  'rating': 4,
  'type_of_food': 'Chinese'}]

Alternatively...  
`find({"$and": [cond1, cond2]})`

In [115]:
pd.DataFrame(c.find(
    {"$and": [
        {"rating": 4},
        {"type_of_food": "Chinese"}
    ]},
    {"name": 1, "rating": 1, "type_of_food": 1, "_id": 0}
))

                         name  rating type_of_food
0               88 Noodle Bar       4      Chinese
1                     Amazing       4      Chinese
2                     Arirang       4      Chinese
3                     Arirang       4      Chinese
4                     Arirang       4      Chinese
5                     Arirang       4      Chinese
6                     Arirang       4      Chinese
7                     Arirang       4      Chinese
8             Beijing Chinese       4      Chinese
9  Beijing Chinese Restaurant       4      Chinese

### `or`

Alternatively...  
`find({"$or": [cond1, cond2]})`

In [118]:
condition = {"$or": [
        {"rating": 6},
        {"type_of_food": "Chinese"}
    ]}

In [119]:
condition

{'$or': [{'rating': 6}, {'type_of_food': 'Chinese'}]}

In [120]:
projection = {"name": 1, "rating": 1, "type_of_food": 1, "_id": 0}

In [122]:
n_sample = 3

In [123]:
pd.DataFrame(c.find(
    condition,
    projection
)).sample(n_sample)

                      name  rating type_of_food
216           Black Pandas     5.0      Chinese
15   333 Chinese Takeaway1     4.5      Chinese
4             113 Fish Bar     5.5      Chinese

### `ne`

Not equal

In [133]:
c.find_one({"type_of_food": {"$ne": "Chinese"}, "rating": {"$gte": 6}})

{'_id': ObjectId('55f14312c7447c3da7051b2a'),
 'URL': 'http://www.just-eat.co.uk/restaurants-indiancom-ch4/menu',
 'address': '9 Broughton Hall Road',
 'address line 2': 'Broughton',
 'name': '@Indian.com',
 'outcode': 'CH4',
 'postcode': '0QR',
 'rating': 6,
 'type_of_food': 'Curry'}

In [125]:
c.count_documents({"type_of_food": {"$ne": "Chinese"}})

2374

In [126]:
c.count_documents({"type_of_food": "Chinese"})

174

In [128]:
c.count_documents({})

2548

### `in`

In [134]:
df = pd.DataFrame(c.find({"rating": {"$in": [1, 2, 3]}}, {"rating": 1, "name": 1}))

In [137]:
df.head()

                        _id                                 name  rating
0  55f14312c7447c3da7051b2e                 042 Restaurant & Bar       3
1  55f14312c7447c3da7051b2d                 042 Restaurant & Bar       3
2  55f14312c7447c3da7051b2c                 042 Restaurant & Bar       3
3  55f14312c7447c3da7051cec  Al Dixi Fried Chicken & Grill House       1
4  55f14312c7447c3da7051ceb  Al Dixi Fried Chicken & Grill House       1

In [138]:
df.rating.value_counts()

3    16
1     5
2     3
Name: rating, dtype: int64

### `nin`

Not in

In [139]:
df = pd.DataFrame(c.find({"rating": {"$nin": [1, 2, 3]}}, {"rating": 1, "name": 1}))

In [140]:
df.head()

                        _id                            name rating
0  55f14312c7447c3da7051b26                     .CN Chinese      5
1  55f14312c7447c3da7051b27                          @ Thai    5.5
2  55f14312c7447c3da7051b2f                   1 2 3 Chinese    4.5
3  55f14312c7447c3da7051b31  100 Degrees Chinese Restaurant      5
4  55f14312c7447c3da7051b32                        100 Menu      5

In [141]:
df.rating.value_counts()

5                1107
5.5               600
4.5               472
4                 167
Not yet rated      63
3.5                51
6                  49
2.5                13
1.5                 2
Name: rating, dtype: int64

## Update

In [7]:
c = collection

In [8]:
c

Collection(Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'ironhack'), 'restaurants')

In [9]:
c.find_one()

{'_id': ObjectId('55f14312c7447c3da7051b26'),
 'URL': 'http://www.just-eat.co.uk/restaurants-cn-chinese-cardiff/menu',
 'address': '228 City Road',
 'address line 2': 'Cardiff',
 'name': '.CN Chinese',
 'outcode': 'CF24',
 'postcode': '3JH',
 'rating': 5,
 'type_of_food': 'Chinese'}

In [11]:
c.count_documents({})

2548

Careful, this cannot be undone!!

`c.update_many(condition, update)`

`update` may `$set` a field value or `$unset` it

In [12]:
c.find_one({"rating": 1})

{'_id': ObjectId('55f14312c7447c3da7051cec'),
 'URL': 'http://www.just-eat.co.uk/restaurants-aldixifriedchicken-b21/menu',
 'address': '343 Soho Road',
 'name': 'Al Dixi Fried Chicken & Grill House',
 'outcode': 'B21',
 'postcode': '9SE',
 'rating': 1,
 'type_of_food': 'Chicken'}

In [13]:
c.update_many(
    {"rating": 1}, 
    {"$set": {"rating": 0}}
)

In [18]:
c.find_one({"rating": 1})

In [19]:
c.update_many(
    {"rating": 0}, 
    {"$unset": {"type_of_food": ""}}
)

In [26]:
c.find_one({"rating": 0})

{'_id': ObjectId('55f14312c7447c3da7051cec'),
 'URL': 'http://www.just-eat.co.uk/restaurants-aldixifriedchicken-b21/menu',
 'address': '343 Soho Road',
 'name': 'Al Dixi Fried Chicken & Grill House',
 'outcode': 'B21',
 'postcode': '9SE',
 'rating': 0}

## Delete

`c.delete_many(condition)`

In [21]:
c.count_documents({})

2548

In [22]:
c.count_documents({"rating": 2})

3

In [23]:
c.delete_many({"rating": 2})

In [24]:
c.count_documents({"rating": 2})

0

In [25]:
c.count_documents({})

2545

## Geoqueries

With geoqueries we can answer questions like the following:
 * What country is this point in?
 * Where are the nearest pharmacies around my location?
 * Which restaurants are in this polygonal region?

Every point in Earth is characterised by two numbers:
 * longitude: angle from Greenwich meridian. Ranges from -180° (antiGreenwich) to +180° (also antiGreenwich)
 * latitude: angle from the equator. Ranges from -90° (south) to +90° (north)

<img src="./mongo_images/latlon.gif" width=700>

lon, lat coordinates of some points:
 * Madrid: -3.70, 40.41
 * Greenwich: 0, 51.47
 * Quito (Ecuador): -78.50, -0.21

### Import collections

I follow Mongo official documentation: [Mongo Geo Example](https://docs.mongodb.com/manual/tutorial/geospatial-tutorial/)

NOTE: images are only qualitative explanations of queries, not real responses of queries

Lets import 2 collections:
 * `restaurants2`
 * `neighborhoods`

In [27]:
db.list_collection_names()

['restaurants',
 'books',
 'companies',
 'countries_small',
 'neighborhoods',
 'restaurants2']

In [28]:
restaurants2 = db.get_collection("restaurants2")

Geoqueries can be done on fields with special structure

In [29]:
restaurants2.count_documents({})

25359

In [30]:
restaurants2.find_one()

{'_id': ObjectId('55cba2476c522cafdb053ae8'),
 'location': {'coordinates': [-73.9973325, 40.61174889999999],
  'type': 'Point'},
 'name': 'C & C Catering Service'}

<img src="./mongo_images/restaurant.png" width=300>

In [31]:
restaurants2.find_one().keys()

dict_keys(['_id', 'location', 'name'])

In [32]:
neig = db.get_collection("neighborhoods")

In [33]:
neig.count_documents({})

195

In [34]:
neig.find_one()

{'_id': ObjectId('55cb9c666c522cafdb053a1b'),
 'geometry': {'coordinates': [[[-73.94732672160579, 40.62916656720943],
    [-73.94687439946738, 40.626773668128486],
    [-73.94642266064318, 40.6243855672864],
    [-73.94542442897408, 40.624495609598185],
    [-73.94497031348948, 40.622104512937604],
    [-73.94451833370498, 40.61971364709504],
    [-73.94551663574785, 40.6196056119517],
    [-73.94651373193828, 40.61949401914993],
    [-73.9460669961243, 40.61710373918014],
    [-73.94576359491893, 40.61550406422122],
    [-73.94573691912028, 40.61536340675661],
    [-73.94657366828137, 40.61478913113749],
    [-73.94742608780807, 40.61422460055365],
    [-73.94772682569696, 40.614169716182865],
    [-73.94834517370118, 40.61413649663159],
    [-73.94930527478495, 40.614030734516],
    [-73.95026514882962, 40.613924351797365],
    [-73.94999598103774, 40.612491461663225],
    [-73.94996296695325, 40.61231572784935],
    [-73.94993049319106, 40.612144650893164],
    [-73.94978380450677, 40.61137175047764],
    [-73.95070512926118, 40.611250452224034],
    [-73.9516323504994, 40.6111235398617],
    [-73.95256553090685, 40.610987184733915],
    [-73.95258786948972, 40.61111223958901],
    [-73.95359888852907, 40.610949865606365],
    [-73.95479552710023, 40.610820765652555],
    [-73.95574066989145, 40.61071482745617],
    [-73.95670471406346, 40.61061187782888],
    [-73.95766801379433, 40.61050371521895],
    [-73.95804731927223, 40.610462762444214],
    [-73.95859278495767, 40.610403030935025],
    [-73.95952069567825, 40.610302052836765],
    [-73.96044361881539, 40.61020150680253],
    [-73.96137268313583, 40.610098874711596],
    [-73.96237947824763, 40.6099863745258],
    [-73.96285973961454, 40.61254948646701],
    [-73.9633609402326, 40.615204428336156],
    [-73.96356470625155, 40.61623872246746],
    [-73.9636224555516, 40.61658973720417],
    [-73.96375418658924, 40.61730243354293],
    [-73.96381145170662, 40.61758940154457],
    [-73.96388935578909, 40.61800054988432],
    [-73.96426798339394, 40.61998380328535],
    [-73.96471983385584, 40.6223729607027],
    [-73.9657187461846, 40.6222640294643],
    [-73.96664515713734, 40.622162237424746],
    [-73.96757137736036, 40.62206027486021],
    [-73.96864510622689, 40.621941695814826],
    [-73.96909724465462, 40.62433282513798],
    [-73.97019276977215, 40.62420324997415],
    [-73.97047171931135, 40.62417003048162],
    [-73.97080408232925, 40.6259326665903],
    [-73.97086150876679, 40.626237183335725],
    [-73.97092126268777, 40.626569985505505],
    [-73.97111421951182, 40.627585883684475],
    [-73.97120750524212, 40.62808971219772],
    [-73.97136622157025, 40.628929162715856],
    [-73.97109232328961, 40.62896614062419],
    [-73.9700010976348, 40.62911347375596],
    [-73.96892915890123, 40.62923162562474],
    [-73.96800084402989, 40.62933305821514],
    [-73.96707656865328, 40.62943468164793],
    [-73.96608191359866, 40.62954270682626],
    [-73.96508072828942, 40.629654675594836],
    [-73.96414862835245, 40.62973896556123],
    [-73.96322149343028, 40.62984106103682],
    [-73.9623259936459, 40.62996871673756],
    [-73.96197454283188, 40.62999504108035],
    [-73.96182099849077, 40.63000487740179],
    [-73.96163639940383, 40.63002222301838],
    [-73.96136921593188, 40.630058388262405],
    [-73.96046280639705, 40.630155661219426],
    [-73.96040734342054, 40.630162530576236],
    [-73.9602585501078, 40.62941826256536],
    [-73.96024902920536, 40.62937062183239],
    [-73.96022560057911, 40.62925450129709],
    [-73.96014773493862, 40.62891518541703],
    [-73.95995565121835, 40.627778672540586],
    [-73.95899416297213, 40.62788559454311],
    [-73.95805293146621, 40.627971118631955],
    [-73.95684697280593, 40.62811987905402],
    [-73.95581207194951, 40.62823349190697],
    [-73.95488499156933, 40.6283355483374],
    [-73.95395983418409, 40.62843938961405],
    [-73.95303133100138, 40.62854011509266],
    [-73.95206901809604, 40.628645781014725],
    [-73.95110641920337, 40.628750467094505],
    [-73.95017656950532, 40.62885277202806],
    [-73.94925229833629, 40.628954765326526],
    [-73.94832386196275, 40.62905666053273],
    [-73.94732672160579, 40.62916656720943]]],
  'type': 'Polygon'},
 'name': 'Midwood'}

<img src="./mongo_images/neighborhood.png" width=300>

In [35]:
neig.find_one().keys()

dict_keys(['_id', 'geometry', 'name'])

### Create geo indexes

MongoDB’s geospatial indexing allows you to   
efficiently execute **spatial queries** on a collection that contains geospatial shapes and points

Lets create geo index to let Mongo know we want to do geoqueries on these collection.  
This should only be done ONCE, and now Mongo collection is correctly indexed forever.

In [36]:
from pymongo import GEOSPHERE

In [37]:
restaurants2.create_index([("location", GEOSPHERE)])

'location_2dsphere'

In [38]:
neig.create_index([("geometry", GEOSPHERE)])

'geometry_2dsphere'

### Geometries

Geoqueries can be done on fields with special structure. These have
 * type
 * coordinates

 * Point: `{ type: "Point", coordinates: [ 40, 5 ] }`

 * LineString `{ type: "LineString", coordinates: [ [ 40, 5 ], [ 41, 6 ] ] }`

 * Polygon: `{type: "Polygon", coordinates: [ [ [ 0 , 0 ] , [ 3 , 6 ] , [ 6 , 1 ] , [ 0 , 0  ] ] ]}`

 * MultiPoint
 * MultiLineString
 * MultiPolygon
 * GeometryCollection

### Run geoqueries

#### `geoIntersects`

What elements **intersect** the given element?

Example: Which neighborhood am I at?

In [43]:
# lon lat
my_coords = [-73.93, 40.82]

In [44]:
my_location = {"type": "Point", "coordinates": my_coords}

In [46]:
my_location

{'type': 'Point', 'coordinates': [-73.93, 40.82]}

In [50]:
neig.find_one().keys()

dict_keys(['_id', 'geometry', 'name'])

In [49]:
neig.find_one(
    {"geometry": {"$geoIntersects": {"$geometry": my_location}}},
    {"name": 1}
)

{'_id': ObjectId('55cb9c666c522cafdb053ad7'), 'name': 'West Concourse'}

#### `geoWithin`

What elements are **fully contained** in the given element?

What restaurants are within this neighborhood (polygon)?

In [51]:
my_neighborhood = neig.find_one({"name": "West Concourse"})

In [52]:
my_neighborhood

{'_id': ObjectId('55cb9c666c522cafdb053ad7'),
 'geometry': {'coordinates': [[[-73.9119181232027, 40.84325788668494],
    [-73.91193751545497, 40.8432023881495],
    [-73.91198635358056, 40.8430570985903],
    [-73.91222180466812, 40.84235659170305],
    [-73.91240381713898, 40.84181649660891],
    [-73.9124693026202, 40.84162025788497],
    [-73.912622562266, 40.84115715928252],
    [-73.91269769187517, 40.840930129302],
    [-73.91277823096088, 40.84069106459224],
    [-73.91296000948248, 40.84019622853956],
    [-73.91313156280927, 40.83981054063787],
    [-73.91371372660576, 40.83880893480722],
    [-73.9137710497447, 40.83872164816365],
    [-73.91383125912098, 40.83863904543585],
    [-73.91423754080527, 40.83810879565884],
    [-73.91477300591417, 40.83751410136212],
    [-73.91531596675125, 40.836947423544245],
    [-73.91587067532251, 40.83639359424309],
    [-73.91647433404417, 40.8357790308964],
    [-73.91667316872477, 40.83556740537283],
    [-73.91720735744599, 40.83502151443556],
    [-73.91764388517001, 40.83457540712532],
    [-73.91767974796211, 40.83453875570219],
    [-73.91770299120152, 40.83451500851327],
    [-73.91773114976955, 40.834486230563215],
    [-73.91778665830896, 40.83442951168558],
    [-73.91839346704676, 40.83380941190165],
    [-73.91903136636114, 40.83308734929172],
    [-73.91949947117881, 40.83247949245444],
    [-73.91986089323623, 40.83194722683389],
    [-73.92046112158827, 40.83091482026156],
    [-73.92117830200499, 40.829629445753916],
    [-73.92140512872537, 40.829220042498775],
    [-73.92174660211639, 40.82860240909049],
    [-73.92183738083997, 40.82843621116791],
    [-73.92211960684489, 40.827925876329516],
    [-73.9222339605008, 40.8277194257141],
    [-73.92240525979597, 40.827411308390126],
    [-73.92264951582567, 40.82697240958067],
    [-73.92267670957412, 40.8268499959615],
    [-73.92273725149701, 40.82671825013152],
    [-73.92283308023278, 40.826507102326325],
    [-73.9229413884365, 40.82629934977829],
    [-73.92306184139831, 40.826095611398735],
    [-73.92347379160215, 40.82541322020579],
    [-73.9243131010052, 40.823994097265704],
    [-73.92437413454698, 40.82382068320316],
    [-73.92442266317119, 40.823644866484145],
    [-73.9244584759199, 40.82346742915679],
    [-73.92456530144653, 40.82314545479423],
    [-73.92469079493719, 40.8228267160118],
    [-73.92483467742107, 40.82251216795841],
    [-73.92499654873183, 40.822202701032424],
    [-73.92517593177352, 40.821899197367486],
    [-73.92537221939044, 40.82160252007776],
    [-73.92573567239674, 40.82117423556581],
    [-73.92565452967143, 40.821125232837424],
    [-73.9261040409398, 40.82074597112386],
    [-73.92628127008248, 40.82053716044143],
    [-73.9263434565365, 40.820578551554796],
    [-73.9266246629199, 40.820026393522205],
    [-73.92687781612841, 40.81947887196945],
    [-73.92731653132658, 40.81855963432497],
    [-73.92775576006353, 40.81757238095781],
    [-73.9282169895564, 40.8165356467124],
    [-73.92885642118691, 40.814879866978735],
    [-73.92896567468652, 40.81482825554786],
    [-73.92919204509968, 40.81449601178126],
    [-73.92921297954413, 40.814381957871625],
    [-73.93027812597025, 40.8132480251525],
    [-73.93039605125462, 40.813303747384545],
    [-73.93056964973516, 40.81337329834502],
    [-73.93104478823344, 40.81358844257695],
    [-73.93115852284062, 40.813635489109416],
    [-73.93123600492459, 40.81366672858036],
    [-73.93130722793359, 40.81369873940604],
    [-73.93139319413105, 40.81374459832944],
    [-73.93222960529138, 40.81409433302953],
    [-73.9323675252939, 40.81411173152629],
    [-73.93242631935765, 40.81411751895876],
    [-73.93242307595013, 40.81415171517561],
    [-73.9324176727652, 40.81420870619076],
    [-73.93237568818532, 40.814651574802504],
    [-73.93236564182574, 40.815032965377256],
    [-73.93236209265766, 40.81534211832816],
    [-73.9323406284524, 40.81721181980201],
    [-73.93233582201995, 40.81763040538414],
    [-73.93238745042837, 40.81942438714821],
    [-73.93238847621996, 40.81946002788748],
    [-73.93238971258873, 40.819502847336366],
    [-73.9323818170235, 40.81955319684325],
    [-73.93237498504206, 40.81959069718469],
    [-73.93242874671114, 40.82044714079743],
    [-73.9324592381418, 40.82112061214067],
    [-73.93246603585041, 40.82157743497616],
    [-73.9325118082298, 40.82213881642001],
    [-73.9325488351215, 40.82259921675249],
    [-73.9325786278701, 40.82304071104585],
    [-73.93261139068628, 40.82348761957566],
    [-73.93266867628321, 40.82407835088293],
    [-73.93270505561188, 40.824559724000025],
    [-73.93272841961671, 40.82491254295722],
    [-73.93273054155667, 40.82498434775109],
    [-73.93273843975147, 40.825125510933965],
    [-73.93274693841836, 40.82521678307603],
    [-73.93275761662522, 40.82532227041261],
    [-73.93276594581165, 40.82545822718498],
    [-73.9328195398225, 40.82560989294215],
    [-73.93295940373588, 40.82692344776957],
    [-73.93298275069633, 40.8272244067461],
    [-73.93300760500095, 40.827535713706574],
    [-73.93305881749963, 40.82808624381212],
    [-73.93307251134269, 40.82815615253916],
    [-73.93303721920051, 40.82815984622892],
    [-73.9329419094136, 40.82816770602616],
    [-73.93250790040793, 40.8282003932725],
    [-73.9320887359559, 40.82823274504144],
    [-73.9314663106977, 40.82828175975019],
    [-73.9312619917931, 40.82829117445602],
    [-73.9311997816495, 40.82829838662962],
    [-73.9311413190791, 40.828303808834406],
    [-73.93095939346625, 40.82833708946191],
    [-73.93064968086094, 40.8284170300768],
    [-73.93033933073404, 40.828495554900606],
    [-73.93003491555126, 40.828587590293566],
    [-73.92973793000913, 40.828692722925716],
    [-73.92944983434667, 40.82881040443565],
    [-73.92917196788754, 40.828939959249546],
    [-73.92889437057697, 40.82910412872714],
    [-73.92875620577718, 40.82918583541993],
    [-73.92861034504666, 40.829280909960715],
    [-73.92850073922968, 40.829352349549545],
    [-73.92825730169295, 40.82953051485753],
    [-73.92802724926965, 40.82971953937386],
    [-73.92781189597189, 40.8299184322576],
    [-73.92781180192048, 40.82991852165659],
    [-73.92781170719728, 40.829918620436494],
    [-73.92761206305859, 40.83012648263088],
    [-73.92755002760882, 40.830199591385245],
    [-73.92742893579377, 40.830342315109],
    [-73.92726316739049, 40.83056486690746],
    [-73.92680587104836, 40.83103556710018],
    [-73.92642499687013, 40.83142092136254],
    [-73.92537539997478, 40.832628095503935],
    [-73.92502940407249, 40.83327247965225],
    [-73.9243935514445, 40.83448402761537],
    [-73.92414918400185, 40.83482856678298],
    [-73.92399049458308, 40.83505229808235],
    [-73.9234001635073, 40.835432763129496],
    [-73.92237223170042, 40.83610874281442],
    [-73.92188289384463, 40.836425701695696],
    [-73.92071597910987, 40.83719846393609],
    [-73.92036502955962, 40.83742570651713],
    [-73.92001799496576, 40.83765612866592],
    [-73.91969685318126, 40.837873796611866],
    [-73.91938459876796, 40.83807691355351],
    [-73.919308633117, 40.83812632285715],
    [-73.91916265280031, 40.8382537124898],
    [-73.91901668362601, 40.83838109306436],
    [-73.91859196117721, 40.838982089916435],
    [-73.91813727496489, 40.83960685394311],
    [-73.91768361901806, 40.84022549553236],
    [-73.91729851615047, 40.84076611836703],
    [-73.91689176238296, 40.84134725765404],
    [-73.91618344432072, 40.84233490025411],
    [-73.9176874591774, 40.84223933337094],
    [-73.9179496521323, 40.842229570607664],
    [-73.91798075212289, 40.84266741383508],
    [-73.91798848487386, 40.84274888243142],
    [-73.91798774708766, 40.842830560480756],
    [-73.9179785433141, 40.842911940843706],
    [-73.91796093066874, 40.84299251822736],
    [-73.91793501943181, 40.8430717917789],
    [-73.91790096963275, 40.84314926989942],
    [-73.9178589926584, 40.84322447152821],
    [-73.91780934911789, 40.84329692973753],
    [-73.91771300737066, 40.84338727828718],
    [-73.91762848486141, 40.84348670593471],
    [-73.91755786158762, 40.84359380230248],
    [-73.9175028202603, 40.84370681916906],
    [-73.9174644972856, 40.84382376082201],
    [-73.91744344449876, 40.843942460921255],
    [-73.9174395704655, 40.844060768238876],
    [-73.91745219816346, 40.84417663029439],
    [-73.91747944058937, 40.844252294894744],
    [-73.91749951163763, 40.8443292416839],
    [-73.91751230917487, 40.844407079206995],
    [-73.91751776806977, 40.84448541147633],
    [-73.91751586052497, 40.844563839985916],
    [-73.91750659638652, 40.844641965723525],
    [-73.91749002264596, 40.84471939126177],
    [-73.91746622359452, 40.84479572270911],
    [-73.91743532028235, 40.84487057173869],
    [-73.91739746990314, 40.84494355756399],
    [-73.91732494810422, 40.84505748284645],
    [-73.91728719351066, 40.84510408615947],
    [-73.91697152437618, 40.84511524612652],
    [-73.91684309376478, 40.845070778771365],
    [-73.91611927084668, 40.84485579307131],
    [-73.91586647842479, 40.84479392557939],
    [-73.91474419406394, 40.84434250389376],
    [-73.91385799418651, 40.84397879417009],
    [-73.9130287694552, 40.84364162182673],
    [-73.9129380323358, 40.84359755511597],
    [-73.91211222171964, 40.84326034254618],
    [-73.9119181232027, 40.84325788668494]]],
  'type': 'Polygon'},
 'name': 'West Concourse'}

In [54]:
type(my_neighborhood)

dict

In [55]:
my_neighborhood.keys()

dict_keys(['_id', 'geometry', 'name'])

In [59]:
my_neighborhood.get("geometry").keys()

dict_keys(['coordinates', 'type'])

In [57]:
import pandas as pd

In [58]:
restaurants2.find_one().keys()

dict_keys(['_id', 'location', 'name'])

In [60]:
pd.DataFrame(restaurants2.find({"location": {"$geoWithin": {"$geometry": my_neighborhood["geometry"]}}}))

,_id,location,name
0,55cba2476c522cafdb056004,"{'coordinates': [-73.9259201, 40.8278293], 'ty...",Hard Rock Cafe
1,55cba2476c522cafdb056005,"{'coordinates': [-73.9259201, 40.8278293], 'ty...",Nyy Steak
2,55cba2476c522cafdb058ae9,"{'coordinates': [-73.9259245, 40.827435], 'typ...",Dunkin Donuts
3,55cba2476c522cafdb0543cb,"{'coordinates': [-73.92594439999999, 40.827212...",Billy'S Sport Bar Restaurant & Lounge
4,55cba2476c522cafdb056784,"{'coordinates': [-73.9262845, 40.8266956999999...",Stan'S Sports Bar
...,...,...,...
120,55cba2476c522cafdb0578b3,"{'coordinates': [-73.93011659999999, 40.821940...",Marisco Centro Seafood Restaurant & Bar
121,55cba2476c522cafdb058c83,"{'coordinates': [-73.9316894, 40.8231974], 'ty...",Gotham Stadium Tennis Center Cafe
122,55cba2476c522cafdb058c63,"{'coordinates': [-73.9303724, 40.8234978], 'ty...",Chuck E. Cheese'S
123,55cba2476c522cafdb056b96,"{'coordinates': [-73.9308109, 40.8259458000000...",Dunkin Donuts (Inside Gulf Gas Station On Nort...
124,55cba2476c522cafdb056b6f,"{'coordinates': [-73.93032130000002, 40.819383...",Subway

<img src="./mongo_images/all_rests.png" width=300>

#### `nearSphere`

What elements are within a distance of a given geometry?

`$nearSphere` and `$maxDistance` help us find all elements within `maxDistance` meters of the desired geometry, **sorted** from nearest to farthest.

In [62]:
my_location

{'type': 'Point', 'coordinates': [-73.93, 40.82]}

In [85]:
# max km I want to walk
kms = 0.3

In [86]:
restaurants2.find(
    {"location": {
        "$nearSphere": {
            "$geometry": my_location,
            "$maxDistance": kms * 1000
        } 
    }},
    {"name": 1, "_id": 0}
)

In [87]:
list(_)

[{'name': ''},
 {'name': 'Subway'},
 {'name': 'Glacken Bar'},
 {'name': 'Sunlight Restaurant'},
 {'name': 'The News Room Jazz Club'},
 {'name': 'Glen Roy Bar And Grill'},
 {'name': ''},
 {'name': "Applebee'S Neighborhood Grill & Bar"},
 {'name': 'Marisco Centro Seafood Restaurant  & Bar'},
 {'name': "Big Papa'S"},
 {'name': 'Burger King'},
 {'name': 'Popeyes Chicken & Biscuits'},
 {'name': 'Haagan Daz'},
 {'name': "Mcdonald'S"},
 {'name': "Giovanni'S Restaurant"},
 {'name': 'Planet Wings'},
 {'name': 'Brothers Seafood'}]

## Summary

 * use `find_one` to have an idea of document structure
 * `find` returns a Cursor, not a list
 * project helps you return only required information

 * `count_documents`, `distinct`, `sort`, `limit`, `skip` are frequently used
 * there are many query operators, preceded by `$`

Careful
 * you can `delete`
 * you can `update`

Geoqueries help us do location-related queries.  
Lets learn to use maps!

## Further materials

[MongoDB manual](https://docs.mongodb.com/manual/)

[pymongo documentation](https://pymongo.readthedocs.io/en/stable/)