# MongoDB

<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Warmup" data-toc-modified-id="Warmup-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Warmup</a></span></li><li><span><a href="#Connection" data-toc-modified-id="Connection-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Connection</a></span></li><li><span><a href="#Database-management-operations" data-toc-modified-id="Database-management-operations-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Database management operations</a></span></li><li><span><a href="#Querying-documents" data-toc-modified-id="Querying-documents-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Querying documents</a></span><ul class="toc-item"><li><span><a href="#find_one-method" data-toc-modified-id="find_one-method-4.1"><span class="toc-item-num">4.1&nbsp;&nbsp;</span><code>find_one</code> method</a></span></li><li><span><a href="#find-method" data-toc-modified-id="find-method-4.2"><span class="toc-item-num">4.2&nbsp;&nbsp;</span><code>find</code> method</a></span></li></ul></li><li><span><a href="#Projecting" data-toc-modified-id="Projecting-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>Projecting</a></span></li><li><span><a href="#Other-methods" data-toc-modified-id="Other-methods-6"><span class="toc-item-num">6&nbsp;&nbsp;</span>Other methods</a></span><ul class="toc-item"><li><span><a href="#distinct" data-toc-modified-id="distinct-6.1"><span class="toc-item-num">6.1&nbsp;&nbsp;</span><code>distinct</code></a></span></li><li><span><a href="#count" data-toc-modified-id="count-6.2"><span class="toc-item-num">6.2&nbsp;&nbsp;</span><code>count</code></a></span></li><li><span><a href="#sort" data-toc-modified-id="sort-6.3"><span class="toc-item-num">6.3&nbsp;&nbsp;</span><code>sort</code></a></span></li><li><span><a href="#limit" data-toc-modified-id="limit-6.4"><span class="toc-item-num">6.4&nbsp;&nbsp;</span><code>limit</code></a></span></li><li><span><a href="#skip" data-toc-modified-id="skip-6.5"><span class="toc-item-num">6.5&nbsp;&nbsp;</span><code>skip</code></a></span></li></ul></li><li><span><a href="#Typical-query-operators" data-toc-modified-id="Typical-query-operators-7"><span class="toc-item-num">7&nbsp;&nbsp;</span>Typical query operators</a></span><ul class="toc-item"><li><span><a href="#greater-than-/-less-than" data-toc-modified-id="greater-than-/-less-than-7.1"><span class="toc-item-num">7.1&nbsp;&nbsp;</span>greater than / less than</a></span></li><li><span><a href="#exists" data-toc-modified-id="exists-7.2"><span class="toc-item-num">7.2&nbsp;&nbsp;</span><code>exists</code></a></span></li><li><span><a href="#regex" data-toc-modified-id="regex-7.3"><span class="toc-item-num">7.3&nbsp;&nbsp;</span><code>regex</code></a></span></li><li><span><a href="#and" data-toc-modified-id="and-7.4"><span class="toc-item-num">7.4&nbsp;&nbsp;</span><code>and</code></a></span></li><li><span><a href="#or" data-toc-modified-id="or-7.5"><span class="toc-item-num">7.5&nbsp;&nbsp;</span><code>or</code></a></span></li><li><span><a href="#ne" data-toc-modified-id="ne-7.6"><span class="toc-item-num">7.6&nbsp;&nbsp;</span><code>ne</code></a></span></li><li><span><a href="#in" data-toc-modified-id="in-7.7"><span class="toc-item-num">7.7&nbsp;&nbsp;</span><code>in</code></a></span></li><li><span><a href="#nin" data-toc-modified-id="nin-7.8"><span class="toc-item-num">7.8&nbsp;&nbsp;</span><code>nin</code></a></span></li></ul></li><li><span><a href="#Update" data-toc-modified-id="Update-8"><span class="toc-item-num">8&nbsp;&nbsp;</span>Update</a></span></li><li><span><a href="#Delete" data-toc-modified-id="Delete-9"><span class="toc-item-num">9&nbsp;&nbsp;</span>Delete</a></span></li><li><span><a href="#Summary" data-toc-modified-id="Summary-10"><span class="toc-item-num">10&nbsp;&nbsp;</span>Summary</a></span></li><li><span><a href="#Further-materials" data-toc-modified-id="Further-materials-11"><span class="toc-item-num">11&nbsp;&nbsp;</span>Further materials</a></span></li></ul></div>

## Warmup

[Mongo is not a SQL database](https://www.youtube.com/watch?v=DM4gD6Z5zFU&ab_channel=BitechStudio)

## Connection

First, make sure there is a mongo process running...

In [ ]:
!pip install pymongo

In [2]:
from pymongo import MongoClient

In [3]:
conn = MongoClient("localhost:27017")

## Database management operations

In [4]:
# show existing database names
conn.list_database_names()

['admin', 'config', 'ironhack', 'local']

In [5]:
# choose database to work with
db = conn.get_database("ironhack")

In [6]:
# show collections inside database
db.list_collection_names()

['restaurants', 'books', 'companies', 'countries_small']

In [7]:
# create collection 
db.create_collection("test_collection")

Collection(Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'ironhack'), 'test_collection')

In [8]:
# show collections inside database
db.list_collection_names()

['restaurants', 'books', 'companies', 'test_collection', 'countries_small']

In [9]:
# create collection 
db.drop_collection("test_collection")

{'nIndexesWas': 1, 'ns': 'ironhack.test_collection', 'ok': 1.0}

In [10]:
# show collections inside database
db.list_collection_names()

['restaurants', 'books', 'companies', 'countries_small']

In [17]:
# choose collection to work with
collection = db.get_collection("restaurants")

## Querying documents

### `find_one` method

`collection.find_one(filter)`

In [26]:
# no filter
collection.find_one({})

{'_id': ObjectId('55f14312c7447c3da7051b26'),
 'URL': 'http://www.just-eat.co.uk/restaurants-cn-chinese-cardiff/menu',
 'address': '228 City Road',
 'address line 2': 'Cardiff',
 'name': '.CN Chinese',
 'outcode': 'CF24',
 'postcode': '3JH',
 'rating': 5,
 'type_of_food': 'Chinese'}

In [19]:
collection.find_one({}).keys()

dict_keys(['_id', 'URL', 'address', 'address line 2', 'name', 'outcode', 'postcode', 'rating', 'type_of_food'])

Careful! Not all documents need to have same keys!

In [20]:
collection.find_one({"rating": 5})

{'_id': ObjectId('55f14312c7447c3da7051b26'),
 'URL': 'http://www.just-eat.co.uk/restaurants-cn-chinese-cardiff/menu',
 'address': '228 City Road',
 'address line 2': 'Cardiff',
 'name': '.CN Chinese',
 'outcode': 'CF24',
 'postcode': '3JH',
 'rating': 5,
 'type_of_food': 'Chinese'}

### `find` method

`collection.find(filter)`

Lets find all documents in the collection, with no filter

In [27]:
documents = collection.find()

In [28]:
documents

In [29]:
type(documents)

pymongo.cursor.Cursor

In [36]:
len(documents2)

TypeError: object of type 'Cursor' has no len()

`pymongo` collection method `find` returns a Cursor:
 * a Cursor is an iterator
 * a Cursor therefore has the method `__next__` (function `next` returns next element in stream)
 * `pymongo` does not bring information to memory until needed
 * a Cursor does not have `len`

In [34]:
next(documents)

{'_id': ObjectId('55f14312c7447c3da7051b31'),
 'URL': 'http://www.just-eat.co.uk/restaurants-100-degrees-chinese-restaurant-pontypridd/menu',
 'address': '67 Park Street',
 'address line 2': 'Treforest',
 'name': '100 Degrees Chinese Restaurant',
 'outcode': 'CF37',
 'postcode': '1SN',
 'rating': 5,
 'type_of_food': 'Chinese'}

In [39]:
documents2 = collection.find({"rating": 6})

In [40]:
top_rated = list(documents2)

In [42]:
len(top_rated)

49

In [43]:
import pandas as pd

In [44]:
pd.DataFrame(documents2)

Empty DataFrame
Columns: []
Index: []

This happened because the Cursor was already consumed by `list`. If we want to reuse it, we have to run the query again...

In [47]:
documents2 = collection.find({"rating": 6})

In [48]:
df = pd.DataFrame(documents2)
df

,_id,URL,address,address line 2,name,outcode,postcode,rating,type_of_food
0,55f14312c7447c3da7051b2a,http://www.just-eat.co.uk/restaurants-indianco...,9 Broughton Hall Road,Broughton,@Indian.com,CH4,0QR,6,Curry
1,55f14312c7447c3da7051b2b,http://www.just-eat.co.uk/restaurants-007takea...,6 Drummond Street,Rotherham,007 Takeaway,S65,1HY,6,Pizza
2,55f14312c7447c3da7051bbc,http://www.just-eat.co.uk/restaurants-aarthi-s...,5 Kingston Road,London,Aarthi,SW19,1JX,6,Curry
3,55f14312c7447c3da7051bfb,http://www.just-eat.co.uk/restaurants-absharin...,43 High Street,Ilford,Abshar Indian Cuisine,IG6,2AD,6,Punjabi
4,55f14312c7447c3da7051c82,http://www.just-eat.co.uk/restaurants-agra-war...,32 East Street,Wiltshire,Agra,BA12,9BN,6,Curry
5,55f14312c7447c3da7051ca4,http://www.just-eat.co.uk/restaurants-aji-tn23...,23 New Rents,Ashford,Aji - Collection Only,TN23,2JJ,6,Japanese
6,55f14312c7447c3da7051cbd,http://www.just-eat.co.uk/restaurants-akash-ac...,87 Whalley Road,Accrington,Akash Accrington,BB5,1AS,6,Curry
7,55f14312c7447c3da7051cf0,http://www.just-eat.co.uk/restaurants-alfrango...,14 Wellington Street,Luton,Al Frango,LU1,2HQ,6,Mediterranean
8,55f14312c7447c3da7051d00,http://www.just-eat.co.uk/restaurants-almedina...,2 Walford Road,Sparkhill,Al Medina Delights - Collection Only,B11,1NR,6,Pasta
9,55f14312c7447c3da7051d4c,http://www.just-eat.co.uk/restaurants-alcatraz...,127 Christchurch Road,Bournemouth,Alcatraz Caffe Bournemouth,BH1,1EP,6,Pizza
10,55f14312c7447c3da7051d5b,http://www.just-eat.co.uk/restaurants-alexplai...,314 Kilburn High Road,London,Alex Plaice,NW6,2DG,6,Fish & Chips
11,55f14312c7447c3da7051d5c,http://www.just-eat.co.uk/restaurants-alexplai...,314 Kilburn High Road,London,Alex Plaice,NW6,2DG,6,Fish & Chips
12,55f14312c7447c3da7051dd1,http://www.just-eat.co.uk/restaurants-allsiam-...,639 Ecclesall Road,Sheffield,All Siam Thai Restaurant - Collection Only,S11,8PT,6,Thai
13,55f14312c7447c3da7051e94,http://www.just-eat.co.uk/restaurants-amina-st...,5 Sutton Oak Corner,Birmingham,Amina,B74,2DH,6,Curry
14,55f14312c7447c3da7051ea5,http://www.just-eat.co.uk/restaurants-ammanfor...,18 College Street,Dyfed,Ammanford Fish Bar,SA18,3AF,6,Fish & Chips
15,55f14312c7447c3da7051ed2,http://www.just-eat.co.uk/restaurants-blueging...,1 Atholl Court,Andover,Andover Tandoori - Collection Only,SP10,4BB,6,Curry
16,55f14312c7447c3da7051ed3,http://www.just-eat.co.uk/restaurants-blueging...,1 Atholl Court,Andover,Andover Tandoori - Collection Only,SP10,4BB,6,Curry
17,55f14312c7447c3da7051edb,http://www.just-eat.co.uk/restaurants-angeethi...,168 Kells Lane,Tyne & Wear,Angeethi Indian Express,NE9,5HY,6,Curry
18,55f14312c7447c3da7051f14,http://www.just-eat.co.uk/restaurants-aniss---...,32 Waterloo Road,Smethwick,Anis's - The Taste of Perfection,B66,4JW,6,Curry
19,55f14312c7447c3da7051f2c,http://www.just-eat.co.uk/restaurants-annsthai...,27 Bilston Street,Dudley,Ann's Thai@ The Bulls Head,DY3,1JA,6,Thai
20,55f14312c7447c3da7051f5e,http://www.just-eat.co.uk/restaurants-arabesqu...,23 Winchester Road,London,Arabesque,NW3,3NR,6,Mediterranean
21,55f14312c7447c3da7051f8b,http://www.just-eat.co.uk/restaurants-ark-burg...,3 Church Street,Hertfordshire County,Ark Burger & Salad Bar,CM23,2LY,6,American
22,55f14312c7447c3da7051fa0,http://www.just-eat.co.uk/restaurants-aroma-dl...,1 Zetland Street,Northallerton,Aroma Bar Restaurant Takeaway - Collection Only,DL6,1NB,6,Curry
23,55f14312c7447c3da7051fa1,http://www.just-eat.co.uk/restaurants-aroma-dl...,1 Zetland Street,Northallerton,Aroma Bar Restaurant Takeaway - Collection Only,DL6,1NB,6,Curry
24,55f14312c7447c3da7052023,http://www.just-eat.co.uk/restaurants-aslizaiq...,52 Uppingham Road,Leicestershire,Asli Zaiqa,LE5,0QD,6,Curry
25,55f14312c7447c3da7052029,http://www.just-eat.co.uk/restaurants-aspendos...,67 High Street,Dymchurch,Aspendos,TN29,0NH,6,Pizza
26,55f14312c7447c3da7052039,http://www.just-eat.co.uk/restaurants-atashper...,55 High Street,Brentford,Atash Persian Restaurant - Collection Only,TW8,0AH,6,Persian
27,55f14312c7447c3da705203a,http://www.just-eat.co.uk/restaurants-atashper...,55 High Street,Brentford,Atash Persian Restaurant - Collection Only,TW8,0AH,6,Persian
28,55f14312c7447c3da705203e,http://www.just-eat.co.uk/restaurants-athenabf...,27 Station Road,East Sussex,Athena B Fish Bar - Collection Only,BN41,1GB,6,Fish & Chips
29,55f14312c7447c3da705203d,http://www.just-eat.co.uk/restaurants-athenabf...,27 Station Road,East Sussex,Athena B Fish Bar - Collection Only,BN41,1GB,6,Fish & Chips
30,55f14312c7447c3da7052054,http://www.just-eat.co.uk/restaurants-atlantic...,Twin Spires Centre,County Antrim,Atlantic Gourmet,BT13,2JF,6,Fish & Chips
31,55f14313c7447c3da705208b,http://www.just-eat.co.uk/restaurants-ayubowan...,46-50 High Street West,Derbyshire,Ayubowan,SK13,8BH,6,Sri-lankan
32,55f14313c7447c3da7052149,http://www.just-eat.co.uk/restaurants-baltihut...,12 Pilkington Buildings,Middlesborough,Balti Hut,TS5,6DY,6,Curry
33,55f14313c7447c3da70521f3,http://www.just-eat.co.uk/restaurants-barista-...,24 Ballards Lane,London,Barista House Restaurant & Cafe - Collection Only,N3,2BJ,6,Pizza
34,55f14313c7447c3da70521f9,http://www.just-eat.co.uk/restaurants-barnacle...,8 Kirkham Road,Freckleton,Barnacle Bills,PR4,1HT,6,Fish & Chips
35,55f14313c7447c3da705222d,http://www.just-eat.co.uk/restaurants-bathsush...,3 Victoria Buildings,Somerset,Bath Sushi,BA2,3EH,6,Sushi
36,55f14313c7447c3da7052293,http://www.just-eat.co.uk/restaurants-beastgou...,64 Torwood Street,Torquay,Beast Gourmet Burgers,TQ1,1DT,6,Burgers
37,55f14313c7447c3da7052292,http://www.just-eat.co.uk/restaurants-Bearstea...,29 Egremont Road,Kent,Bearstead Fish Bar - Collection Only,ME15,8LH,6,Fish & Chips
38,55f14313c7447c3da705230a,http://www.just-eat.co.uk/restaurants-bellapan...,196 Harvie Avenue,Glasgow,Bella Panini,G77,6UT,6,Pizza
39,55f14313c7447c3da70523a4,http://www.just-eat.co.uk/restaurants-bennys-s...,30 North Street,London,Benny's - Collection Only,SW4,0HD,6,Fish & Chips
40,55f14313c7447c3da70523a9,http://www.just-eat.co.uk/restaurants-bennys-g...,2 West Street,Colne,Benny's Grill House,BB8,0HP,6,Kebab
41,55f14313c7447c3da70523cf,http://www.just-eat.co.uk/restaurants-best-fis...,4 High Street,Broadstairs,Best Fish & Chips,CT10,1LH,6,Fish & Chips
42,55f14313c7447c3da705241b,http://www.just-eat.co.uk/restaurants-bestpizz...,113 Mungo Park Road,Rainham,Best Pizza,RM13,7PP,6,Pizza
43,55f14313c7447c3da705241c,http://www.just-eat.co.uk/restaurants-best-piz...,4 Macklin Street,Derby,Best Pizza & Kebab,DE1,1LE,6,Pizza
44,55f14313c7447c3da705241d,http://www.just-eat.co.uk/restaurants-best-piz...,4 Macklin Street,Derby,Best Pizza & Kebab,DE1,1LE,6,Pizza
45,55f14313c7447c3da705247c,http://www.just-eat.co.uk/restaurants-bigfish-...,387 London Road,Hastings,Big Fish - Collection Only,TN37,6PA,6,Fish & Chips
46,55f14313c7447c3da705249e,http://www.just-eat.co.uk/restaurants-bigsaj-b...,231 Edward Road,Birmingham,Big Saj,B12,9LH,6,Kebab
47,55f14313c7447c3da705249d,http://www.just-eat.co.uk/restaurants-bigsaj-b...,231 Edward Road,Birmingham,Big Saj,B12,9LH,6,Kebab
48,55f14313c7447c3da70524a6,http://www.just-eat.co.uk/restaurants-biggapot...,15 College Road,Birmingham,Biggapot Caribbean - Collection Only,B20,2HY,6,Caribbean

## Projecting

We may only want some fields in the mongo response:

`_id` field is returned by default

`collection.find(filter, project)`

In [64]:
collection.find({"rating": 2}, {"rating": 1, "name": 1})

In [65]:
list(_)

[{'_id': ObjectId('55f14313c7447c3da705246d'),
  'name': 'Big Boys Pizza',
  'rating': 2},
 {'_id': ObjectId('55f14313c7447c3da705246c'),
  'name': 'Big Boys Pizza',
  'rating': 2},
 {'_id': ObjectId('55f14313c7447c3da705246b'),
  'name': 'Big Boys Pizza',
  'rating': 2}]

In [66]:
collection.find({"rating": 2}, {"rating": 1, "name": 1, "_id": 0})

In [67]:
list(_)

[{'name': 'Big Boys Pizza', 'rating': 2},
 {'name': 'Big Boys Pizza', 'rating': 2},
 {'name': 'Big Boys Pizza', 'rating': 2}]

## Other methods

### `distinct`

How many distinct values does a field have in the whole collection?

In [21]:
collection.distinct("rating")

[1, 1.5, 2, 2.5, 3, 3.5, 4, 4.5, 5, 5.5, 6, 'Not yet rated']

In [25]:
collection.distinct("type_of_food")

['*NEW*',
 'Afghan',
 'African',
 'American',
 'Arabic',
 'Azerbaijan',
 'Bagels',
 'Bangladeshi',
 'Breakfast',
 'Burgers',
 'Cakes',
 'Caribbean',
 'Chicken',
 'Chinese',
 'Curry',
 'Desserts',
 'English',
 'Ethiopian',
 'Fish & Chips',
 'Greek',
 'Grill',
 'Healthy',
 'Ice Cream',
 'Japanese',
 'Kebab',
 'Korean',
 'Lebanese',
 'Mediterranean',
 'Mexican',
 'Middle Eastern',
 'Milkshakes',
 'Moroccan',
 'Nigerian',
 'Pakistani',
 'Pasta',
 'Peri Peri',
 'Persian',
 'Pick n Mix',
 'Pizza',
 'Polish',
 'Portuguese',
 'Punjabi',
 'Russian',
 'Sandwiches',
 'South Curry',
 'Spanish',
 'Sri-lankan',
 'Sushi',
 'Thai',
 'Turkish',
 'Vegetarian',
 'Vietnamese']

### `count`

`collection.count_documents(filter)`

In [50]:
collection.count_documents({})

2548

In [54]:
collection.count_documents({"rating": 5})

1107

### `sort`

We can `sort` the result of a `find`

`1` means ascending

`-1` means desscending

In [82]:
collection.find({"type_of_food": "Chinese"}, {"name": 1, "rating": 1}).sort("rating", 1)

In [83]:
list(_)

[{'_id': ObjectId('55f14312c7447c3da7051fff'),
  'name': 'Asia Asia',
  'rating': 3.5},
 {'_id': ObjectId('55f14313c7447c3da705219a'),
  'name': 'Bamboo Garden Chinese Takeaway',
  'rating': 3.5},
 {'_id': ObjectId('55f14312c7447c3da7051b80'),
  'name': '88 Noodle Bar',
  'rating': 4},
 {'_id': ObjectId('55f14312c7447c3da7051e33'), 'name': 'Amazing', 'rating': 4},
 {'_id': ObjectId('55f14312c7447c3da7051f80'), 'name': 'Arirang', 'rating': 4},
 {'_id': ObjectId('55f14312c7447c3da7051f81'), 'name': 'Arirang', 'rating': 4},
 {'_id': ObjectId('55f14312c7447c3da7051f82'), 'name': 'Arirang', 'rating': 4},
 {'_id': ObjectId('55f14312c7447c3da7051f85'), 'name': 'Arirang', 'rating': 4},
 {'_id': ObjectId('55f14312c7447c3da7051f83'), 'name': 'Arirang', 'rating': 4},
 {'_id': ObjectId('55f14312c7447c3da7051f84'), 'name': 'Arirang', 'rating': 4},
 {'_id': ObjectId('55f14313c7447c3da70522ba'),
  'name': 'Beijing Chinese',
  'rating': 4},
 {'_id': ObjectId('55f14313c7447c3da70522bb'),
  'name': 'Beijing Chinese Restaurant',
  'rating': 4},
 {'_id': ObjectId('55f14312c7447c3da7051b2f'),
  'name': '1 2 3 Chinese',
  'rating': 4.5},
 {'_id': ObjectId('55f14312c7447c3da7051b30'),
  'name': '1 2 3 Chinese',
  'rating': 4.5},
 {'_id': ObjectId('55f14312c7447c3da7051b58'),
  'name': '333 Chinese Takeaway1',
  'rating': 4.5},
 {'_id': ObjectId('55f14312c7447c3da7051b72'),
  'name': '57 Orient Takeaway',
  'rating': 4.5},
 {'_id': ObjectId('55f14312c7447c3da7051ba8'),
  'name': 'A1 Wok',
  'rating': 4.5},
 {'_id': ObjectId('55f14312c7447c3da7051c5c'), 'name': 'AF88', 'rating': 4.5},
 {'_id': ObjectId('55f14312c7447c3da7051dd3'),
  'name': 'All Welcome',
  'rating': 4.5},
 {'_id': ObjectId('55f14312c7447c3da7051e39'), 'name': 'Amber', 'rating': 4.5},
 {'_id': ObjectId('55f14312c7447c3da7051fc0'),
  'name': 'Arsenal Chinese Food & Fish Bar',
  'rating': 4.5},
 {'_id': ObjectId('55f14312c7447c3da7051fc1'),
  'name': 'Arsenal Chinese Food & Fish Bar',
  'rating': 4.5},
 {'_id': ObjectId('55f14312c7447c3da7051fca'),
  'name': "Arthur's China City",
  'rating': 4.5},
 {'_id': ObjectId('55f14312c7447c3da7052002'),
  'name': 'Asia Chinese',
  'rating': 4.5},
 {'_id': ObjectId('55f14312c7447c3da705200b'),
  'name': 'Asia Wok',
  'rating': 4.5},
 {'_id': ObjectId('55f14312c7447c3da7052037'),
  'name': 'At Wan Da',
  'rating': 4.5},
 {'_id': ObjectId('55f14312c7447c3da7052036'),
  'name': 'At Wan Da',
  'rating': 4.5},
 {'_id': ObjectId('55f14312c7447c3da7052060'),
  'name': 'August Moon',
  'rating': 4.5},
 {'_id': ObjectId('55f14313c7447c3da70520b9'),
  'name': 'Ba Fu Chinese',
  'rating': 4.5},
 {'_id': ObjectId('55f14313c7447c3da7052192'),
  'name': 'Bamboo Garden',
  'rating': 4.5},
 {'_id': ObjectId('55f14313c7447c3da705219d'),
  'name': 'Bamboo House',
  'rating': 4.5},
 {'_id': ObjectId('55f14313c7447c3da705219b'),
  'name': 'Bamboo House',
  'rating': 4.5},
 {'_id': ObjectId('55f14313c7447c3da705219c'),
  'name': 'Bamboo House',
  'rating': 4.5},
 {'_id': ObjectId('55f14313c7447c3da70521fc'),
  'name': 'Barnsley House',
  'rating': 4.5},
 {'_id': ObjectId('55f14313c7447c3da70522b7'),
  'name': 'Beijing',
  'rating': 4.5},
 {'_id': ObjectId('55f14313c7447c3da70522bf'),
  'name': 'Beijing Dragon',
  'rating': 4.5},
 {'_id': ObjectId('55f14313c7447c3da70522bc'),
  'name': 'Beijing City',
  'rating': 4.5},
 {'_id': ObjectId('55f14313c7447c3da70522c7'),
  'name': 'Beijing House',
  'rating': 4.5},
 {'_id': ObjectId('55f14313c7447c3da70522c8'),
  'name': 'Beijing House',
  'rating': 4.5},
 {'_id': ObjectId('55f14313c7447c3da70522c9'),
  'name': 'Beijing House',
  'rating': 4.5},
 {'_id': ObjectId('55f14313c7447c3da70522ca'),
  'name': 'Beijing House',
  'rating': 4.5},
 {'_id': ObjectId('55f14313c7447c3da70522cc'),
  'name': 'Beijing Inn',
  'rating': 4.5},
 {'_id': ObjectId('55f14313c7447c3da70522cd'),
  'name': 'Beijing Inn',
  'rating': 4.5},
 {'_id': ObjectId('55f14313c7447c3da70522ce'),
  'name': 'Beijing Inn',
  'rating': 4.5},
 {'_id': ObjectId('55f14313c7447c3da70522da'),
  'name': 'Beijing Oriental Express',
  'rating': 4.5},
 {'_id': ObjectId('55f14313c7447c3da70522db'),
  'name': 'Beijing Palace Restaurant',
  'rating': 4.5},
 {'_id': ObjectId('55f14313c7447c3da70522dc'),
  'name': 'Beijing Restaurant',
  'rating': 4.5},
 {'_id': ObjectId('55f14313c7447c3da70522fe'),
  'name': 'Bella Chinese',
  'rating': 4.5},
 {'_id': ObjectId('55f14313c7447c3da7052336'),
  'name': 'Belmont Welcome Chinese',
  'rating': 4.5},
 {'_id': ObjectId('55f14313c7447c3da70524a2'),
  'name': 'Big Wok',
  'rating': 4.5},
 {'_id': ObjectId('55f14313c7447c3da70524cf'),
  'name': 'Bing Chinese Takeaway',
  'rating': 4.5},
 {'_id': ObjectId('55f14313c7447c3da70524ce'),
  'name': 'Bing Chinese Takeaway',
  'rating': 4.5},
 {'_id': ObjectId('55f14313c7447c3da70524f3'),
  'name': 'Black Bull',
  'rating': 4.5},
 {'_id': ObjectId('55f14312c7447c3da7051b26'),
  'name': '.CN Chinese',
  'rating': 5},
 {'_id': ObjectId('55f14312c7447c3da7051b31'),
  'name': '100 Degrees Chinese Restaurant',
  'rating': 5},
 {'_id': ObjectId('55f14312c7447c3da7051b32'),
  'name': '100 Menu',
  'rating': 5},
 {'_id': ObjectId('55f14312c7447c3da7051b39'), 'name': '1A Wok', 'rating': 5},
 {'_id': ObjectId('55f14312c7447c3da7051b56'),
  'name': '333 Chinese Takeaway',
  'rating': 5},
 {'_id': ObjectId('55f14312c7447c3da7051b57'),
  'name': '333 Chinese Takeaway',
  'rating': 5},
 {'_id': ObjectId('55f14312c7447c3da7051b55'),
  'name': '328 Chinese Online',
  'rating': 5},
 {'_id': ObjectId('55f14312c7447c3da7051b64'),
  'name': '5 Star Chinese',
  'rating': 5},
 {'_id': ObjectId('55f14312c7447c3da7051b63'),
  'name': '5 Star Chinese',
  'rating': 5},
 {'_id': ObjectId('55f14312c7447c3da7051b7f'),
  'name': '88 Chinese',
  'rating': 5},
 {'_id': ObjectId('55f14312c7447c3da7051b82'),
  'name': '888 Triple Eight',
  'rating': 5},
 {'_id': ObjectId('55f14312c7447c3da7051b85'),
  'name': '9th Kitchen',
  'rating': 5},
 {'_id': ObjectId('55f14312c7447c3da7051b86'),
  'name': 'A & G Kitchen',
  'rating': 5},
 {'_id': ObjectId('55f14312c7447c3da7051b81'),
  'name': '888 Chinese Takeaway',
  'rating': 5},
 {'_id': ObjectId('55f14312c7447c3da7051be5'),
  'name': 'Aberavon Packed Meals',
  'rating': 5},
 {'_id': ObjectId('55f14312c7447c3da7051be8'),
  'name': 'Aberdeen Shanghai Takeaway',
  'rating': 5},
 {'_id': ObjectId('55f14312c7447c3da7051c0e'), 'name': "Ackie's", 'rating': 5},
 {'_id': ObjectId('55f14312c7447c3da7051c0c'),
  'name': 'Acha Halal Chinese Cuisine',
  'rating': 5},
 {'_id': ObjectId('55f14312c7447c3da7051c78'),
  'name': 'After Taste',
  'rating': 5},
 {'_id': ObjectId('55f14312c7447c3da7051c79'),
  'name': 'After Taste',
  'rating': 5},
 {'_id': ObjectId('55f14312c7447c3da7051c7a'),
  'name': 'After Taste',
  'rating': 5},
 {'_id': ObjectId('55f14312c7447c3da7051c99'), 'name': 'Ai Wok', 'rating': 5},
 {'_id': ObjectId('55f14312c7447c3da7051e3a'),
  'name': 'Amber Cuisine',
  'rating': 5},
 {'_id': ObjectId('55f14312c7447c3da7051eb9'),
  'name': "Amy's Fish & Chips & Chinese Takeaway",
  'rating': 5},
 {'_id': ObjectId('55f14312c7447c3da7051ee1'),
  'name': 'Angel Express',
  'rating': 5},
 {'_id': ObjectId('55f14312c7447c3da7051ee0'),
  'name': 'Angel Express',
  'rating': 5},
 {'_id': ObjectId('55f14312c7447c3da7051ee5'),
  'name': 'Angel Garden Chinese',
  'rating': 5},
 {'_id': ObjectId('55f14312c7447c3da7051ee4'),
  'name': 'Angel Garden Chinese',
  'rating': 5},
 {'_id': ObjectId('55f14312c7447c3da7051f23'),
  'name': "Anna's Chinese Takeaway",
  'rating': 5},
 {'_id': ObjectId('55f14312c7447c3da7051f68'),
  'name': 'Arch Chinese',
  'rating': 5},
 {'_id': ObjectId('55f14312c7447c3da7051f67'),
  'name': 'Arch Chinese',
  'rating': 5},
 {'_id': ObjectId('55f14312c7447c3da7051f7d'),
  'name': 'Ariel Open Kitchen',
  'rating': 5},
 {'_id': ObjectId('55f14312c7447c3da7051fa2'),
  'name': 'Aroma Chinese',
  'rating': 5},
 {'_id': ObjectId('55f14312c7447c3da7051fb7'), 'name': 'Aromas', 'rating': 5},
 {'_id': ObjectId('55f14312c7447c3da7052004'),
  'name': 'Asia Garden',
  'rating': 5},
 {'_id': ObjectId('55f14312c7447c3da7052001'),
  'name': 'Asia Channel',
  'rating': 5},
 {'_id': ObjectId('55f14312c7447c3da7052003'),
  'name': 'Asia Delight',
  'rating': 5},
 {'_id': ObjectId('55f14312c7447c3da7052038'), 'name': 'At28', 'rating': 5},
 {'_id': ObjectId('55f14313c7447c3da7052066'),
  'name': "Auntie May's Chinese Takeaway",
  'rating': 5},
 {'_id': ObjectId('55f14313c7447c3da7052065'),
  'name': "Auntie May's Chinese Takeaway",
  'rating': 5},
 {'_id': ObjectId('55f14313c7447c3da7052191'),
  'name': 'Bamboo Express',
  'rating': 5},
 {'_id': ObjectId('55f14313c7447c3da7052190'),
  'name': 'Bamboo Chinese Takeaway',
  'rating': 5},
 {'_id': ObjectId('55f14313c7447c3da7052194'),
  'name': 'Bamboo Garden',
  'rating': 5},
 {'_id': ObjectId('55f14313c7447c3da7052193'),
  'name': 'Bamboo Garden',
  'rating': 5},
 {'_id': ObjectId('55f14313c7447c3da7052196'),
  'name': 'Bamboo Garden',
  'rating': 5},
 {'_id': ObjectId('55f14313c7447c3da7052195'),
  'name': 'Bamboo Garden',
  'rating': 5},
 {'_id': ObjectId('55f14313c7447c3da7052197'),
  'name': 'Bamboo Garden',
  'rating': 5},
 {'_id': ObjectId('55f14313c7447c3da7052198'),
  'name': 'Bamboo Garden',
  'rating': 5},
 {'_id': ObjectId('55f14313c7447c3da70521a4'),
  'name': 'Banana Leaf',
  'rating': 5},
 {'_id': ObjectId('55f14313c7447c3da70521cf'),
  'name': 'Bao Bao Chinese Takeaway',
  'rating': 5},
 {'_id': ObjectId('55f14313c7447c3da7052201'),
  'name': 'Barrow Takeaway',
  'rating': 5},
 {'_id': ObjectId('55f14313c7447c3da7052209'),
  'name': 'Barton Oriental- Eccles',
  'rating': 5},
 {'_id': ObjectId('55f14313c7447c3da70522a6'),
  'name': 'Bedford Chinese Kitchen',
  'rating': 5},
 {'_id': ObjectId('55f14313c7447c3da70522b6'),
  'name': 'Beijing Chef',
  'rating': 5},
 {'_id': ObjectId('55f14313c7447c3da70522b5'),
  'name': 'Bei Jing',
  'rating': 5},
 {'_id': ObjectId('55f14313c7447c3da70522b8'),
  'name': 'Beijing Chef',
  'rating': 5},
 {'_id': ObjectId('55f14313c7447c3da70522b9'),
  'name': 'Beijing Chef Chinese Takeaway',
  'rating': 5},
 {'_id': ObjectId('55f14313c7447c3da70522bd'),
  'name': 'Beijing City',
  'rating': 5},
 {'_id': ObjectId('55f14313c7447c3da70522c0'),
  'name': 'Beijing Express',
  'rating': 5},
 {'_id': ObjectId('55f14313c7447c3da70522c3'),
  'name': 'Beijing Express',
  'rating': 5},
 {'_id': ObjectId('55f14313c7447c3da70522c6'),
  'name': 'Beijing Garden',
  'rating': 5},
 {'_id': ObjectId('55f14313c7447c3da70522c1'),
  'name': 'Beijing Express',
  'rating': 5},
 {'_id': ObjectId('55f14313c7447c3da70522c2'),
  'name': 'Beijing Express',
  'rating': 5},
 {'_id': ObjectId('55f14313c7447c3da70522c4'),
  'name': 'Beijing Express',
  'rating': 5},
 {'_id': ObjectId('55f14313c7447c3da70522c5'),
  'name': 'Beijing Garden',
  'rating': 5},
 {'_id': ObjectId('55f14313c7447c3da70522cb'),
  'name': 'Beijing House',
  'rating': 5},
 {'_id': ObjectId('55f14313c7447c3da70522d1'),
  'name': 'Beijing Meng Zan',
  'rating': 5},
 {'_id': ObjectId('55f14313c7447c3da70522cf'),
  'name': 'Beijing Kirkstall',
  'rating': 5},
 {'_id': ObjectId('55f14313c7447c3da70522d0'),
  'name': 'Beijing Meng Zan',
  'rating': 5},
 {'_id': ObjectId('55f14313c7447c3da70522d2'),
  'name': 'Beijing Noodles',
  'rating': 5},
 {'_id': ObjectId('55f14313c7447c3da70522d9'),
  'name': 'Beijing Noodles',
  'rating': 5},
 {'_id': ObjectId('55f14313c7447c3da70522d3'),
  'name': 'Beijing Noodles',
  'rating': 5},
 {'_id': ObjectId('55f14313c7447c3da70522d5'),
  'name': 'Beijing Noodles',
  'rating': 5},
 {'_id': ObjectId('55f14313c7447c3da70522d8'),
  'name': 'Beijing Noodles',
  'rating': 5},
 {'_id': ObjectId('55f14313c7447c3da70522d4'),
  'name': 'Beijing Noodles',
  'rating': 5},
 {'_id': ObjectId('55f14313c7447c3da70522d7'),
  'name': 'Beijing Noodles',
  'rating': 5},
 {'_id': ObjectId('55f14313c7447c3da70522d6'),
  'name': 'Beijing Noodles',
  'rating': 5},
 {'_id': ObjectId('55f14313c7447c3da70522dd'),
  'name': 'Beijing Takeaway',
  'rating': 5},
 {'_id': ObjectId('55f14313c7447c3da705239f'), 'name': 'Bennys', 'rating': 5},
 {'_id': ObjectId('55f14313c7447c3da70523a0'), 'name': 'Bennys', 'rating': 5},
 {'_id': ObjectId('55f14313c7447c3da70523a3'), 'name': "Benny's", 'rating': 5},
 {'_id': ObjectId('55f14313c7447c3da70523ad'), 'name': 'Bento', 'rating': 5},
 {'_id': ObjectId('55f14313c7447c3da70523b2'),
  'name': 'Bento King (Hulme)',
  'rating': 5},
 {'_id': ObjectId('55f14313c7447c3da70523ca'),
  'name': 'Best Choices Chinese Takeaway',
  'rating': 5},
 {'_id': ObjectId('55f14313c7447c3da70523cb'),
  'name': 'Best Choices Chinese Takeaway',
  'rating': 5},
 {'_id': ObjectId('55f14313c7447c3da70523cc'),
  'name': 'Best Choices Chinese Takeaway',
  'rating': 5},
 {'_id': ObjectId('55f14313c7447c3da70523cd'),
  'name': 'Best Chopsticks',
  'rating': 5},
 {'_id': ObjectId('55f14313c7447c3da70523d1'),
  'name': 'Best Food',
  'rating': 5},
 {'_id': ObjectId('55f14313c7447c3da70524be'),
  'name': "Bill's Wok Inn",
  'rating': 5},
 {'_id': ObjectId('55f14313c7447c3da70524fa'),
  'name': 'Black Pandas',
  'rating': 5},
 {'_id': ObjectId('55f14313c7447c3da7052514'),
  'name': 'Blue Bell',
  'rating': 5},
 {'_id': ObjectId('55f14312c7447c3da7051b35'),
  'name': '113 Fish Bar',
  'rating': 5.5},
 {'_id': ObjectId('55f14312c7447c3da7051b38'),
  'name': '168 Chinese & Cantonese Takeaway',
  'rating': 5.5},
 {'_id': ObjectId('55f14312c7447c3da7051b59'),
  'name': '350 Wok',
  'rating': 5.5},
 {'_id': ObjectId('55f14312c7447c3da7051b5a'),
  'name': '350 Wok',
  'rating': 5.5},
 {'_id': ObjectId('55f14312c7447c3da7051b5b'),
  'name': '350 Wok',
  'rating': 5.5},
 {'_id': ObjectId('55f14312c7447c3da7051b5d'),
  'name': '4 in Love',
  'rating': 5.5},
 {'_id': ObjectId('55f14312c7447c3da7051b75'),
  'name': '7 & One',
  'rating': 5.5},
 {'_id': ObjectId('55f14312c7447c3da7051eda'),
  'name': "Andy's Takeaway",
  'rating': 5.5},
 {'_id': ObjectId('55f14312c7447c3da7051f12'), 'name': 'Anise', 'rating': 5.5},
 {'_id': ObjectId('55f14312c7447c3da7051f6d'),
  'name': 'Arden Oak',
  'rating': 5.5},
 {'_id': ObjectId('55f14312c7447c3da7051fa5'),
  'name': 'Aroma House',
  'rating': 5.5},
 {'_id': ObjectId('55f14312c7447c3da7052000'),
  'name': 'Asia Bagus',
  'rating': 5.5},
 {'_id': ObjectId('55f14312c7447c3da705200f'),
  'name': 'Asian Fusion',
  'rating': 5.5},
 {'_id': ObjectId('55f14312c7447c3da7052017'),
  'name': 'Asian Station',
  'rating': 5.5},
 {'_id': ObjectId('55f14312c7447c3da7052012'),
  'name': 'Asian Kitchen',
  'rating': 5.5},
 {'_id': ObjectId('55f14313c7447c3da7052199'),
  'name': 'Bamboo Garden',
  'rating': 5.5},
 {'_id': ObjectId('55f14313c7447c3da70521a0'), 'name': 'Bambu', 'rating': 5.5},
 {'_id': ObjectId('55f14313c7447c3da70521a1'), 'name': 'Bambu', 'rating': 5.5},
 {'_id': ObjectId('55f14313c7447c3da70522be'),
  'name': 'Beijing Cuisine',
  'rating': 5.5},
 {'_id': ObjectId('55f14313c7447c3da7052301'),
  'name': 'Bella House',
  'rating': 5.5},
 {'_id': ObjectId('55f14313c7447c3da70523b3'),
  'name': 'Bento King (Leeds)',
  'rating': 5.5},
 {'_id': ObjectId('55f14313c7447c3da70523b4'),
  'name': 'Bento King (Withington)',
  'rating': 5.5},
 {'_id': ObjectId('55f14313c7447c3da70523b5'),
  'name': 'Bento King (Withington)',
  'rating': 5.5},
 {'_id': ObjectId('55f14313c7447c3da7052474'),
  'name': 'Big China',
  'rating': 5.5},
 {'_id': ObjectId('55f14313c7447c3da70524f7'),
  'name': 'Black Elephant',
  'rating': 5.5},
 {'_id': ObjectId('55f14313c7447c3da70524f6'),
  'name': 'Black Elephant',
  'rating': 5.5},
 {'_id': ObjectId('55f14313c7447c3da705250b'),
  'name': 'Blessing',
  'rating': 5.5},
 {'_id': ObjectId('55f14313c7447c3da705250a'),
  'name': 'Blessing',
  'rating': 5.5},
 {'_id': ObjectId('55f14313c7447c3da705250c'),
  'name': 'Blessing',
  'rating': 5.5},
 {'_id': ObjectId('55f14313c7447c3da7052510'),
  'name': 'Blossom House',
  'rating': 5.5}]

### `limit`

We can `limit` the result of a `find`

In [90]:
collection.find({"type_of_food": "Chinese"}, {"name": 1, "rating": 1, "_id": 0}).limit(3)

In [91]:
list(_)

[{'name': '.CN Chinese', 'rating': 5},
 {'name': '1 2 3 Chinese', 'rating': 4.5},
 {'name': '100 Degrees Chinese Restaurant', 'rating': 5}]

In [92]:
collection.find({"type_of_food": "Chinese"}, {"name": 1, "rating": 1, "_id": 0}).sort("rating", -1).limit(3)

In [93]:
list(_)

[{'name': '350 Wok', 'rating': 5.5},
 {'name': '168 Chinese & Cantonese Takeaway', 'rating': 5.5},
 {'name': '113 Fish Bar', 'rating': 5.5}]

### `skip`

We can `skip` some results of a `find`

In [94]:
collection.find({"type_of_food": "Chinese"}, {"name": 1, "rating": 1, "_id": 0}).sort("rating", -1).skip(1).limit(3)

In [95]:
list(_)

[{'name': '168 Chinese & Cantonese Takeaway', 'rating': 5.5},
 {'name': '350 Wok', 'rating': 5.5},
 {'name': '113 Fish Bar', 'rating': 5.5}]

## Typical query operators

Query operators are preceded by a dollar sign `$`

Lets create variable `c` for writing less code

In [111]:
c = collection

In [112]:
c.count_documents({})

2548

In [113]:
c.find_one()

{'_id': ObjectId('55f14312c7447c3da7051b26'),
 'URL': 'http://www.just-eat.co.uk/restaurants-cn-chinese-cardiff/menu',
 'address': '228 City Road',
 'address line 2': 'Cardiff',
 'name': '.CN Chinese',
 'outcode': 'CF24',
 'postcode': '3JH',
 'rating': 5,
 'type_of_food': 'Chinese'}

### greater than / less than

Is a numerical field greater or less than a given value?

In [114]:
c.find_one({"rating": {"$lt": 2}})

{'_id': ObjectId('55f14312c7447c3da7051cec'),
 'URL': 'http://www.just-eat.co.uk/restaurants-aldixifriedchicken-b21/menu',
 'address': '343 Soho Road',
 'address line 2': 'Birmingham',
 'name': 'Al Dixi Fried Chicken & Grill House',
 'outcode': 'B21',
 'postcode': '9SE',
 'rating': 1,
 'type_of_food': 'Chicken'}

In [115]:
c.find_one({"rating": {"$gt": 2}})

{'_id': ObjectId('55f14312c7447c3da7051b26'),
 'URL': 'http://www.just-eat.co.uk/restaurants-cn-chinese-cardiff/menu',
 'address': '228 City Road',
 'address line 2': 'Cardiff',
 'name': '.CN Chinese',
 'outcode': 'CF24',
 'postcode': '3JH',
 'rating': 5,
 'type_of_food': 'Chinese'}

### `exists`

In [116]:
c.find_one({"address line 2": {"$exists": True}})

{'_id': ObjectId('55f14312c7447c3da7051b26'),
 'URL': 'http://www.just-eat.co.uk/restaurants-cn-chinese-cardiff/menu',
 'address': '228 City Road',
 'address line 2': 'Cardiff',
 'name': '.CN Chinese',
 'outcode': 'CF24',
 'postcode': '3JH',
 'rating': 5,
 'type_of_food': 'Chinese'}

In [209]:
c.find_one({"address line 2": {"$exists": False}})

{'_id': ObjectId('55f14312c7447c3da7051cec'),
 'URL': 'http://www.just-eat.co.uk/restaurants-aldixifriedchicken-b21/menu',
 'address': '343 Soho Road',
 'name': 'Al Dixi Fried Chicken & Grill House',
 'outcode': 'B21',
 'postcode': '9SE',
 'rating': 1,
 'type_of_food': 'Chicken'}

### `regex`

In [157]:
list(c.find({"name": {"$regex": ".*Halal.*"}}, {"name": 1, "_id": 0}))

[{'name': 'Acha Halal Chinese Cuisine'},
 {'name': 'Beirut Lebanese Halal Restaurant'},
 {'name': 'Beirut Lebanese Halal Restaurant'}]

In [162]:
list(c.find({"rating": 5, "name": {"$regex": ".*\d.*"}}, {"name": 1, "_id": 0}))

[{'name': '100 Degrees Chinese Restaurant'},
 {'name': '100 Menu'},
 {'name': '104 Turkish BBQ'},
 {'name': '109 Ristorante'},
 {'name': '1A Wok'},
 {'name': '23rd Street Pizza'},
 {'name': '241 Pizza'},
 {'name': '23rd Street Pizza'},
 {'name': '2-4-1 Pizza'},
 {'name': '2-4-1 Pizza'},
 {'name': '3 In 1 Dunoon'},
 {'name': '333 Chinese Takeaway'},
 {'name': '333 Chinese Takeaway'},
 {'name': '328 Chinese Online'},
 {'name': '4 in 1 Express'},
 {'name': '5 In 1 Takeaway'},
 {'name': '4 Seasons Pizza & Grill'},
 {'name': '5 Star Chinese'},
 {'name': '5 Star Chinese'},
 {'name': '5 Star Fish Bar'},
 {'name': '5 Star Pizza'},
 {'name': '5 Star Pizza'},
 {'name': '5 Star Pizza'},
 {'name': '62 Worksop Fish Bar'},
 {'name': '7 Spices'},
 {'name': '7 Spices'},
 {'name': '88 Chinese'},
 {'name': '888 Triple Eight'},
 {'name': '9th Kitchen'},
 {'name': '9 Inch CFC'},
 {'name': '888 Chinese Takeaway'},
 {'name': 'A1 Pizzas'},
 {'name': "A1 Rice 'N' Spice"},
 {'name': 'Aladdin Hot 4 You'},
 {'name': 'Allens Fried Chicken M8'},
 {'name': 'Alternative Takeaway 2'},
 {'name': 'Amici Miei2go.'},
 {'name': 'Amici Miei2go.'},
 {'name': 'At28'},
 {'name': 'Balti 2000'},
 {'name': 'Best Kebab 1'},
 {'name': 'Bilston No1'},
 {'name': 'Bilston No1'},
 {'name': 'Birashwamys Est 1970'}]

In [163]:
list(c.find({"rating": 5, "name": {"$regex": ".*\d$"}}, {"name": 1, "_id": 0}))

[{'name': 'Allens Fried Chicken M8'},
 {'name': 'Alternative Takeaway 2'},
 {'name': 'At28'},
 {'name': 'Balti 2000'},
 {'name': 'Best Kebab 1'},
 {'name': 'Bilston No1'},
 {'name': 'Bilston No1'},
 {'name': 'Birashwamys Est 1970'}]

### `and`

`find` dictionary with several keys is already performing an `$and` operation

In [167]:
list(c.find({"rating": 4, "type_of_food": "Chinese"}, {"name": 1, "rating": 1, "_id": 0}))

[{'name': '88 Noodle Bar', 'rating': 4},
 {'name': 'Amazing', 'rating': 4},
 {'name': 'Arirang', 'rating': 4},
 {'name': 'Arirang', 'rating': 4},
 {'name': 'Arirang', 'rating': 4},
 {'name': 'Arirang', 'rating': 4},
 {'name': 'Arirang', 'rating': 4},
 {'name': 'Arirang', 'rating': 4},
 {'name': 'Beijing Chinese', 'rating': 4},
 {'name': 'Beijing Chinese Restaurant', 'rating': 4}]

Alternatively...  
`find({"$and": [cond1, cond2]})`

In [178]:
pd.DataFrame(c.find(
    {"$and": [
        {"rating": 4},
        {"type_of_food": "Chinese"}
    ]},
    {"name": 1, "rating": 1, "type_of_food": 1, "_id": 0}
))

                         name  rating type_of_food
0               88 Noodle Bar       4      Chinese
1                     Amazing       4      Chinese
2                     Arirang       4      Chinese
3                     Arirang       4      Chinese
4                     Arirang       4      Chinese
5                     Arirang       4      Chinese
6                     Arirang       4      Chinese
7                     Arirang       4      Chinese
8             Beijing Chinese       4      Chinese
9  Beijing Chinese Restaurant       4      Chinese

### `or`

Alternatively...  
`find({"$or": [cond1, cond2]})`

In [177]:
pd.DataFrame(c.find(
    {"$or": [
        {"rating": 6},
        {"type_of_food": "Chinese"}
    ]},
    {"name": 1, "rating": 1, "type_of_food": 1, "_id": 0}
)).sample(10)

                                           name  rating type_of_food
50                                      Amazing     4.0      Chinese
41                        Aji - Collection Only     6.0     Japanese
104  Atash Persian Restaurant - Collection Only     6.0      Persian
9                                  007 Takeaway     6.0        Pizza
116                               Bamboo Garden     4.5      Chinese
15                        333 Chinese Takeaway1     4.5      Chinese
62                         Angel Garden Chinese     5.0      Chinese
220                                    Blessing     5.5      Chinese
215                              Black Elephant     5.5      Chinese
83                                  Aroma House     5.5      Chinese

### `ne`

Not equal

In [181]:
c.find_one({"type_of_food": {"$ne": "Chinese"}})

{'_id': ObjectId('55f14312c7447c3da7051b27'),
 'URL': 'http://www.just-eat.co.uk/restaurants-atthai-ss9/menu',
 'address': '376 Rayleigh Road',
 'address line 2': 'Essex',
 'name': '@ Thai',
 'outcode': 'SS9',
 'postcode': '5PT',
 'rating': 5.5,
 'type_of_food': 'Thai'}

### `in`

In [194]:
df = pd.DataFrame(c.find({"rating": {"$in": [1, 2, 3]}}, {"rating": 1, "name": 1}))

In [195]:
df.head()

                        _id                                 name  rating
0  55f14312c7447c3da7051b2e                 042 Restaurant & Bar       3
1  55f14312c7447c3da7051b2d                 042 Restaurant & Bar       3
2  55f14312c7447c3da7051b2c                 042 Restaurant & Bar       3
3  55f14312c7447c3da7051cec  Al Dixi Fried Chicken & Grill House       1
4  55f14312c7447c3da7051ceb  Al Dixi Fried Chicken & Grill House       1

In [196]:
df.rating.value_counts()

3    16
1     5
2     3
Name: rating, dtype: int64

### `nin`

Not in

In [197]:
df = pd.DataFrame(c.find({"rating": {"$nin": [1, 2, 3]}}, {"rating": 1, "name": 1}))

In [198]:
df.head()

                        _id                            name rating
0  55f14312c7447c3da7051b26                     .CN Chinese      5
1  55f14312c7447c3da7051b27                          @ Thai    5.5
2  55f14312c7447c3da7051b2f                   1 2 3 Chinese    4.5
3  55f14312c7447c3da7051b31  100 Degrees Chinese Restaurant      5
4  55f14312c7447c3da7051b32                        100 Menu      5

In [199]:
df.rating.value_counts()

5                1107
5.5               600
4.5               472
4                 167
Not yet rated      63
3.5                51
6                  49
2.5                13
1.5                 2
Name: rating, dtype: int64

## Update

Careful, this cannot be undone!!

`.update_many(condition, update)`

`update` may `$set` a field value or `$unset` it

In [217]:
c.find_one({"rating": 1})

{'_id': ObjectId('55f14312c7447c3da7051cec'),
 'URL': 'http://www.just-eat.co.uk/restaurants-aldixifriedchicken-b21/menu',
 'address': '343 Soho Road',
 'name': 'Al Dixi Fried Chicken & Grill House',
 'outcode': 'B21',
 'postcode': '9SE',
 'rating': 1,
 'type_of_food': 'Chicken'}

In [215]:
c.update_many({"rating": 1}, {"$set": {"rating": 0}})

In [217]:
c.find_one({"rating": 1})

{'_id': ObjectId('55f14312c7447c3da7051cec'),
 'URL': 'http://www.just-eat.co.uk/restaurants-aldixifriedchicken-b21/menu',
 'address': '343 Soho Road',
 'name': 'Al Dixi Fried Chicken & Grill House',
 'outcode': 'B21',
 'postcode': '9SE',
 'rating': 1,
 'type_of_food': 'Chicken'}

In [206]:
c.update_many({"rating": 0}, {"$unset": {"type_of_food": ""}})

In [217]:
c.find_one({"rating": 0})

{'_id': ObjectId('55f14312c7447c3da7051cec'),
 'URL': 'http://www.just-eat.co.uk/restaurants-aldixifriedchicken-b21/menu',
 'address': '343 Soho Road',
 'name': 'Al Dixi Fried Chicken & Grill House',
 'outcode': 'B21',
 'postcode': '9SE',
 'rating': 1,
 'type_of_food': 'Chicken'}

## Delete

In [219]:
c.count_documents({})

2548

In [220]:
c.count_documents({"rating": 2})

3

In [ ]:
c.delete_many({"rating": 2})

In [220]:
c.count_documents({"rating": 2})

3

## Summary

 * use `find_one` to have an idea of document structure
 * `find` returns a Cursor, not a list
 * project helps you return only required information

 * `count_documents`, `distinct`, `sort`, `limit`, `skip` are frequently used
 * there are many query operators, preceded by `$`

Careful
 * you can `delete`
 * you can `update`

## Further materials

[MongoDB manual](https://docs.mongodb.com/manual/)

[pymongo documentation](https://pymongo.readthedocs.io/en/stable/)